Repository margielamob/Cherches-Trouves-Gagnes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_angular_client

.gitlab-ci.yml:

image: node:14

.only-angular_client: &only-angular_client
  only:
    refs:
      - main
      - merge_requests
    changes:
      - client/**/*
      - common/**/*

.only-backend: &only-backend
  only:
    refs:
      - main
      - merge_requests
    changes:
      - server/**/*
      - common/**/*

stages:
  - build_angular_client
  - build_backend

build_backend:
  stage: build_backend
  <<: *only-backend
  script:
    - echo "building the server..."
    - cd server
    - npm ci
    - npm run build

build_angular_client:
  stage: build_angular_client
  <<: *only-angular_client
  script:
    - echo "building the angular client..."
    - cd client
    - npm ci
    - npm install -g @angular/cli
    - ng build

implemented queue
  client/src/app/components/chat-box/chat-box.component.ts
  client/src/app/components/differences-area/differences-area.component.ts
  client/src/app/components/replay-buttons/replay-buttons.component.html
  client/src/app/components/replay-buttons/replay-buttons.component.ts
  client/src/app/interfaces/replay-actions.ts
  client/src/app/services/cheat-mode/cheat-mode.service.ts
  client/src/app/services/differences-detection-handler/differences-detection-handler.service.ts
  client/src/app/services/game-information-handler/game-information-handler.service.ts
  client/src/app/services/replay-service/event-queue.ts
  client/src/app/services/replay-service/replay2.service.ts
Due: build_angular_client

quitting in lobby supported
  client/src/app/components/game-card-buttons/game-card-buttons.component.ts
  client/src/app/pages/waiting-room/waiting-room.component.html
  client/src/app/pages/waiting-room/waiting-room.component.ts
  client/src/app/services/game-information-handler/game-information-handler.service.ts
  common/socket-event.ts
  server/app/classes/game/game.ts
  server/app/services/game-manager-service/game-manager.service.ts
  server/app/services/socket-manager-service/socket-manager-service.service.ts
  server/app/services/timer-service/timer.service.ts
Due: build_backend, build_angular_client

events are intercepted with sockets
  client/src/app/components/chat-box/chat-box.component.ts
  client/src/app/components/dialog-game-over/dialog-game-over.component.ts
  client/src/app/components/play-area/play-area.component.ts
  client/src/app/components/replay-buttons/replay-buttons.component.ts
  client/src/app/enums/replay-actions.ts
  client/src/app/interfaces/replay-actions.ts
  client/src/app/interfaces/replay-interval.ts
  client/src/app/services/capture-service/capture.service.ts
  client/src/app/services/cheat-mode/cheat-mode.service.ts
  client/src/app/services/differences-detection-handler/differences-detection-handler.service.ts
  client/src/app/services/game-information-handler/game-information-handler.service.ts
  client/src/app/services/replay-service/event-queue.ts
  client/src/app/services/replay-service/replay-interfaces.ts
  client/src/app/services/replay-service/replay.service.ts
  client/src/app/services/replay-service/replay2.service.ts
  common/socket-event.ts
  server/app/services/socket-manager-service/socket-manager-service.service.ts
Due: build_backend, build_angular_client

Fix launch on Samsung TAB
  flutter/app/android/app/build.gradle
Due: none

removing ended games from the list
  client/src/app/pages/waiting-room/waiting-room.component.ts
  client/src/app/services/joinable-game/joinable-game.service.ts
  common/socket-event.ts
  server/app/services/game-manager-service/game-manager.service.ts
  server/app/services/socket-manager-service/socket-manager-service.service.ts
Due: build_backend, build_angular_client

Bugfix/language and theme config
  client/src/app/components/user-profil-information/user-profil-information.component.ts
  client/src/app/pages/sign-up-page/sign-up-page.component.ts
  client/src/app/services/language-service/languag.service.ts
Due: build_angular_client

Refactor the layout of GameVignettes client léger
  flutter/app/lib/components/current_players.dart
  flutter/app/lib/components/game_vignette.dart
  flutter/app/lib/components/game_vignette_modified.dart
  flutter/app/lib/components/game_vignette_original.dart
  flutter/app/lib/components/modified_game_vignette.dart
  flutter/app/lib/components/original_game_vignette.dart
  flutter/app/lib/domain/services/http_service.dart
  flutter/app/lib/domain/services/socket_service.dart
  flutter/app/lib/domain/utils/base_url.dart
  flutter/app/lib/domain/utils/test_data.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/classic_game_page.dart
  flutter/app/lib/pages/main_page.dart
Due: none

Handle coordinates click
  flutter/app/assets/sounds/correctanswer.wav
  flutter/app/assets/sounds/wronganswer.wav
  flutter/app/lib/components/game_vignette_modified.dart
  flutter/app/lib/components/game_vignette_original.dart
  flutter/app/lib/domain/services/sound_service.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/classic_game_page.dart
  flutter/app/linux/flutter/generated_plugin_registrant.cc
  flutter/app/linux/flutter/generated_plugins.cmake
  flutter/app/macos/Flutter/GeneratedPluginRegistrant.swift
  flutter/app/pubspec.lock
  flutter/app/pubspec.yaml
  flutter/app/windows/flutter/generated_plugin_registrant.cc
  flutter/app/windows/flutter/generated_plugins.cmake
Due: none

Feature/game creation 2 players
  flutter/app/lib/components/carousel_bottom_classic.dart
  flutter/app/lib/domain/models/create_game_model.dart
  flutter/app/lib/domain/models/create_game_request.dart
  flutter/app/lib/domain/models/game_mode_model.dart
  flutter/app/lib/domain/models/game_mode_request_model.dart
  flutter/app/lib/domain/models/waiting_game_model.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/services/socket_service.dart
  flutter/app/lib/domain/utils/game.dart
  flutter/app/lib/domain/utils/game_mode.dart
  flutter/app/lib/domain/utils/score_type.dart
  flutter/app/lib/domain/utils/socket_events.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/main_page.dart
  flutter/app/pubspec.lock
  server/app/services/socket-manager-service/socket-manager-service.service.ts
Due: build_backend

Fix issue with sound service on tablet
  flutter/app/lib/domain/services/sound_service.dart
  flutter/app/lib/domain/utils/base_url.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/classic_game_page.dart
Due: none

historique done
  client/src/app/app.module.ts
  client/src/app/components/chat-panel/chat-list/chat-list.component.html
  client/src/app/components/chat-panel/chat-list/chat-list.component.scss
  client/src/app/components/chat-panel/chat-list/chat-list.component.ts
  client/src/app/components/chat-panel/room-add/room-add.component.ts
  client/src/app/components/chat-panel/room-card/room-card.component.html
  client/src/app/components/chat-panel/room-card/room-card.component.scss
  client/src/app/components/chat-panel/room-card/room-card.component.ts
  client/src/app/components/chat-panel/room-create/room-create.component.html
  client/src/app/modules/material.module.ts
  client/src/app/services/chat-service/chat-manager.service.ts
  client/src/app/services/user-service/user.service.ts
  common/chat.ts
  common/socket-event.ts
  server/app/services/socket-manager-service/chat.service.ts
Due: build_backend, build_angular_client

Example of tests for model
  flutter/app/lib/components/carousel.dart
  flutter/app/lib/components/carousel_bottom_classic.dart
  flutter/app/lib/components/carousel_card.dart
  flutter/app/lib/domain/models/waiting_game_model.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/utils/base_url.dart
  flutter/app/test/model/waiting_game_test.dart
Due: none

merge with dev, test the PlauGameModel that should receive the correct info of...
  flutter/app/lib/domain/models/game_model.dart
  flutter/app/lib/domain/models/play_game_model.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/test/model/game_model_test.dart
Due: none

Feature/change user name
  client/src/app/app.module.ts
  client/src/app/components/dialog-change-name/dialog-change-name.component.html
  client/src/app/components/dialog-change-name/dialog-change-name.component.scss
  client/src/app/components/dialog-change-name/dialog-change-name.component.ts
  client/src/app/components/user-profil-information/user-profil-information.component.html
  client/src/app/components/user-profil-information/user-profil-information.component.scss
  client/src/app/components/user-profil-information/user-profil-information.component.ts
  client/src/app/services/user-service/user.service.ts
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

Renamin request to specify that it's a request
  flutter/app/lib/domain/models/game_info_request.dart
  flutter/app/lib/domain/models/game_model_request.dart
  flutter/app/lib/domain/models/play_game_model.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/test/model/game_info_request_test.dart
  flutter/app/test/model/game_info_request_test.data.dart
  flutter/app/test/model/game_model_test.dart
Due: none

Refactor models and requests
  flutter/app/lib/domain/models/create_game_model.dart
  flutter/app/lib/domain/models/game_card_multi_model.dart
  flutter/app/lib/domain/models/game_image_model.dart
  flutter/app/lib/domain/models/requests/carousel_request.dart
  flutter/app/lib/domain/models/requests/create_game_request.dart
  flutter/app/lib/domain/models/requests/game_info_request.dart
  flutter/app/lib/domain/models/requests/game_mode_request.dart
  flutter/app/lib/domain/services/carousel_service.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/services/http_service.dart
  flutter/app/test/model/carousel_request_test.dart
  flutter/app/test/model/game_info_request_test.dart
  flutter/app/test/service/carouselle_service_test.dart
Due: none

createGameMulti event and WitPlayer Event
  flutter/app/lib/components/carousel_bottom_classic.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/utils/socket_events.dart
Due: none

merge suite
  server/app/services/socket-manager-service/chat.service.ts
  server/app/services/socket-manager-service/game-creation.service.ts
  server/app/services/socket-manager-service/game-state.service.ts
  server/app/services/socket-manager-service/gameplay.service.ts
Due: build_backend

Requests sockets
  flutter/app/lib/components/carousel_bottom_classic.dart
  flutter/app/lib/domain/models/game_model.dart
  flutter/app/lib/domain/models/requests/create_game_request.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/utils/game.dart
  flutter/app/lib/pages/main_page.dart
  flutter/app/test/models/create_game_request_test.dart
Due: none

Bug fix: lorsqu'on reçoit une notification des sockets, on doit mettre la vue à jour.
  flutter/app/lib/components/carousel_bottom_classic.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/main.dart
Due: none

Add new events to handle on the socket side
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/utils/socket_events.dart
Due: none

Feature/handle socket events
  flutter/app/lib/domain/models/requests/accept_player_request.dart
  flutter/app/lib/domain/models/requests/join_game_request.dart
  flutter/app/lib/domain/models/requests/leave_game_request.dart
  flutter/app/lib/domain/models/requests/leave_waiting_request.dart
  flutter/app/lib/domain/models/requests/reject_player_request.dart
  flutter/app/lib/domain/models/requests/user_request.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/utils/socket_events.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/game_selection_page.dart
  flutter/app/lib/pages/waiting_page.dart
Due: none

create a modal to ask player to accept or decline player
  flutter/app/lib/components/accept_player_modal.dart
  flutter/app/lib/pages/game_selection_page.dart
Due: none

fixed name issue and scores
  client/src/app/components/differences-area/differences-area.component.html
  client/src/app/components/differences-area/differences-area.component.ts
  client/src/app/components/play-area/play-area.component.ts
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/services/differences-detection-handler/differences-detection-handler.service.ts
  client/src/app/services/game-information-handler/game-information-handler.service.ts
  server/app/services/difference-service/difference.service.ts
  server/app/services/socket-manager-service/socket-manager-service.service.ts
Due: build_backend, build_angular_client

fixed tests
  client/src/app/components/chat-box/chat-box.component.spec.ts
  client/src/app/components/clues-area/clues-area.component.spec.ts
  client/src/app/components/dialog-set-up-game/dialog-set-up-game/dialog-set-up-game.component.spec.ts
  client/src/app/components/differences-area/differences-area.component.spec.ts
  client/src/app/components/exit-game-button/exit-game-button.component.spec.ts
  client/src/app/components/game-card-buttons/game-card-buttons.component.spec.ts
  client/src/app/components/game-card/game-card.component.spec.ts
  client/src/app/components/play-area/play-area.component.spec.ts
  client/src/app/components/rejected-dialog/rejected-dialog.component.spec.ts
  client/src/app/components/sidebar/sidebar.component.spec.ts
  client/src/app/pages/game-page/game-page.component.spec.ts
  client/src/app/pages/waiting-room/waiting-room.component.spec.ts
  client/src/app/services/cheat-mode/cheat-mode.service.spec.ts
  client/src/app/services/differences-detection-handler/differences-detection-handler.service.spec.ts
  client/src/app/services/game-information-handler/game-information-handler.service.spec.ts
  server/app/classes/game/game.spec.ts
  server/app/services/difference-service/difference.spec.ts
  server/app/services/game-info-service/game-info.service.spec.ts
  server/app/services/game-manager-service/game-manager.service.spec.ts
  server/app/services/multiplayer-game-manager/multiplayer-game-manager.service.spec.ts
  server/app/services/socket-manager-service/socket-manager-service.service.spec.ts
  server/app/services/socket-manager-service/socket-manager-service.service.ts
  server/app/services/timer-service/timer.service.spec.ts
Due: build_backend, build_angular_client

started gamechat
  server/app/services/socket-manager-service/chat.service.ts
  server/app/services/socket-manager-service/socket-manager-service.service.ts
Due: build_backend

Feature/handle socket events
  flutter/app/lib/domain/models/requests/join_game_request.dart
  flutter/app/lib/domain/models/requests/join_game_send_request.dart
  flutter/app/lib/domain/models/requests/play_receive_request.dart
  flutter/app/lib/domain/models/requests/user_request.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/pages/waiting_page.dart
Due: none

Sulayman forgot to merge the files when merging with dev
  flutter/app/lib/domain/models/requests/join_game_request.dart
  flutter/app/lib/domain/models/requests/user_request.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/pages/waiting_page.dart
Due: none

Feature/reset password
  client/src/app/app.module.ts
  client/src/app/components/dialog-confirm-reset-password/dialog-confirm-reset-password.component.html
  client/src/app/components/dialog-confirm-reset-password/dialog-confirm-reset-password.component.scss
  client/src/app/components/dialog-confirm-reset-password/dialog-confirm-reset-password.component.ts
  client/src/app/components/page-header/page-header.component.html
  client/src/app/components/page-header/page-header.component.spec.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/pages/login-page/login-page.component.html
  client/src/app/pages/login-page/login-page.component.scss
  client/src/app/pages/reset-password/reset-password.component.html
  client/src/app/pages/reset-password/reset-password.component.scss
  client/src/app/pages/reset-password/reset-password.component.ts
  client/src/app/services/authentication-service/authentication.service.ts
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

Link play request to playable game
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/classic_game_page.dart
Due: none

Link play request to playable game
  flutter/app/lib/components/carousel_bottom_classic.dart
  flutter/app/lib/domain/services/difference_detection_service.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/pages/classic_game_page.dart
Due: none

saving changes
  client/src/app/components/play-area/play-area.component.ts
  client/src/app/components/replay-buttons/replay-buttons.component.ts
  client/src/app/services/differences-detection-handler/differences-detection-handler.service.ts
  client/src/app/services/mouse-handler/mouse-handler.service.spec.ts
  client/src/app/services/mouse-handler/mouse-handler.service.ts
  client/src/app/services/replay-service/replay-interfaces.ts
  client/src/app/services/replay-service/replay2.service.ts
  server/app/services/socket-manager-service/socket-manager-service.service.ts
Due: build_backend, build_angular_client

save dir
  flutter/app/lib/components/carousel_bottom_classic.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/services/providers/game_manager_provider.dart
  flutter/app/lib/main.dart
Due: none

gamechat interface
  client/src/app/components/chat-panel/chat-feed/chat-feed.component.ts
  server/app/services/socket-manager-service/chat.service.ts
  server/app/services/socket-manager-service/game-creation.service.ts
  server/app/services/socket-manager-service/gameplay.service.ts
Due: build_backend, build_angular_client

Bug fix: lorsque le client léger envoie une coordonnée, elle ne retourne pas de différences.
  flutter/app/lib/components/game_vignette_modified.dart
  flutter/app/lib/components/game_vignette_original.dart
  flutter/app/lib/domain/services/difference_detection_service.dart
  flutter/app/lib/domain/utils/vec2.dart
  flutter/app/test/models/vec2_test.dart
Due: none

replay broken
  client/src/app/app.module.ts
  client/src/app/components/dialog-game-over/dialog-game-over.component.html
  client/src/app/components/play-area/play-area.component.ts
  client/src/app/components/replay-buttons/replay-buttons.component.html
  client/src/app/components/replay-buttons/replay-buttons.component.scss
  client/src/app/components/replay-buttons/replay-buttons.component.spec.ts
  client/src/app/components/replay-buttons/replay-buttons.component.ts
  client/src/app/services/differences-detection-handler/differences-detection-handler.service.ts
  client/src/app/services/mouse-handler/mouse-handler.service.ts
  client/src/app/services/replay-service/event-queue.ts
  client/src/app/services/replay-service/replay-interfaces.ts
  client/src/app/services/replay-service/replay2.service.ts
  common/socket-event.ts
  server/app/services/socket-manager-service/socket-manager-service.service.ts
Due: build_backend, build_angular_client

removing useless functs
  client/src/app/services/replay-service/replay2.service.ts
Due: build_angular_client

Client leger able to create a game that can be join, client leger able to quit...
  flutter/app/lib/components/carousel_bottom_classic.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/pages/classic_game_page.dart
  flutter/app/lib/pages/waiting_page.dart
Due: none
