Repository margielamob/Cherches-Trouves-Gagnes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_angular_client

.gitlab-ci.yml:

image: node:14

.only-angular_client: &only-angular_client
  only:
    refs:
      - main
      - merge_requests
    changes:
      - client/**/*
      - common/**/*

.only-backend: &only-backend
  only:
    refs:
      - main
      - merge_requests
    changes:
      - server/**/*
      - common/**/*

stages:
  - build_angular_client
  - build_backend

build_backend:
  stage: build_backend
  <<: *only-backend
  script:
    - echo "building the server..."
    - cd server
    - npm ci
    - npm run build

build_angular_client:
  stage: build_angular_client
  <<: *only-angular_client
  script:
    - echo "building the angular client..."
    - cd client
    - npm ci
    - npm install -g @angular/cli
    - ng build

Fix/affichage des differences
  flutter/app/lib/components/game_vignette_modified.dart
  flutter/app/lib/components/game_vignette_original.dart
  flutter/app/lib/domain/services/difference_detection_service.dart
  flutter/app/lib/main.dart
Due: none

fixed the sound
  flutter/app/lib/components/game_vignette_modified.dart
  flutter/app/lib/components/game_vignette_original.dart
  flutter/app/lib/domain/services/difference_detection_service.dart
  flutter/app/lib/domain/services/sound_service.dart
  flutter/app/lib/main.dart
Due: none

handle end game possibilities
  flutter/app/lib/components/carousel_bottom_classic.dart
  flutter/app/lib/components/end_game_dialog.dart
  flutter/app/lib/domain/services/end_game_service.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/classic_game_page.dart
Due: none

handle end game possibilities
  flutter/app/lib/components/end_game_dialog.dart
Due: none

Feature/handle win lose
  flutter/app/lib/components/carousel_bottom_classic.dart
  flutter/app/lib/components/end_game_dialog.dart
  flutter/app/lib/domain/services/end_game_service.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/classic_game_page.dart
Due: none

adjust modal themes
  client/src/app/components/dialog-create-game/dialog-create-game.component.html
  client/src/app/components/dialog-create-game/dialog-create-game.component.ts
  client/src/app/components/dialog-delete-account/dialog-delete-account.component.html
  client/src/app/components/dialog-delete-account/dialog-delete-account.component.scss
  client/src/app/components/dialog-user-avatar/dialog-user-avatar.component.html
  client/src/app/components/dialog-user-avatar/dialog-user-avatar.component.ts
  client/src/app/components/game-constants-settings/game-constants-settings.component.html
  client/src/app/components/game-constants-settings/game-constants-settings.component.ts
  client/src/app/components/loading-screen/loading-screen.component.html
  client/src/app/components/loading-screen/loading-screen.component.ts
  client/src/app/components/page-header/page-header.component.html
  client/src/app/components/page-header/page-header.component.ts
  client/src/app/pages/waiting-room/waiting-room.component.html
Due: build_angular_client

finished gamechat, search, and added user service for server
  client/src/app/components/chat-panel/chat-button/chat-button.component.ts
  client/src/app/components/chat-panel/room-add/room-add.component.html
  client/src/app/components/chat-panel/room-add/room-add.component.scss
  client/src/app/components/chat-panel/room-add/room-add.component.ts
  client/src/app/components/dialog-game-over/dialog-game-over.component.ts
  client/src/app/components/exit-game-button/exit-game-button.component.html
  client/src/app/components/exit-game-button/exit-game-button.component.ts
  client/src/app/pages/login-page/login-page.component.ts
  client/src/app/pages/main-page/main-page.component.ts
  client/src/app/pages/waiting-room/waiting-room.component.ts
  client/src/app/services/chat-service/chat-manager.service.ts
  common/socket-event.ts
  server/app/services/socket-manager-service/chat.service.ts
  server/app/services/socket-manager-service/game-creation.service.ts
  server/app/services/socket-manager-service/socket-manager-service.service.ts
  server/app/services/socket-manager-service/user-manager.service.ts
Due: build_backend, build_angular_client

add current player
  flutter/app/lib/components/current_players.dart
  flutter/app/lib/domain/services/players_service.dart
Due: none

replay fonctionnel sur cheat mode
  client/src/app/components/play-area/play-area.component.ts
  client/src/app/components/replay-buttons/replay-buttons.component.ts
  client/src/app/services/cheat-mode/cheat-mode.service.ts
  client/src/app/services/differences-detection-handler/differences-detection-handler.service.ts
  client/src/app/services/game-information-handler/game-information-handler.service.ts
  client/src/app/services/replay-service/replay-interfaces.ts
  client/src/app/services/replay-service/replay.service.ts
  common/socket-event.ts
  server/app/classes/game/game.ts
  server/app/services/difference-service/difference.service.ts
  server/app/services/game-manager-service/game-manager.service.ts
  server/app/services/socket-manager-service/socket-manager-service.service.ts
Due: build_backend, build_angular_client

fixed bug causing infinite replay
  client/src/app/components/dialog-game-over/dialog-game-over.component.html
  client/src/app/components/dialog-game-over/dialog-game-over.component.scss
  client/src/app/components/dialog-game-over/dialog-game-over.component.ts
  client/src/app/components/play-area/play-area.component.ts
  client/src/app/components/replay-buttons/replay-buttons.component.ts
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/services/cheat-mode/cheat-mode.service.ts
  client/src/app/services/replay-service/event-queue.ts
  client/src/app/services/replay-service/replay.service.ts
Due: build_angular_client

replay is now backed up, redo available
  client/src/app/components/replay-buttons/replay-buttons.component.ts
  client/src/app/components/timer-stopwatch/timer-stopwatch.component.ts
  client/src/app/services/replay-service/event-queue.ts
  client/src/app/services/replay-service/replay.service.ts
Due: build_angular_client

can now set speeds
  client/src/app/components/replay-buttons/replay-buttons.component.html
  client/src/app/components/replay-buttons/replay-buttons.component.ts
  client/src/app/services/replay-service/replay.service.ts
Due: build_angular_client

Feat/faire clignoter les differences
  flutter/app/lib/components/game_vignette_modified.dart
  flutter/app/lib/components/game_vignette_original.dart
  flutter/app/lib/domain/services/difference_detection_service.dart
  flutter/app/lib/domain/services/sound_service.dart
Due: none

make the button more familiar with heavy client
  flutter/app/lib/pages/main_page.dart
Due: none

moved function to gameplay service
  client/src/app/components/replay-buttons/replay-buttons.component.ts
  server/app/services/socket-manager-service/gameplay.service.ts
Due: build_backend, build_angular_client

env prod
  client/src/environments/environment.prod.ts
  client/src/environments/environment.ts
Due: build_angular_client

package electron
  client/package.json
Due: build_angular_client

added forge config
  .gitignore
  client/forge.config.js
  client/package.json
  client/src/environments/environment.ts
Due: build_angular_client

fixed create chat room
  client/src/app/components/chat-panel/room-add/room-add.component.ts
  client/src/app/components/chat-panel/room-card/room-card.component.html
  client/src/app/components/chat-panel/room-card/room-card.component.scss
  client/src/app/services/chat-service/chat-manager.service.ts
  server/app/services/socket-manager-service/chat.service.ts
Due: build_backend, build_angular_client

removed jouer button
  client/src/app/components/game-card-buttons/game-card-buttons.component.html
Due: build_angular_client

Fix/navigation
  flutter/app/lib/components/custom_app_bar.dart
  flutter/app/lib/components/end_game_dialog.dart
  flutter/app/lib/components/logout_dialog.dart
  flutter/app/lib/domain/services/app_bar_service.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/pages/admin_page.dart
  flutter/app/lib/pages/classic_game_page.dart
  flutter/app/lib/pages/game_selection_page.dart
  flutter/app/lib/pages/login_page.dart
  flutter/app/lib/pages/main_page.dart
  flutter/app/lib/pages/waiting_page.dart
Due: none

Delete problematic .spec.ts files
  server/app/classes/game/game.spec.ts
  server/app/services/game-info-service/game-info.service.spec.ts
  server/app/services/game-manager-service/game-manager.service.spec.ts
  server/app/services/multiplayer-game-manager/multiplayer-game-manager.service.spec.ts
  server/app/services/socket-manager-service/socket-manager-service.service.spec.ts
Due: build_backend

solve test of timerService
  server/app/services/timer-service/timer.service.spec.ts
Due: build_backend

create a replay service with a list of events
  flutter/app/lib/domain/models/event_queue.dart
  flutter/app/lib/domain/services/replay_service.dart
  flutter/app/test/service/replay_service_test.dart
Due: none

add a replayState
  flutter/app/lib/domain/models/replay_state.dart
  flutter/app/lib/domain/services/replay_service.dart
  flutter/app/test/service/replay_service_test.dart
Due: none

add a list of replayEvent to the event Queue so that we can have a list of events
  flutter/app/lib/domain/models/event_queue.dart
  flutter/app/lib/domain/models/replay_event.dart
  flutter/app/test/models/event_queue_test.dart
Due: none

the replayEvents now have a timeStamp
  flutter/app/lib/domain/models/replay_event.dart
  flutter/app/test/models/replay_event_test.dart
Due: none

apply linter on client side
  client/src/app/pages/join-game-selection/join-game-selection.component.spec.ts
  client/src/app/services/joinable-game/joinable-game.service.spec.ts
Due: build_angular_client

it's all right, 4 parameters
  client/src/app/services/differences-detection-handler/differences-detection-handler.service.ts
  client/src/app/services/game-information-handler/game-information-handler.service.ts
Due: build_angular_client

fixed pipeline problems
  client/src/app/components/chat-panel/chat-overlay/chat-overlay.component.ts
  client/src/app/components/chat-panel/room-add/room-add.component.ts
  client/src/app/components/chat-panel/room-search/room-search.component.spec.ts
  client/src/app/components/dialog-game-over/dialog-game-over.component.spec.ts
  client/src/app/components/dialog-game-over/dialog-game-over.component.ts
  client/src/app/components/play-area/play-area.component.ts
  client/src/app/components/replay-buttons/replay-buttons.component.spec.ts
  client/src/app/components/replay-buttons/replay-buttons.component.ts
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/pages/join-game-selection/join-game-selection.component.spec.ts
  client/src/app/pages/main-page/main-page.component.spec.ts
  client/src/app/pages/waiting-room/waiting-room.component.ts
  client/src/app/services/chat-service/chat-manager.service.ts
  client/src/app/services/differences-detection-handler/differences-detection-handler.service.ts
  client/src/app/services/game-information-handler/game-information-handler.service.ts
  client/src/app/services/joinable-game/joinable-game.service.spec.ts
  client/src/app/services/mouse-handler/mouse-handler.service.spec.ts
  client/src/app/services/mouse-handler/mouse-handler.service.ts
  client/src/app/services/replay-service/replay.service.ts
  server/app/services/socket-manager-service/chat.service.ts
  server/app/services/socket-manager-service/game-creation.service.ts
  server/app/services/socket-manager-service/gameplay.service.ts
  server/app/services/timer-service/timer.service.spec.ts
Due: build_backend, build_angular_client

package lock
  client/package-lock.json
  server/package-lock.json
Due: build_backend, build_angular_client

removed empty test
  client/src/app/components/replay-buttons/replay-buttons.component.spec.ts
Due: build_angular_client

removed usless tests
  client/src/app/pages/main-page/main-page.component.spec.ts
  server/app/services/game-manager-service/game-manager.service.spec.ts
  server/app/services/socket-manager-service/user-manager.service.ts
Due: build_backend, build_angular_client

fixed timer
  server/app/services/game-manager-service/game-manager.service.ts
  server/app/services/timer-service/timer.service.ts
Due: build_backend

fixed timer
  server/app/services/game-manager-service/game-manager.service.spec.ts
  server/app/services/game-manager-service/game-manager.service.ts
  server/app/services/timer-service/timer.service.ts
Due: build_backend

createClassicGame
  flutter/app/lib/components/carousel_bottom_classic.dart
  flutter/app/lib/components/classic_game_dialog.dart
  flutter/app/lib/domain/models/classic_game_model.dart
  flutter/app/lib/domain/models/game_model.dart
  flutter/app/lib/domain/models/requests/create_classic_game_request.dart
  flutter/app/lib/domain/models/requests/create_game_request.dart
  flutter/app/lib/domain/models/requests/waiting_room_request.dart
  flutter/app/lib/domain/models/user.dart
  flutter/app/lib/domain/services/auth_service.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/utils/socket_events.dart
  flutter/app/lib/pages/main_page.dart
  flutter/app/test/models/create_game_request_test.dart
Due: none

removed play button for non-game creators
  client/src/app/components/game-card-buttons/game-card-buttons.component.ts
  client/src/app/pages/waiting-room/waiting-room.component.html
  client/src/app/pages/waiting-room/waiting-room.component.ts
  client/src/app/services/game-information-handler/game-information-handler.service.ts
Due: build_angular_client

fixed gameJoinable list
  server/app/services/socket-manager-service/game-state.service.ts
Due: build_backend
