Repository margielamob/Cherches-Trouves-Gagnes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_angular_client

.gitlab-ci.yml:

image: node:14

.only-angular_client: &only-angular_client
  only:
    refs:
      - main
      - merge_requests
    changes:
      - client/**/*
      - common/**/*

.only-backend: &only-backend
  only:
    refs:
      - main
      - merge_requests
    changes:
      - server/**/*
      - common/**/*

stages:
  - build_angular_client
  - build_backend

build_backend:
  stage: build_backend
  <<: *only-backend
  script:
    - echo "building the server..."
    - cd server
    - npm ci
    - npm run build

build_angular_client:
  stage: build_angular_client
  <<: *only-angular_client
  script:
    - echo "building the angular client..."
    - cd client
    - npm ci
    - npm install -g @angular/cli
    - ng build

deleted failed tests
  client/src/app/components/dialog-upload-form/dialog-upload-form.component.spec.ts
Due: build_angular_client

now can upload jpg and png
  client/src/app/components/dialog-upload-form/dialog-upload-form.component.html
  client/src/app/components/dialog-upload-form/dialog-upload-form.component.spec.ts
  client/src/app/components/dialog-upload-form/dialog-upload-form.component.ts
  client/src/app/constants/canvas.ts
  client/src/app/interfaces/image-correct.ts
  client/src/app/services/replay-service/replay.service.ts
Due: build_angular_client

add new_game_request
  flutter/app/lib/domain/models/requests/new_game_request.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/utils/socket_events.dart
Due: none

delete print()
  client/src/app/services/game-information-handler/game-information-handler.service.ts
  flutter/app/lib/components/limited_constants_dialog.dart
  flutter/app/lib/domain/services/game_manager_service.dart
Due: build_angular_client

make verification for base url
  flutter/app/lib/domain/utils/base_url.dart
  flutter/app/test/models/base_url_test.dart
Due: none

problem
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/services/reachable_games_manager.dart
  flutter/app/lib/pages/classic_game_page.dart
Due: none

wip
  client/src/app/app.module.ts
  client/src/app/components/search-bat/search-bat.component.html
  client/src/app/components/search-bat/search-bat.component.scss
  client/src/app/components/search-bat/search-bat.component.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/services/friend-request-service/friend-request.service.spec.ts
  client/src/app/services/friend-request-service/friend-request.service.ts
Due: build_angular_client

sending request works fine
  client/src/app/components/search-bat/search-bat.component.html
  client/src/app/components/search-bat/search-bat.component.scss
  client/src/app/components/search-bat/search-bat.component.ts
  client/src/app/services/friend-request-service/friend-request.service.ts
Due: build_angular_client

temps limitée sa race
  flutter/app/lib/domain/models/requests/new_game_request.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/pages/classic_game_page.dart
Due: none

Feat/vue creation game painting
  flutter/app/assets/eraser-icon-black.png
  flutter/app/assets/eraser-icon-white.png
  flutter/app/assets/image_not_working.png
  flutter/app/assets/swap-pictures-black.png
  flutter/app/assets/swap-pictures-white.png
  flutter/app/lib/components/drawing_canvas.dart
  flutter/app/lib/components/drawing_canvas_left.dart
  flutter/app/lib/components/drawing_canvas_right.dart
  flutter/app/lib/components/menu_between_canvas.dart
  flutter/app/lib/components/menu_under_canvas.dart
  flutter/app/lib/components/no_game_card.dart
  flutter/app/lib/components/pencil_box.dart
  flutter/app/lib/components/submission_box_new_drawing.dart
  flutter/app/lib/domain/services/drawing_service.dart
  flutter/app/lib/domain/services/game_replay_service.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/admin_page.dart
  flutter/app/lib/pages/create_game.dart
  flutter/app/lib/pages/create_game_page.dart
Due: none

fixing bugs
  client/src/app/components/friend-requests/friend-requests.component.html
  client/src/app/components/friend-requests/friend-requests.component.scss
  client/src/app/components/friend-requests/friend-requests.component.ts
  client/src/app/components/search-bat/search-bat.component.html
  client/src/app/components/search-bat/search-bat.component.ts
  client/src/app/interfaces/friend-request.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/services/friend-request-service/friend-request.service.spec.ts
  client/src/app/services/friend-request-service/friend-request.service.ts
Due: build_angular_client

saving changes
  client/src/app/interfaces/command.ts
  client/src/app/interfaces/rectangle.ts
  client/src/app/services/draw-service/draw-service.service.ts
Due: build_angular_client

friend_request systeme works
  client/src/app/app.module.ts
  client/src/app/components/friend-requests/friend-requests.component.html
  client/src/app/components/friend-requests/friend-requests.component.scss
  client/src/app/components/friend-requests/friend-requests.component.ts
  client/src/app/components/search-bat/search-bat.component.ts
  client/src/app/interfaces/friend-request.ts
  client/src/app/interfaces/user.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/pages/sign-up-page/sign-up-page.component.ts
  client/src/app/services/friend-request-service/friend-request.service.ts
Due: build_angular_client

can crop !
  client/package-lock.json
  client/package.json
  client/src/app/app.module.ts
  client/src/app/components/cropper-dialog/cropper-dialog.component.html
  client/src/app/components/cropper-dialog/cropper-dialog.component.scss
  client/src/app/components/cropper-dialog/cropper-dialog.component.ts
  client/src/app/components/dialog-upload-form/dialog-upload-form.component.html
  client/src/app/components/dialog-upload-form/dialog-upload-form.component.spec.ts
  client/src/app/components/dialog-upload-form/dialog-upload-form.component.ts
  client/src/app/interfaces/image-correct.ts
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

almoste done - minor bug
  client/src/app/components/friend-requests/friend-requests.component.html
  client/src/app/components/friend-requests/friend-requests.component.ts
  client/src/app/components/search-bat/search-bat.component.html
  client/src/app/components/search-bat/search-bat.component.ts
  client/src/app/interfaces/friend-request.ts
  client/src/app/services/friend-request-service/friend-request.service.ts
Due: build_angular_client

........
  flutter/app/lib/domain/models/limited_data_model.dart
  flutter/app/lib/domain/services/difference_detection_service.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/utils/vec2.dart
  flutter/app/lib/pages/classic_game_page.dart
Due: none

same difference send
  flutter/app/lib/domain/models/limited_data_model.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/pages/classic_game_page.dart
Due: none

close to something
  flutter/app/lib/domain/models/requests/new_game_request.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/pages/classic_game_page.dart
Due: none

wip
  client/src/app/app.module.ts
  client/src/app/components/friend-requests/friend-requests.component.html
  client/src/app/components/friend-requests/friend-requests.component.ts
  client/src/app/components/friends-list/friends-list.component.html
  client/src/app/components/friends-list/friends-list.component.scss
  client/src/app/components/friends-list/friends-list.component.ts
  client/src/app/components/page-header/page-header.component.html
  client/src/app/components/search-bat/search-bat.component.html
  client/src/app/components/search-bat/search-bat.component.scss
  client/src/app/components/search-bat/search-bat.component.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/services/friend-request-service/friend-request.service.ts
  client/src/app/services/user-service/user.service.ts
Due: build_angular_client

temps limitée work on client léger
  flutter/app/lib/domain/services/difference_detection_service.dart
  flutter/app/lib/domain/services/game_manager_service.dart
Due: none

remove reprise video for limited game
  flutter/app/lib/components/end_game_dialog.dart
  flutter/app/lib/pages/classic_game_page.dart
Due: none

Feature/limited time leger
  flutter/app/lib/components/classic_game_dialog.dart
  flutter/app/lib/components/end_game_dialog.dart
  flutter/app/lib/components/limited_constants_dialog.dart
  flutter/app/lib/domain/models/limited_data_model.dart
  flutter/app/lib/domain/models/limited_game_model.dart
  flutter/app/lib/domain/models/requests/create_limited_game_request.dart
  flutter/app/lib/domain/models/requests/joinable_games_request.dart
  flutter/app/lib/domain/models/requests/new_game_request.dart
  flutter/app/lib/domain/models/requests/play_limited_request.dart
  flutter/app/lib/domain/services/difference_detection_service.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/utils/socket_events.dart
  flutter/app/lib/pages/classic_game_page.dart
Due: none

adding delete feature
  client/src/app/app.module.ts
  client/src/app/components/friend-requests/friend-requests.component.ts
  client/src/app/components/friends-list/friends-list.component.html
  client/src/app/components/friends-list/friends-list.component.scss
  client/src/app/components/friends-list/friends-list.component.ts
  client/src/app/components/search-bat/search-bat.component.html
  client/src/app/components/search-bat/search-bat.component.scss
  client/src/app/components/search-bat/search-bat.component.ts
  client/src/app/interfaces/friend-request.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/pages/friends-page/friends-page.component.html
  client/src/app/pages/friends-page/friends-page.component.scss
  client/src/app/pages/friends-page/friends-page.component.ts
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/services/friend-request-service/friend-request.service.ts
  client/src/app/services/user-service/user.service.ts
Due: build_angular_client

Fix/user stats
  client/src/app/components/dialog-set-up-game/dialog-set-up-game/dialog-set-up-game.component.ts
  client/src/app/components/timer-stopwatch/timer-stopwatch.component.ts
  client/src/app/services/game-information-handler/game-information-handler.service.ts
  common/socket-event.ts
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/pages/classic_game_page.dart
  server/app/services/socket-manager-service/game-play-manager.service.ts
  server/app/services/socket-manager-service/socket-manager-service.service.ts
Due: build_backend, build_angular_client

adding friends works fine -need to fix search bar
  client/src/app/components/friend-requests/friend-requests.component.ts
  client/src/app/components/friends-list/friends-list.component.ts
  client/src/app/components/search-bat/search-bat.component.html
  client/src/app/components/search-bat/search-bat.component.ts
  client/src/app/interfaces/friend-request.ts
  client/src/app/services/friend-request-service/friend-request.service.ts
Due: build_angular_client

IT'S OVER
  client/src/app/components/search-bat/search-bat.component.html
  client/src/app/components/search-bat/search-bat.component.scss
  client/src/app/components/search-bat/search-bat.component.ts
Due: build_angular_client

fixing lint
  client/src/app/components/friend-requests/friend-requests.component.ts
  client/src/app/components/friends-list/friends-list.component.ts
  client/src/app/components/search-bat/search-bat.component.ts
Due: build_angular_client

Feature/friends systeme
  client/src/app/app.module.ts
  client/src/app/components/friend-requests/friend-requests.component.html
  client/src/app/components/friend-requests/friend-requests.component.scss
  client/src/app/components/friend-requests/friend-requests.component.ts
  client/src/app/components/friends-list/friends-list.component.html
  client/src/app/components/friends-list/friends-list.component.scss
  client/src/app/components/friends-list/friends-list.component.ts
  client/src/app/components/page-header/page-header.component.html
  client/src/app/components/search-bat/search-bat.component.html
  client/src/app/components/search-bat/search-bat.component.scss
  client/src/app/components/search-bat/search-bat.component.ts
  client/src/app/interfaces/friend-request.ts
  client/src/app/interfaces/user.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/pages/friends-page/friends-page.component.html
  client/src/app/pages/friends-page/friends-page.component.scss
  client/src/app/pages/friends-page/friends-page.component.ts
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/pages/sign-up-page/sign-up-page.component.ts
  client/src/app/services/friend-request-service/friend-request.service.ts
  client/src/app/services/user-service/user.service.ts
Due: build_angular_client

Implementation of the basic features necessary for the creation of a game
  flutter/app/assets/default_image.bmp
  flutter/app/lib/components/difference_vignette_modal.dart
  flutter/app/lib/components/drawing_canvas_left.dart
  flutter/app/lib/components/drawing_canvas_right.dart
  flutter/app/lib/components/menu_between_canvas.dart
  flutter/app/lib/components/menu_under_canvas_left.dart
  flutter/app/lib/components/menu_under_canvas_right.dart
  flutter/app/lib/components/submission_box_new_drawing.dart
  flutter/app/lib/components/vignette_name_selection_modal.dart
  flutter/app/lib/domain/models/requests/create_game_vignette.dart
  flutter/app/lib/domain/models/requests/public_new_vignette_request.dart
  flutter/app/lib/domain/models/requests/send_new_vignette_request.dart
  flutter/app/lib/domain/models/requests/vignette_created_request.dart
  flutter/app/lib/domain/services/drawing_service.dart
  flutter/app/lib/domain/services/drawing_service_left.dart
  flutter/app/lib/domain/services/drawing_service_right.dart
  flutter/app/lib/domain/services/http_service.dart
  flutter/app/lib/domain/services/vignette_submission_service.dart
  flutter/app/lib/domain/utils/regex_validation.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/create_game_page.dart
  flutter/app/pubspec.lock
  flutter/app/pubspec.yaml
  flutter/app/test/models/create_game_vignette_test.dart
  flutter/app/test/models/game_info_request_test.data.dart
  flutter/app/test/models/regex_validation.dart
  server/app/classes/bmp/bmp.ts
  server/app/controllers/game-controller/game.controller.ts
  server/app/services/bmp-encoder-service/bmp-encoder.service.ts
  server/app/services/bmp-service/bmp.service.ts
  server/app/services/game-info-service/game-info.service.ts
Due: build_backend

Fix/user stats
  flutter/app/lib/domain/models/requests/bonus_request.dart
  flutter/app/lib/domain/services/clock_service.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/services/personal_user_service.dart
  flutter/app/lib/domain/utils/socket_events.dart
  flutter/app/lib/pages/classic_game_page.dart
Due: none

fix: problème où je faisais une copie des images
  server/app/controllers/game-controller/game.controller.ts
Due: build_backend

Fix/user stats
  flutter/app/lib/domain/services/game_manager_service.dart
Due: none

notifications
  common/chat.ts
  flutter/app/lib/components/chat/chat_feed.dart
  flutter/app/lib/components/chat/room_card.dart
  flutter/app/lib/components/chat/room_list.dart
  flutter/app/lib/components/end_game_dialog.dart
  flutter/app/lib/domain/models/chat_model.dart
  flutter/app/lib/domain/services/auth_service.dart
  flutter/app/lib/domain/services/chat_display_service.dart
  flutter/app/lib/domain/services/chat_service.dart
  flutter/app/lib/domain/services/socket_service.dart
  flutter/app/lib/domain/utils/base_url.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/main_page.dart
  flutter/app/pubspec.lock
  flutter/app/pubspec.yaml
  server/app/services/socket-manager-service/chat.service.ts
  server/app/services/socket-manager-service/socket-manager-service.service.ts
Due: build_backend, build_angular_client

saving changes
  client/src/app/classes/commands/draw-command.ts
  client/src/app/classes/commands/draw-rectangle-command.ts
  client/src/app/interfaces/command.ts
  client/src/app/services/draw-service/draw-service.service.ts
Due: build_angular_client

now can draw and save rectangles
  client/src/app/services/draw-service/draw-service.service.ts
Due: build_angular_client

Fix/avatars
  flutter/app/lib/components/user_personal_info.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/services/personal_user_service.dart
Due: none

start observable
  flutter/app/lib/components/classic_game_dialog.dart
  flutter/app/lib/domain/models/requests/observe_game_reuqest.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/utils/socket_events.dart
Due: none

intergration
  client/src/app/components/create-join-game-dialogue/create-join-game-dialogue.component.ts
  flutter/app/lib/domain/services/chat_service.dart
  flutter/app/lib/pages/classic_game_page.dart
  server/app/services/socket-manager-service/chat.service.ts
  server/app/services/socket-manager-service/game-creation.service.ts
Due: build_backend, build_angular_client

Feat/handle game creation ux
  flutter/app/assets/easter_egg.jpg
  flutter/app/lib/components/difference_vignette_modal.dart
  flutter/app/lib/components/error_modal.dart
  flutter/app/lib/components/vignette_name_selection_modal.dart
  flutter/app/lib/domain/models/requests/vignette_created_request.dart
  flutter/app/lib/domain/services/drawing_service.dart
  flutter/app/lib/domain/services/http_service.dart
  server/app/controllers/game-controller/game.controller.spec.ts
  server/app/controllers/game-controller/game.controller.ts
  server/app/services/bmp-subtractor-service/bmp-subtractor.service.ts
  server/app/services/game-validation-service/game-validation.service.spec.ts
  server/app/services/game-validation-service/game-validation.service.ts
Due: build_backend

observe game
  flutter/app/lib/components/reachable_games_card.dart
  flutter/app/lib/domain/services/game_manager_service.dart
Due: none
