Repository margielamob/Cherches-Trouves-Gagnes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_angular_client

.gitlab-ci.yml:

image: node:14

.only-angular_client: &only-angular_client
  only:
    refs:
      - main
      - merge_requests
    changes:
      - client/**/*
      - common/**/*

.only-backend: &only-backend
  only:
    refs:
      - main
      - merge_requests
    changes:
      - server/**/*
      - common/**/*

stages:
  - build_angular_client
  - build_backend

build_backend:
  stage: build_backend
  <<: *only-backend
  script:
    - echo "building the server..."
    - cd server
    - npm ci
    - npm run build

build_angular_client:
  stage: build_angular_client
  <<: *only-angular_client
  script:
    - echo "building the angular client..."
    - cd client
    - npm ci
    - npm install -g @angular/cli
    - ng build

refactoring game constants
  client/src/app/components/game-constants-settings/game-constants-settings.component.html
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

add ReplayService and components
  client/src/app/app.module.ts
  client/src/app/components/dialog-game-over/dialog-game-over.component.html
  client/src/app/components/dialog-game-over/dialog-game-over.component.ts
  client/src/app/components/replay-buttons/replay-buttons.component.html
  client/src/app/components/replay-buttons/replay-buttons.component.scss
  client/src/app/components/replay-buttons/replay-buttons.component.ts
  client/src/app/constants/replay.ts
  client/src/app/interfaces/replay-actions.ts
  client/src/app/modules/material.module.ts
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-page/game-page.component.scss
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/services/capture-service/capture.service.ts
  client/src/app/services/replay-service/replay.service.ts
Due: build_angular_client

refactoring no game snackbar
  client/src/app/components/no-game-snackbar/no-game-snackbar.component.html
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

refactoring play area
  client/src/app/components/play-area/play-area.component.html
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

refactoring refresh snackbar
  client/src/app/components/refresh-snackbar/refresh-snackbar.component.html
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

refactoring rederect dialog
  client/src/app/components/rejected-dialog/rejected-dialog.component.html
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

refactoring sidebar
  client/src/app/components/sidebar/sidebar.component.html
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

refactoring sidebar
  client/src/app/components/sidebar/sidebar.component.html
Due: build_angular_client

add ReplayService and components
  client/src/app/components/dialog-game-over/dialog-game-over.component.ts
  client/src/app/interfaces/replay-actions.ts
  client/src/app/services/replay-service/replay.service.ts
Due: build_angular_client

correction typo
  client/src/app/components/sidebar/sidebar.component.html
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

refactor tool-box
  client/src/app/components/tool-box/tool-box.component.html
  client/src/assets/i18n/Fr.json
Due: build_angular_client

refactor user-name-input
  client/src/app/components/user-name-input/user-name-input.component.html
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

refactor create-game
  client/src/app/pages/create-game-page/create-game-page.component.html
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

refactor email verification
  client/src/app/pages/email-verification/email-verification.component.html
  client/src/app/pages/email-verification/email-verification.component.ts
  client/src/app/services/user-service/user.service.ts
Due: build_angular_client

refactor create game page
  client/src/app/components/dialog-forms-error/dialog-forms-error.component.html
  client/src/app/pages/create-game-page/create-game-page.component.ts
Due: build_angular_client

refactor mongodb error and game selection header
  client/src/app/pages/game-selection-page/game-selection-page.component.html
  client/src/app/pages/mongodb-error-page/mongodb-error-page.component.html
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

refactor waiting page and setting page
  client/src/app/pages/settings-page/settings-page.component.html
  client/src/app/pages/waiting-room/waiting-room.component.html
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

in-game done
  client/src/app/components/sidebar/sidebar.component.ts
  client/src/app/pages/waiting-room/waiting-room.component.ts
  server/app/services/socket-manager-service/socket-manager-service.service.ts
Due: build_backend, build_angular_client

Save ClickFound, ClickError, CheatModeActivated and CheatModeDesactivated
  client/src/app/components/dialog-create-game/dialog-create-game.component.ts
  client/src/app/interfaces/replay-actions.ts
  client/src/app/services/capture-service/capture.service.ts
  client/src/app/services/cheat-mode/cheat-mode.service.ts
  client/src/app/services/differences-detection-handler/differences-detection-handler.service.ts
  client/src/app/services/game-information-handler/game-information-handler.service.ts
  client/src/app/services/replay-service/replay.service.ts
Due: build_angular_client

theme conifg feature is working
  client/src/app/components/approval-dialog/approval-dialog.component.ts
  client/src/app/components/dialog-game-over/dialog-game-over.component.ts
  client/src/app/components/loading-screen/loading-screen.component.html
  client/src/app/components/loading-screen/loading-screen.component.ts
  client/src/app/components/user-profil-information/user-profil-information.component.ts
  client/src/app/enums/theme.ts
  client/src/app/pages/app/app.component.html
  client/src/app/pages/app/app.component.ts
  client/src/app/services/theme-service/theme.service.ts
  client/src/app/services/user-service/user.service.ts
Due: build_angular_client

fixed userservice
  client/src/app/components/game-card-buttons/game-card-buttons.component.ts
  client/src/app/components/game-carousel/game-carousel.component.ts
  client/src/app/pages/app/app.component.ts
  client/src/app/services/authentication-service/authentication.service.ts
  client/src/app/services/differences-detection-handler/differences-detection-handler.service.ts
  client/src/app/services/game-information-handler/game-information-handler.service.ts
  client/src/app/services/user-service/user.service.ts
  common/userAuth.ts
  server/app/classes/game/game.ts
  server/app/services/game-manager-service/game-manager.service.ts
  server/app/services/socket-manager-service/socket-manager-service.service.ts
Due: build_backend, build_angular_client

theme config feature is done
  client/src/app/pages/app/app.component.html
  client/src/app/pages/app/app.component.scss
  client/src/app/pages/app/app.component.ts
Due: build_angular_client

replay service
  client/src/app/components/chat-box/chat-box.component.html
  client/src/app/components/chat-box/chat-box.component.ts
  client/src/app/components/play-area/play-area.component.ts
  client/src/app/components/replay-buttons/replay-buttons.component.ts
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/services/replay-service/replay.service.ts
  client/src/environments/environment.prod.ts
Due: build_angular_client

refactor sockets server
  client/src/app/app.module.ts
  client/src/app/components/game-card/game-card.component.html
  client/src/app/components/game-card/game-card.component.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/pages/join-game-selection/join-game-selection.component.html
  client/src/app/pages/join-game-selection/join-game-selection.component.scss
  client/src/app/pages/join-game-selection/join-game-selection.component.spec.ts
  client/src/app/pages/join-game-selection/join-game-selection.component.ts
  client/src/app/pages/waiting-room/waiting-room.component.html
  client/src/app/pages/waiting-room/waiting-room.component.ts
  client/src/app/services/game-information-handler/game-information-handler.service.ts
  client/src/app/services/joinable-game/joinable-game.service.spec.ts
  client/src/app/services/joinable-game/joinable-game.service.ts
  common/joinable-game-card.ts
  common/socket-event.ts
  common/user.ts
  common/waiting-room-info.ts
  server/app/classes/game/game.ts
  server/app/interface/game-user.ts
  server/app/services/game-manager-service/game-manager.service.ts
  server/app/services/multiplayer-game-manager/multiplayer-game-manager.service.ts
  server/app/services/socket-manager-service/socket-manager-service.service.ts
Due: build_backend, build_angular_client

replay video
  client/src/app/components/differences-area/differences-area.component.ts
  client/src/app/components/sidebar/sidebar.component.ts
  client/src/app/components/user-name-input/user-name-input.component.ts
  client/src/app/guards/auth.guard.ts
  client/src/app/interfaces/replay-actions.ts
  client/src/app/services/game-information-handler/game-information-handler.service.ts
  client/src/app/services/replay-service/replay.service.ts
Due: build_angular_client

fixing image
  .vscode/settings.json
  client/src/app/components/game-card/game-card.component.html
  client/src/app/pages/join-game-selection/join-game-selection.component.html
  client/src/app/pages/join-game-selection/join-game-selection.component.ts
  client/src/app/services/joinable-game/joinable-game.service.ts
  server/app/services/game-manager-service/game-manager.service.ts
  server/app/services/socket-manager-service/socket-manager-service.service.ts
Due: build_backend, build_angular_client

fixing bugs
  client/src/app/components/dialog-forms-error/dialog-forms-error.component.ts
  client/src/app/components/dialog-game-over/dialog-game-over.component.html
  client/src/app/components/dialog-game-over/dialog-game-over.component.ts
  client/src/app/components/exit-game-button/exit-game-button.component.html
  client/src/app/components/page-header/page-header.component.html
  client/src/app/components/user-profil-information/user-profil-information.component.html
  client/src/app/components/user-profil-information/user-profil-information.component.scss
  client/src/app/components/user-profil-information/user-profil-information.component.ts
  client/src/app/guards/auth.guard.ts
  client/src/app/pages/app/app.component.html
  client/src/app/pages/app/app.component.ts
  client/src/app/services/authentication-service/authentication.service.ts
  client/src/app/services/language-service/language-service.service.ts
  client/src/app/services/theme-service/theme.service.ts
  client/src/app/services/user-service/user.service.ts
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

last change
  client/src/app/components/differences-area/differences-area.component.html
  client/src/app/components/differences-area/differences-area.component.ts
  client/src/app/components/replay-buttons/replay-buttons.component.ts
  client/src/app/components/sidebar/sidebar.component.html
  client/src/app/components/sidebar/sidebar.component.ts
  client/src/app/services/replay-service/replay.service.ts
Due: build_angular_client

fixing bugs
  client/src/app/components/user-profil-information/user-profil-information.component.ts
  client/src/app/pages/app/app.component.ts
  client/src/app/services/exit-button-handler/exit-button-handler.service.ts
  client/src/app/services/language-service/languag.service.ts
Due: build_angular_client

4 players game soon done
  client/src/app/components/differences-area/differences-area.component.ts
  client/src/app/components/game-card-buttons/game-card-buttons.component.html
  client/src/app/components/game-card-buttons/game-card-buttons.component.ts
  client/src/app/components/game-card/game-card.component.html
  client/src/app/components/game-card/game-card.component.scss
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/pages/main-page/main-page.component.ts
  client/src/app/pages/waiting-room/waiting-room.component.ts
  client/src/app/services/authentication-service/authentication.service.ts
  client/src/app/services/game-information-handler/game-information-handler.service.ts
  client/src/app/services/joinable-game/joinable-game.service.ts
  common/joinable-game-card.ts
  common/socket-event.ts
  server/app/services/game-manager-service/game-manager.service.ts
  server/app/services/socket-manager-service/socket-manager-service.service.ts
Due: build_backend, build_angular_client

final changes - server side translation
  client/src/app/components/chat-box/chat-box.component.ts
  client/src/app/components/dialog-game-over/dialog-game-over.component.html
  client/src/app/components/exit-game-button/exit-game-button.component.html
  client/src/app/components/user-profil-information/user-profil-information.component.html
  client/src/app/pages/app/app.component.ts
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/services/exit-button-handler/exit-button-handler.service.ts
  client/src/app/services/language-service/languag.service.ts
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
  server/app/interface/message-data.ts
  server/app/services/message-event-service/message-event.service.ts
Due: build_backend, build_angular_client

fixing lint - finxing test is in progress
  client/src/app/components/approval-dialog/approval-dialog.component.spec.ts
  client/src/app/components/dialog-game-over/dialog-game-over.component.ts
  client/src/app/components/game-card/game-card.component.spec.ts
  client/src/app/components/user-profil-information/user-profil-information.component.html
  client/src/app/components/user-profil-information/user-profil-information.component.ts
  client/src/app/guards/auth.guard.ts
  client/src/app/pages/main-page/main-page.component.spec.ts
  client/src/app/services/theme-service/theme.service.spec.ts
Due: build_angular_client

fixing failed tests
  client/package-lock.json
  client/src/app/app.module.ts
  client/src/app/components/admin-commands/admin-commands.component.spec.ts
  client/src/app/components/chat-box/chat-box.component.spec.ts
  client/src/app/components/clues-area/clues-area.component.spec.ts
  client/src/app/components/common-tool-box/common-tool-box.component.spec.ts
  client/src/app/components/confirm-delete-dialog/confirm-delete-dialog.component.spec.ts
  client/src/app/components/dialog-create-game/dialog-create-game.component.spec.ts
  client/src/app/components/dialog-forms-error/dialog-forms-error.component.ts
  client/src/app/components/dialog-game-over/dialog-game-over.component.spec.ts
  client/src/app/components/dialog-game-over/dialog-game-over.component.ts
  client/src/app/components/dialog-limited-time/dialog-limited-time.component.spec.ts
  client/src/app/components/dialog-upload-form/dialog-upload-form.component.spec.ts
  client/src/app/components/differences-area/differences-area.component.spec.ts
  client/src/app/components/exit-game-button/exit-game-button.component.spec.ts
  client/src/app/components/game-card-buttons/game-card-buttons.component.spec.ts
  client/src/app/components/game-constant-field/game-constant-field.component.spec.ts
  client/src/app/components/game-constants-settings/game-constants-settings.component.spec.ts
  client/src/app/components/no-game-snackbar/no-game-snackbar.component.spec.ts
  client/src/app/components/refresh-snackbar/refresh-snackbar.component.spec.ts
  client/src/app/components/rejected-dialog/rejected-dialog.component.spec.ts
  client/src/app/components/sidebar/sidebar.component.spec.ts
  client/src/app/components/tool-box/tool-box.component.spec.ts
  client/src/app/components/user-name-input/user-name-input.component.spec.ts
  client/src/app/pages/admin-page/admin-page.component.spec.ts
  client/src/app/pages/app/app.component.spec.ts
  client/src/app/pages/create-game-page/create-game-page.component.spec.ts
  client/src/app/pages/game-page/game-page.component.spec.ts
  client/src/app/pages/game-selection-page/game-selection-page.component.spec.ts
  client/src/app/pages/main-page/main-page.component.spec.ts
  client/src/app/pages/mongodb-error-page/mongodb-error-page.component.spec.ts
  client/src/app/pages/waiting-room/waiting-room.component.spec.ts
  client/src/app/services/exit-button-handler/exit-button-handler.service.spec.ts
Due: build_angular_client

When a user detects a difference, the difference is sent to the server
  flutter/app/lib/components/original_game_vignette.dart
  flutter/app/lib/domain/services/difference_detection_service.dart
  flutter/app/lib/domain/services/socket_service.dart
  flutter/app/lib/domain/utils/difference_found_message.dart
  flutter/app/lib/domain/utils/difference_found_request.dart
  flutter/app/lib/domain/utils/socket_events.dart
  flutter/app/lib/domain/utils/vec2.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/classic_game_page.dart
  flutter/app/macos/Runner.xcworkspace/contents.xcworkspacedata
  flutter/app/pubspec.lock
  flutter/app/pubspec.yaml
  flutter/app/test/service/carouselle_service_test.dart
  flutter/app/test/service/difference_detection_service_test.dart
Due: none

game creation dialog done witht timer and cheatmode
  client/src/app/app.module.ts
  client/src/app/components/dialog-set-up-game/dialog-set-up-game/dialog-set-up-game.component.html
  client/src/app/components/dialog-set-up-game/dialog-set-up-game/dialog-set-up-game.component.scss
  client/src/app/components/dialog-set-up-game/dialog-set-up-game/dialog-set-up-game.component.spec.ts
  client/src/app/components/dialog-set-up-game/dialog-set-up-game/dialog-set-up-game.component.ts
  client/src/app/components/game-card-buttons/game-card-buttons.component.ts
  client/src/app/components/game-card/game-card.component.html
  client/src/app/components/game-card/game-card.component.ts
  client/src/app/services/cheat-mode/cheat-mode.service.ts
  client/src/app/services/game-information-handler/game-information-handler.service.ts
  common/waiting-room-info.ts
  server/app/classes/game/game.ts
  server/app/services/game-manager-service/game-manager.service.ts
  server/app/services/socket-manager-service/socket-manager-service.service.ts
  server/app/services/timer-service/timer.service.ts
Due: build_backend, build_angular_client

final changes
  client/src/app/components/user-profil-information/user-profil-information.component.ts
  client/src/app/pages/app/app.component.ts
  client/src/app/pages/create-game-page/create-game-page.component.spec.ts
  client/src/app/pages/game-page/game-page.component.spec.ts
  client/src/app/services/exit-button-handler/exit-button-handler.service.spec.ts
Due: build_angular_client

reverting translation on server side
  client/src/app/components/chat-box/chat-box.component.ts
  server/app/services/message-event-service/message-event.service.ts
Due: build_backend, build_angular_client

minor fix
  client/src/app/components/dialog-game-over/dialog-game-over.component.ts
Due: build_angular_client
