Repository margielamob/Cherches-Trouves-Gagnes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_angular_client

build_backend:
  stage: build_backend
  script:
  - echo "building the server..."
  - cd server
  - npm ci
  - npm run build

build_angular_client:
  stage: build_angular_client
  script:
  - echo "building the angular client..."
  - cd client
  - npm ci
  - npm install -g @angular/cli
  - ng build

fix tests
  client/src/app/components/chat-panel/room-search/room-search.component.spec.ts
Due: build_angular_client

Fix/trad wip2
  client/src/app/components/chat-panel/chat-list/chat-list.component.html
  client/src/app/components/chat-panel/room-add/room-add.component.html
  client/src/app/components/chat-panel/room-card/room-card.component.html
  client/src/app/components/chat-panel/room-create/room-create.component.html
  client/src/app/components/chat-panel/room-search/room-search.component.html
  client/src/app/components/chat-panel/room-search/room-search.component.spec.ts
  client/src/app/components/dialog-game-over/dialog-game-over.component.html
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

ds
  client/src/app/components/user-avatar/user-avatar.component.ts
Due: build_angular_client

avatars
  flutter/app/lib/components/avatar.dart
  flutter/app/lib/components/avatar_dialog.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/services/personal_user_service.dart
  flutter/app/lib/pages/waiting_page.dart
Due: none

fix message d'erreur
  client/src/app/services/authentication-service/authentication.service.ts
Due: build_angular_client

Fix/message erreur
  client/src/app/services/authentication-service/authentication.service.ts
Due: build_angular_client

avatar change
  client/src/app/components/user-avatar/user-avatar.component.ts
  flutter/app/lib/components/current_players.dart
  flutter/app/lib/components/game_avatar.dart
  flutter/app/lib/components/reachable_games_card.dart
  flutter/app/lib/pages/waiting_page.dart
Due: build_angular_client

pushing changes for desktop
  client/src/app/classes/commands/change-background-command.ts
  client/src/app/interfaces/command.ts
  client/src/app/services/draw-service/draw-service.service.ts
Due: build_angular_client

various fixes
  client/main.js
  client/src/app/components/chat-panel-detached/room-add/room-add.component.ts
  client/src/app/components/chat-panel-detached/room-card/room-card.component.ts
  client/src/app/components/chat-panel/chat-button/chat-button.component.ts
  client/src/app/components/chat-panel/room-add/room-add.component.ts
  client/src/app/components/dialog-change-name/dialog-change-name.component.ts
  client/src/app/components/exit-game-button/exit-game-button.component.ts
  client/src/app/pages/main-page/main-page.component.ts
  client/src/app/services/chat-service/chat-display.service.ts
  client/src/app/services/chat-service/chat-manager.service.ts
  client/src/app/services/email-service/email.service.ts
  client/src/app/services/user-service/user.service.ts
  common/socket-event.ts
  flutter/app/lib/components/chat/room_card.dart
  flutter/app/lib/components/custom_app_bar.dart
  flutter/app/lib/domain/utils/socket_events.dart
  flutter/app/lib/pages/admin_page.dart
  flutter/app/lib/pages/classic_game_page.dart
  flutter/app/lib/pages/game_selection_page.dart
  flutter/app/lib/pages/historic_page.dart
  flutter/app/lib/pages/login_page.dart
  flutter/app/lib/pages/main_page.dart
  flutter/app/lib/pages/observableGamePage.dart
  flutter/app/lib/pages/profile_page.dart
  flutter/app/lib/pages/reachable_game_page.dart
  flutter/app/lib/pages/waiting_page.dart
  server/app/services/socket-manager-service/chat.service.ts
  server/app/services/socket-manager-service/user-manager.service.ts
Due: build_backend, build_angular_client

dfdf
  flutter/app/lib/components/no_game_observable.dart
Due: none

fixed background changes
  client/src/app/classes/commands/change-background-command.ts
  client/src/app/components/draw-canvas/draw-canvas.component.html
  client/src/app/services/draw-service/draw-service.service.ts
Due: build_angular_client

avatar
  flutter/app/lib/pages/waiting_page.dart
Due: none

fix env prod
  client/src/environments/environment.prod.ts
Due: build_angular_client

fixed ellipse
  client/src/app/services/draw-service/draw-service.service.ts
Due: build_angular_client

correcting test
  client/src/app/services/draw-service/draw-service.service.spec.ts
Due: build_angular_client

Feature/friends service flutter
  flutter/app/lib/domain/models/user_data.dart
  flutter/app/lib/domain/services/friends_service.dart
  flutter/app/lib/domain/services/userListe.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/friend-req.dart
  flutter/app/lib/pages/friendsListPage.dart
  flutter/app/lib/pages/main_page.dart
  flutter/app/lib/pages/search_bar.dart
  flutter/app/lib/pages/social_page.dart
Due: none

Fix/creation
  client/src/app/classes/commands/change-background-command.ts
  client/src/app/components/draw-canvas/draw-canvas.component.html
  client/src/app/interfaces/command.ts
  client/src/app/services/draw-service/draw-service.service.spec.ts
  client/src/app/services/draw-service/draw-service.service.ts
Due: build_angular_client

minor ui fix
  client/src/app/components/dialog-set-up-game/dialog-set-up-game/dialog-set-up-game.component.html
  client/src/app/pages/admin-page/admin-page.component.html
  client/src/app/pages/create-game-page/create-game-page.component.html
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-selection-page/game-selection-page.component.html
  client/src/app/pages/join-game-selection/join-game-selection.component.html
  client/src/app/pages/settings-page/settings-page.component.html
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

Fix/minor ui fix
  client/src/app/components/dialog-set-up-game/dialog-set-up-game/dialog-set-up-game.component.html
  client/src/app/pages/admin-page/admin-page.component.html
  client/src/app/pages/create-game-page/create-game-page.component.html
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-selection-page/game-selection-page.component.html
  client/src/app/pages/join-game-selection/join-game-selection.component.html
  client/src/app/pages/settings-page/settings-page.component.html
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

fdkfj
  flutter/app/lib/components/user_personal_info.dart
Due: none

remove shit
  flutter/app/lib/domain/services/game_manager_service.dart
Due: none

Fix/avatars
  client/src/app/components/game-card/game-card.component.html
  client/src/app/components/game-card/game-card.component.scss
  client/src/app/components/page-header/page-header.component.html
  client/src/app/components/user-avatar/user-avatar.component.html
  client/src/app/components/user-avatar/user-avatar.component.ts
  client/src/app/components/user-profil-information/user-profil-information.component.html
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/pages/sign-up-page/sign-up-page.component.ts
  client/src/app/pages/waiting-room/waiting-room.component.html
  client/src/app/pages/waiting-room/waiting-room.component.scss
  client/src/assets/avatar-predefini/avatar10.png
  client/src/assets/avatar-predefini/avatar11.png
  client/src/assets/avatar-predefini/avatar12.png
  client/src/assets/avatar-predefini/avatar13.png
  client/src/assets/avatar-predefini/avatar14.png
  client/src/assets/avatar-predefini/avatar4.png
  client/src/assets/avatar-predefini/avatar5.png
  client/src/assets/avatar-predefini/avatar6.png
  client/src/assets/avatar-predefini/avatar7.png
  client/src/assets/avatar-predefini/avatar8.png
  client/src/assets/avatar-predefini/avatar9.png
  client/src/assets/avatar-predefini/default-user-icon.jpg
  flutter/app/assets/avatar-predefini/camera.png
  flutter/app/assets/avatar-predefini/default-user-icon.jpg
  flutter/app/lib/components/avatar_dialog.dart
  flutter/app/lib/components/current_players.dart
  flutter/app/lib/components/game_avatar.dart
  flutter/app/lib/components/no_game_observable.dart
  flutter/app/lib/components/reachable_games_card.dart
  flutter/app/lib/components/user_personal_info.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/services/personal_user_service.dart
  flutter/app/lib/pages/sign_up_page.dart
  flutter/app/lib/pages/waiting_page.dart
Due: build_angular_client

fix trad
  flutter/app/lib/components/limited_constants_dialog.dart
  flutter/app/lib/l10n/app_en.arb
  flutter/app/lib/l10n/app_fr.arb
Due: none

remove overflow from main page
  flutter/app/lib/domain/utils/base_url.dart
  flutter/app/lib/pages/main_page.dart
  flutter/app/test/models/base_url_test.dart
Due: none

Fix client léger navigation
  flutter/app/lib/components/difference_vignette_modal.dart
  flutter/app/lib/domain/services/radius_slider_service.dart
  flutter/app/lib/pages/login_page.dart
  flutter/app/lib/pages/sign_up_page.dart
Due: none

dfodf
  flutter/app/lib/components/limited_constants_dialog.dart
Due: none

joinable fix
  flutter/app/lib/components/observable_games_carrousel.dart
  flutter/app/lib/components/reachable_games_carrousel.dart
  flutter/app/lib/domain/services/observable_game_manager.dart
  flutter/app/lib/domain/services/reachable_games_manager.dart
Due: none

ui fixes
  client/src/app/components/chat-panel-detached/chat-list/chat-list.component.scss
  client/src/app/components/chat-panel-detached/room-add/room-add.component.html
  client/src/app/components/chat-panel-detached/room-add/room-add.component.scss
  client/src/app/components/chat-panel-detached/room-search/room-search.component.html
  client/src/app/components/chat-panel-detached/room-search/room-search.component.scss
  client/src/app/components/chat-panel/chat-list/chat-list.component.scss
  client/src/app/components/chat-panel/room-add/room-add.component.html
  client/src/app/components/chat-panel/room-add/room-add.component.scss
  client/src/app/components/chat-panel/room-search/room-search.component.html
  client/src/app/components/chat-panel/room-search/room-search.component.scss
  client/src/app/components/chat-panel/room-search/room-search.component.spec.ts
Due: build_angular_client

Fix/cl
  client/src/app/components/dialog-game-over/dialog-game-over.component.html
  client/src/app/components/page-header/page-header.component.html
  client/src/app/components/page-header/page-header.component.ts
  client/src/app/pages/admin-page/admin-page.component.html
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/pages/join-game-selection/join-game-selection.component.html
  client/src/app/pages/waiting-room/waiting-room.component.html
  client/src/app/pages/waiting-room/waiting-room.component.ts
  client/src/app/services/admin-service/admin.service.spec.ts
  client/src/app/services/admin-service/admin.service.ts
  client/src/app/services/game-information-handler/game-information-handler.service.ts
  server/app/services/difference-service/difference.service.ts
  server/app/services/difference-service/difference.spec.ts
  server/app/services/socket-manager-service/game-play-manager.service.ts
Due: build_backend, build_angular_client

Fix/cl
  client/src/app/components/exit-game-button/exit-game-button.component.ts
  client/src/app/pages/waiting-room/waiting-room.component.ts
Due: build_angular_client

fix
  client/src/app/services/user-service/user.service.ts
  flutter/app/lib/domain/services/personal_user_service.dart
Due: build_angular_client

wrapped each page in a WillPopScrope so that nothing happens
  flutter/app/lib/domain/utils/base_url.dart
  flutter/app/lib/pages/admin_page.dart
  flutter/app/lib/pages/classic_game_page.dart
  flutter/app/lib/pages/create_game_page.dart
  flutter/app/lib/pages/friend-req.dart
  flutter/app/lib/pages/friendsListPage.dart
  flutter/app/lib/pages/game_selection_page.dart
  flutter/app/lib/pages/historic_page.dart
  flutter/app/lib/pages/login_page.dart
  flutter/app/lib/pages/main_page.dart
  flutter/app/lib/pages/observableGamePage.dart
  flutter/app/lib/pages/profile_page.dart
  flutter/app/lib/pages/reachable_game_page.dart
  flutter/app/lib/pages/reset_password_page.dart
  flutter/app/lib/pages/sign_up_page.dart
  flutter/app/lib/pages/social_page.dart
  flutter/app/lib/pages/waiting_page.dart
Due: none

fix
  flutter/app/lib/components/historic_personal_Info.dart
  flutter/app/lib/domain/services/auth_service.dart
  flutter/app/lib/domain/services/personal_user_service.dart
Due: none

fix
  flutter/app/lib/domain/services/auth_service.dart
Due: none

Fix/traduction
  flutter/app/lib/components/limited_constants_dialog.dart
  flutter/app/lib/l10n/app_en.arb
  flutter/app/lib/l10n/app_fr.arb
Due: none

fix thx samy
  flutter/app/lib/components/custom_app_bar.dart
  flutter/app/lib/domain/services/observable_game_manager.dart
  flutter/app/lib/domain/services/reachable_games_manager.dart
  flutter/app/lib/l10n/app_en.arb
  flutter/app/lib/l10n/app_fr.arb
  flutter/app/lib/pages/waiting_page.dart
Due: none

Fix/traduction
  flutter/app/lib/components/custom_app_bar.dart
  flutter/app/lib/domain/services/observable_game_manager.dart
  flutter/app/lib/domain/services/reachable_games_manager.dart
  flutter/app/lib/l10n/app_en.arb
  flutter/app/lib/l10n/app_fr.arb
  flutter/app/lib/pages/waiting_page.dart
Due: none

fixed username change
  flutter/app/lib/components/update_name_dialog.dart
  flutter/app/lib/domain/services/chat_service.dart
  flutter/app/lib/domain/utils/socket_events.dart
Due: none

remove back button but not for those pages
  flutter/app/lib/domain/utils/base_url.dart
  flutter/app/lib/pages/admin_page.dart
  flutter/app/lib/pages/create_game_page.dart
  flutter/app/lib/pages/profile_page.dart
  flutter/app/lib/pages/social_page.dart
Due: none

Path conditions:
  build_backend: any of: server/**/*, common/**/*
  build_angular_client: any of: client/**/*, common/**/*
