Repository margielamob/Cherches-Trouves-Gagnes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_angular_client

.gitlab-ci.yml:

image: node:14

.only-angular_client: &only-angular_client
  only:
    refs:
      - main
      - merge_requests
    changes:
      - client/**/*
      - common/**/*

.only-backend: &only-backend
  only:
    refs:
      - main
      - merge_requests
    changes:
      - server/**/*
      - common/**/*

stages:
  - build_angular_client
  - build_backend

build_backend:
  stage: build_backend
  <<: *only-backend
  script:
    - echo "building the server..."
    - cd server
    - npm ci
    - npm run build

build_angular_client:
  stage: build_angular_client
  <<: *only-angular_client
  script:
    - echo "building the angular client..."
    - cd client
    - npm ci
    - npm install -g @angular/cli
    - ng build

added dialog to join or create game
  client/src/app/app.module.ts
  client/src/app/components/create-join-game-dialogue/create-join-game-dialogue.component.html
  client/src/app/components/create-join-game-dialogue/create-join-game-dialogue.component.scss
  client/src/app/components/create-join-game-dialogue/create-join-game-dialogue.component.spec.ts
  client/src/app/components/create-join-game-dialogue/create-join-game-dialogue.component.ts
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/pages/main-page/main-page.component.ts
Due: build_angular_client

clearing unused logic
  client/src/app/services/replay-service/replay.service.ts
Due: build_angular_client

Change de interface and game management to accomodate 4 players
  flutter/app/lib/components/carousel_bottom_classic.dart
  flutter/app/lib/components/classic_game_dialog.dart
  flutter/app/lib/components/classic_game_modal.dart
  flutter/app/lib/components/current_players.dart
  flutter/app/lib/components/no_game_reachable.dart
  flutter/app/lib/components/reachable_games_card.dart
  flutter/app/lib/components/reachable_games_carrousel.dart
  flutter/app/lib/domain/models/classic_game_model.dart
  flutter/app/lib/domain/models/game_model.dart
  flutter/app/lib/domain/models/requests/create_classic_game_request.dart
  flutter/app/lib/domain/models/requests/create_game_request.dart
  flutter/app/lib/domain/models/requests/joinable_games_request.dart
  flutter/app/lib/domain/models/requests/waiting_room_request.dart
  flutter/app/lib/domain/models/user.dart
  flutter/app/lib/domain/services/auth_service.dart
  flutter/app/lib/domain/services/carousel_service.dart
  flutter/app/lib/domain/services/end_game_service.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/services/reachable_games_manager.dart
  flutter/app/lib/domain/utils/socket_events.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/main_page.dart
  flutter/app/lib/pages/reachable_game_page.dart
  flutter/app/lib/pages/waiting_page.dart
  flutter/app/test/models/create_game_request_test.dart
  flutter/app/test/models/reachable_game_request_test.dart
  flutter/app/test/models/reachable_game_request_test.data.dart
  flutter/app/test/service/carouselle_service_test.dart
  flutter/app/test/service/joinable_games_manager_test.dart
Due: none

Feat/mechanics for joigning a game
  flutter/app/lib/components/reachable_games_card.dart
  flutter/app/lib/components/reachable_games_carrousel.dart
  flutter/app/lib/domain/services/reachable_games_manager.dart
Due: none

able to see players into the waitingRoom, need to check if startGame function...
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/utils/socket_events.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/waiting_page.dart
Due: none

slider implemented
  client/src/app/app.module.ts
  client/src/app/components/replay-bar/replay-bar.component.html
  client/src/app/components/replay-bar/replay-bar.component.scss
  client/src/app/components/replay-bar/replay-bar.component.ts
  client/src/app/components/replay-buttons/replay-buttons.component.html
  client/src/app/components/replay-buttons/replay-buttons.component.scss
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/services/differences-detection-handler/differences-detection-handler.service.ts
  client/src/app/services/replay-service/event-array.ts
  client/src/app/services/replay-service/event-queue.ts
  client/src/app/services/replay-service/replay.service.ts
Due: build_angular_client

en attendant les charges
  client/src/app/components/replay-bar/replay-bar.component.ts
Due: build_angular_client

Fix/joining a game
  flutter/app/lib/components/avatar/avatar_dialog.dart
  flutter/app/lib/components/carousel_bottom_classic.dart
  flutter/app/lib/components/reachable_games_card.dart
  flutter/app/lib/domain/models/requests/create_classic_game_request.dart
  flutter/app/lib/domain/models/requests/join_classic_game_request.dart
  flutter/app/lib/domain/models/requests/join_game_request.dart
  flutter/app/lib/domain/models/requests/join_game_send_request.dart
  flutter/app/lib/domain/models/requests/waiting_room_request.dart
  flutter/app/lib/domain/models/user_model.dart
  flutter/app/lib/domain/services/auth_service.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/services/game_users_manager.dart
  flutter/app/lib/domain/services/personal_user_service.dart
  flutter/app/lib/domain/services/reachable_games_manager.dart
  flutter/app/lib/domain/utils/socket_events.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/profile_page.dart
  flutter/app/lib/pages/sign_up_page.dart
  flutter/app/test/models/create_game_request_test.dart
  flutter/app/test/models/join_classic_game_request.dart
Due: none

replay timer fixed
  client/src/app/components/replay-bar/replay-bar.component.ts
  client/src/app/components/timer-stopwatch/timer-stopwatch.component.html
  client/src/app/components/timer-stopwatch/timer-stopwatch.component.ts
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/services/game-information-handler/game-information-handler.service.ts
  client/src/app/services/replay-service/replay.service.ts
Due: build_angular_client

client léger able to see players into the waitingRoom, need to check if startGame function...
  flutter/app/lib/components/carousel_bottom_classic.dart
  flutter/app/lib/domain/models/requests/creator_left_request.dart
  flutter/app/lib/domain/models/requests/leave_waiting_room_request.dart
  flutter/app/lib/domain/models/requests/play_receive_request.dart
  flutter/app/lib/domain/models/requests/waiting_room_request.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/utils/socket_events.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/main_page.dart
  flutter/app/lib/pages/waiting_page.dart
Due: none

Refactoring/profile age
  flutter/app/lib/components/avatar.dart
  flutter/app/lib/components/avatar_dialog.dart
  flutter/app/lib/components/user_personal_info.dart
  flutter/app/lib/domain/services/profile_page_manager.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/camera_visualiser_page.dart
  flutter/app/lib/pages/profile_page.dart
Due: none

remove mouse region comment
  flutter/app/lib/components/user_personal_info.dart
  flutter/app/lib/domain/services/picture_service.dart
Due: none

remove uncessary navigation
  flutter/app/lib/components/avatar_dialog.dart
Due: none

added back the save button renavigation
  flutter/app/lib/components/avatar_dialog.dart
Due: none

trying to encapsulate camera inside a camera manager
  flutter/app/lib/domain/services/camera_manager.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/camera_visualiser_page.dart
Due: none

using Get.to instead
  flutter/app/lib/components/avatar_dialog.dart
Due: none

add camera as a provider
  flutter/app/lib/domain/services/camera_manager.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/camera_visualiser_page.dart
Due: none

fixed navigation?
  flutter/app/lib/components/avatar_dialog.dart
  flutter/app/lib/pages/camera_visualiser_page.dart
Due: none

trying somethign
  flutter/app/lib/components/avatar_dialog.dart
Due: none

deleted tests
  client/src/app/components/timer-stopwatch/timer-stopwatch.component.spec.ts
Due: build_angular_client

Feature/progress bar replay
  client/src/app/app.module.ts
  client/src/app/components/replay-bar/replay-bar.component.html
  client/src/app/components/replay-bar/replay-bar.component.scss
  client/src/app/components/replay-bar/replay-bar.component.ts
  client/src/app/components/replay-buttons/replay-buttons.component.html
  client/src/app/components/replay-buttons/replay-buttons.component.scss
  client/src/app/components/timer-stopwatch/timer-stopwatch.component.html
  client/src/app/components/timer-stopwatch/timer-stopwatch.component.spec.ts
  client/src/app/components/timer-stopwatch/timer-stopwatch.component.ts
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/services/differences-detection-handler/differences-detection-handler.service.ts
  client/src/app/services/game-information-handler/game-information-handler.service.ts
  client/src/app/services/replay-service/event-array.ts
  client/src/app/services/replay-service/event-queue.ts
  client/src/app/services/replay-service/replay.service.ts
Due: build_angular_client

chat service scaffold
  client/src/app/services/chat-service/chat-manager.service.ts
  flutter/app/lib/domain/services/auth_service.dart
  flutter/app/lib/domain/services/chat_service.dart
  flutter/app/lib/domain/utils/socket_events.dart
  flutter/app/pubspec.lock
  flutter/app/pubspec.yaml
Due: build_angular_client

basic friend list server service
  server/app/services/socket-manager-service/friend-list.service.ts
Due: build_backend

able to see players into the waitingRoom, need to check if startGame function...
  flutter/app/lib/components/carousel_bottom_classic.dart
  flutter/app/lib/domain/models/requests/accept_player_request.dart
  flutter/app/lib/domain/models/requests/ready_game_request.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/utils/socket_events.dart
Due: none

We can now join a game with 4 players from the light client
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/pages/classic_game_page.dart
Due: none

dialog box for game params
  flutter/app/lib/components/carousel_bottom_classic.dart
  flutter/app/lib/components/game_constants_dialog.dart
  flutter/app/lib/pages/main_page.dart
Due: none

Visual adjustment
  client/src/app/components/app-logo/app-logo.component.html
  client/src/app/components/app-logo/app-logo.component.ts
  client/src/app/components/dialog-create-game/dialog-create-game.component.html
  client/src/app/components/dialog-create-game/dialog-create-game.component.spec.ts
  client/src/app/components/dialog-create-game/dialog-create-game.component.ts
  client/src/app/components/dialog-delete-account/dialog-delete-account.component.html
  client/src/app/components/dialog-delete-account/dialog-delete-account.component.scss
  client/src/app/components/dialog-user-avatar/dialog-user-avatar.component.html
  client/src/app/components/dialog-user-avatar/dialog-user-avatar.component.ts
  client/src/app/components/game-constants-settings/game-constants-settings.component.html
  client/src/app/components/game-constants-settings/game-constants-settings.component.spec.ts
  client/src/app/components/game-constants-settings/game-constants-settings.component.ts
  client/src/app/components/loading-screen/loading-screen.component.html
  client/src/app/components/loading-screen/loading-screen.component.spec.ts
  client/src/app/components/loading-screen/loading-screen.component.ts
  client/src/app/components/page-header/page-header.component.html
  client/src/app/components/page-header/page-header.component.ts
  client/src/app/components/timer-stopwatch/timer-stopwatch.component.ts
  client/src/app/components/user-profil-information/user-profil-information.component.ts
  client/src/app/guards/session.guard.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/pages/app/app.component.ts
  client/src/app/pages/waiting-room/waiting-room.component.html
  client/src/app/services/authentication-service/authentication.service.ts
  client/src/app/services/replay-service/replay.service.ts
  client/src/app/services/theme-service/theme.service.ts
  client/src/app/services/user-service/user.service.ts
  client/src/assets/quote_d.png
  client/src/assets/search_find_win_blue.jpg
  client/src/assets/search_find_win_prp.jpg
Due: build_angular_client

pulling dev
  client/src/app/components/page-header/page-header.component.html
Due: build_angular_client

fixed bug related to timer
  client/src/app/services/replay-service/replay.service.ts
  common/socket-event.ts
  server/app/services/socket-manager-service/socket-manager-service.service.ts
Due: build_backend, build_angular_client

lot of improvements
  client/src/app/components/replay-bar/replay-bar.component.html
  client/src/app/components/replay-bar/replay-bar.component.ts
  client/src/app/services/differences-detection-handler/differences-detection-handler.service.ts
  client/src/app/services/replay-service/event-array.ts
  client/src/app/services/replay-service/replay.service.ts
Due: build_angular_client

Visual adjustment
  client/src/app/services/authentication-service/authentication.service.ts
  client/src/app/services/user-service/user.service.ts
Due: build_angular_client

first try not very good but a good base to work on
  client/src/app/app.module.ts
  client/src/app/components/friend-list/add-friend/add-friend.component.html
  client/src/app/components/friend-list/add-friend/add-friend.component.scss
  client/src/app/components/friend-list/add-friend/add-friend.component.spec.ts
  client/src/app/components/friend-list/add-friend/add-friend.component.ts
  client/src/app/components/friend-list/friend-card/friend-card.component.html
  client/src/app/components/friend-list/friend-card/friend-card.component.scss
  client/src/app/components/friend-list/friend-card/friend-card.component.spec.ts
  client/src/app/components/friend-list/friend-card/friend-card.component.ts
  client/src/app/components/friend-list/friend-list/friend-list.component.html
  client/src/app/components/friend-list/friend-list/friend-list.component.scss
  client/src/app/components/friend-list/friend-list/friend-list.component.ts
  client/src/app/components/friend-list/friend-panel/friend-panel.component.html
  client/src/app/components/friend-list/friend-panel/friend-panel.component.scss
  client/src/app/components/friend-list/friend-panel/friend-panel.component.spec.ts
  client/src/app/components/friend-list/friend-panel/friend-panel.component.ts
  client/src/app/components/friend-list/header-button/header-button.component.html
  client/src/app/components/friend-list/header-button/header-button.component.scss
  client/src/app/components/friend-list/header-button/header-button.component.spec.ts
  client/src/app/components/friend-list/header-button/header-button.component.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/pages/main-page/main-page.component.ts
  client/src/app/services/friend-list/friend-manager.service.ts
  client/src/app/services/user-service/user.service.ts
  common/friend-list.ts
  common/socket-event.ts
  server/app/services/socket-manager-service/friend-list.service.ts
  server/app/services/socket-manager-service/socket-manager-service.service.ts
  server/app/services/socket-manager-service/user-manager.service.ts
Due: build_backend, build_angular_client

converting multi to gameCards
  flutter/app/lib/components/reachable_games_card.dart
  flutter/app/lib/domain/models/game_card_multi_model.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/pages/classic_game_page.dart
  flutter/app/test/models/reachable_game_request_test.dart
Due: none

new dialog Box
  flutter/app/lib/components/carousel_bottom_classic.dart
  flutter/app/lib/components/game_constants_dialog.dart
Due: none

DialogBox to set params of the game done on client léger
  flutter/app/lib/components/game_constants_dialog.dart
Due: none

Fix/bug game creation
  flutter/app/lib/components/carousel_bottom_classic.dart
  flutter/app/lib/components/game_constants_dialog.dart
  flutter/app/lib/pages/main_page.dart
Due: none

fix dialogbox bug
  flutter/app/lib/components/game_constants_dialog.dart
Due: none

fix endGame problem, add leaveArena event
  flutter/app/lib/domain/models/requests/leave_arena_request.dart
  flutter/app/lib/domain/services/end_game_service.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/utils/socket_events.dart
  flutter/app/lib/pages/classic_game_page.dart
Due: none

Fix/bug game creation
  flutter/app/lib/components/game_constants_dialog.dart
  flutter/app/lib/domain/models/requests/leave_arena_request.dart
  flutter/app/lib/domain/services/end_game_service.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/utils/socket_events.dart
  flutter/app/lib/pages/classic_game_page.dart
Due: none

Fix/sending receiving difference
  flutter/app/lib/domain/models/requests/difference_found_message.dart
  flutter/app/lib/domain/models/requests/difference_found_request.dart
  flutter/app/lib/domain/services/difference_detection_service.dart
  flutter/app/lib/domain/utils/difference_found_message.dart
  flutter/app/lib/domain/utils/difference_found_request.dart
  flutter/app/test/models/difference_found_message_test.dart
Due: none
