Repository margielamob/Cherches-Trouves-Gagnes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_angular_client

.gitlab-ci.yml:

image: node:14

.only-angular_client: &only-angular_client
  only:
    refs:
      - main
      - merge_requests
    changes:
      - client/**/*
      - common/**/*

.only-backend: &only-backend
  only:
    refs:
      - main
      - merge_requests
    changes:
      - server/**/*
      - common/**/*

stages:
  - build_angular_client
  - build_backend

build_backend:
  stage: build_backend
  <<: *only-backend
  script:
    - echo "building the server..."
    - cd server
    - npm ci
    - npm run build

build_angular_client:
  stage: build_angular_client
  <<: *only-angular_client
  script:
    - echo "building the angular client..."
    - cd client
    - npm ci
    - npm install -g @angular/cli
    - ng build

observers list
  client/src/app/components/game-card/game-card.component.html
  client/src/app/components/game-card/game-card.component.ts
  common/joinable-game-card.ts
  common/socket-event.ts
  server/app/services/socket-manager-service/game-state.service.ts
Due: build_backend, build_angular_client

etc
  server/app/classes/game/game.ts
Due: build_backend

add change
  flutter/app/lib/components/observable_game_card.dart
  flutter/app/lib/domain/models/requests/joinable_games_request.dart
Due: none

a
  client/src/app/services/game-information-handler/game-information-handler.service.ts
  common/user.ts
  server/app/classes/game/game.ts
  server/app/services/game-manager-service/game-manager.service.ts
  server/app/services/socket-manager-service/game-play-manager.service.ts
Due: build_backend, build_angular_client

add observers
  flutter/app/lib/components/current_players.dart
  flutter/app/lib/domain/models/user_model.dart
  flutter/app/lib/domain/services/difference_detection_service.dart
  flutter/app/lib/domain/services/game_manager_service.dart
Due: none

mode observateur avec quelques problemes
  flutter/app/lib/components/current_players.dart
  flutter/app/lib/domain/models/user_model.dart
  flutter/app/lib/domain/services/difference_detection_service.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/pages/classic_game_page.dart
Due: none

Feature/merge trad
  flutter/app/lib/components/carousel_bottom_classic.dart
  flutter/app/lib/components/carousel_bottom_delete.dart
  flutter/app/lib/components/carousel_card.dart
  flutter/app/lib/components/classic_game_dialog.dart
  flutter/app/lib/components/historic_personal_Info.dart
  flutter/app/lib/components/observable_game_card.dart
  flutter/app/lib/components/reachable_games_card.dart
  flutter/app/lib/components/user_personal_info.dart
  flutter/app/lib/l10n/app_en.arb
  flutter/app/lib/l10n/app_fr.arb
  flutter/app/lib/pages/admin_page.dart
  flutter/app/lib/pages/create_game_page.dart
  flutter/app/lib/pages/game_selection_page.dart
  flutter/app/lib/pages/historic_page.dart
  flutter/app/lib/pages/profile_page.dart
  flutter/app/lib/pages/reachable_game_page.dart
  flutter/app/lib/pages/waiting_page.dart
  flutter/app/test/models/reachable_game_request_test.dart
Due: none

recentered the button
  flutter/app/lib/domain/utils/base_url.dart
  flutter/app/lib/pages/classic_game_page.dart
Due: none

added a button so that it's possible to cheat during a game
  flutter/app/lib/pages/classic_game_page.dart
Due: none

add a cheat mode service
  flutter/app/lib/domain/services/cheat_mode_service.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/classic_game_page.dart
Due: none

add a socket event to fetch the differences
  flutter/app/lib/domain/models/requests/fetch_difference_request.dart
  flutter/app/lib/domain/services/cheat_mode_service.dart
  flutter/app/lib/domain/services/difference_detection_service.dart
  flutter/app/lib/domain/utils/base_url.dart
  flutter/app/lib/domain/utils/socket_events.dart
Due: none

cheat mode service
  flutter/app/lib/domain/services/cheat_mode_service.dart
Due: none

added a test for parsing list of dynamic
  flutter/app/lib/domain/models/requests/fetch_difference_response.dart
  flutter/app/lib/domain/services/cheat_mode_service.dart
  flutter/app/lib/domain/utils/base_url.dart
  flutter/app/test/models/fetch_difference_response.test.dart
Due: none

remove comments
  flutter/app/lib/domain/services/cheat_mode_service.dart
Due: none

it's working
  flutter/app/lib/domain/utils/base_url.dart
Due: none

it's not possible to resuse starting Blinking
  flutter/app/lib/domain/services/cheat_mode_service.dart
  flutter/app/lib/domain/services/difference_detection_service.dart
Due: none

when the user presses the button, it won't blink, but it will show the differences
  flutter/app/lib/domain/services/cheat_mode_service.dart
  flutter/app/lib/domain/services/difference_detection_service.dart
  flutter/app/lib/pages/classic_game_page.dart
Due: none

made the buttons work
  flutter/app/lib/pages/classic_game_page.dart
Due: none

remove commits
  flutter/app/lib/domain/services/cheat_mode_service.dart
Due: none

progress on blinking differences
  flutter/app/lib/domain/services/cheat_mode_service.dart
  flutter/app/lib/domain/services/difference_detection_service.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/classic_game_page.dart
Due: none

add blinking differences 4 times per second
  flutter/app/lib/domain/services/cheat_mode_service.dart
  flutter/app/lib/domain/services/difference_detection_service.dart
Due: none

traduction wip
  client/src/app/components/create-join-game-dialogue/create-join-game-dialogue.component.html
  client/src/app/components/create-join-game-dialogue/create-join-game-dialogue.component.ts
  client/src/app/components/dialog-change-name/dialog-change-name.component.html
  client/src/app/components/dialog-game-over/dialog-game-over.component.ts
  client/src/app/components/friend-requests/friend-requests.component.html
  client/src/app/components/friends-list/friends-list.component.html
  client/src/app/components/game-card/game-card.component.html
  client/src/app/components/search-bat/search-bat.component.html
  client/src/app/pages/admin-page/admin-page.component.html
  client/src/app/pages/friends-page/friends-page.component.html
  client/src/app/pages/main-page/main-page.component.html
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

Quick fix
  flutter/app/lib/pages/classic_game_page.dart
Due: none

Feature/traduction
  client/src/app/components/create-join-game-dialogue/create-join-game-dialogue.component.html
  client/src/app/components/create-join-game-dialogue/create-join-game-dialogue.component.ts
  client/src/app/components/dialog-change-name/dialog-change-name.component.html
  client/src/app/components/dialog-game-over/dialog-game-over.component.ts
  client/src/app/components/friend-requests/friend-requests.component.html
  client/src/app/components/friends-list/friends-list.component.html
  client/src/app/components/game-card/game-card.component.html
  client/src/app/components/search-bat/search-bat.component.html
  client/src/app/pages/admin-page/admin-page.component.html
  client/src/app/pages/friends-page/friends-page.component.html
  client/src/app/pages/main-page/main-page.component.html
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

radius fixed
  client/src/app/pages/create-game-page/create-game-page.component.html
  client/src/environments/environment.ts
Due: build_angular_client

fixed tests
  client/src/environments/environment.ts
Due: build_angular_client

radius fixed
  client/src/app/pages/create-game-page/create-game-page.component.html
Due: build_angular_client

fixed multiple players
  client/package-lock.json
  client/package.json
  server/app/services/socket-manager-service/game-creation.service.ts
Due: build_backend, build_angular_client

fix typo client leger
  flutter/app/lib/main.dart
  flutter/app/lib/pages/sign_up_page.dart
Due: none

Fix/fix auth flutter
  flutter/app/lib/main.dart
  flutter/app/lib/pages/sign_up_page.dart
Due: none

Revert "Merge branch 'fix/client-lourd' into 'dev'"
  client/package-lock.json
  client/package.json
  server/app/services/socket-manager-service/game-creation.service.ts
Due: build_backend, build_angular_client

fixed replay speeds
  client/src/app/services/replay-service/replay-interfaces.ts
Due: build_angular_client

fixed join-game
  client/src/app/components/create-join-game-dialogue/create-join-game-dialogue.component.html
Due: build_angular_client

solve one avatar problem
  client/src/app/components/game-card/game-card.component.html
  client/src/app/components/game-card/game-card.component.scss
  client/src/app/components/page-header/page-header.component.html
  client/src/app/components/user-avatar/user-avatar.component.html
  client/src/app/components/user-avatar/user-avatar.component.ts
  client/src/app/components/user-profil-information/user-profil-information.component.html
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/pages/sign-up-page/sign-up-page.component.ts
  client/src/app/pages/waiting-room/waiting-room.component.html
  client/src/app/pages/waiting-room/waiting-room.component.scss
  client/src/assets/avatar-predefini/avatar10.png
  client/src/assets/avatar-predefini/avatar11.png
  client/src/assets/avatar-predefini/avatar12.png
  client/src/assets/avatar-predefini/avatar13.png
  client/src/assets/avatar-predefini/avatar14.png
  client/src/assets/avatar-predefini/avatar4.png
  client/src/assets/avatar-predefini/avatar5.png
  client/src/assets/avatar-predefini/avatar6.png
  client/src/assets/avatar-predefini/avatar7.png
  client/src/assets/avatar-predefini/avatar8.png
  client/src/assets/avatar-predefini/avatar9.png
  client/src/assets/avatar-predefini/default-user-icon.jpg
  client/src/environments/environment.prod.ts
  flutter/app/assets/avatar-predefini/camera.png
  flutter/app/assets/avatar-predefini/default-user-icon.jpg
  flutter/app/lib/domain/services/personal_user_service.dart
  flutter/app/lib/pages/sign_up_page.dart
Due: build_angular_client

solve one avatar probleme
  client/src/app/components/user-avatar/user-avatar.component.html
  client/src/app/components/user-avatar/user-avatar.component.ts
Due: build_angular_client

small fixes
  client/main.js
  client/src/app/components/chat-panel/chat-button/chat-button.component.ts
  client/src/app/pages/waiting-room/waiting-room.component.ts
  client/src/app/services/chat-service/chat-display.service.ts
  client/src/app/services/chat-service/chat-manager.service.ts
  client/src/app/services/user-service/user.service.ts
  common/socket-event.ts
  server/app/services/socket-manager-service/chat.service.ts
  server/app/services/socket-manager-service/user-manager.service.ts
Due: build_backend, build_angular_client

custom app bar
  flutter/app/lib/components/custom_app_bar.dart
  flutter/app/lib/pages/main_page.dart
Due: none

ajout trad
  client/src/app/components/chat-panel/chat-list/chat-list.component.html
  client/src/app/components/chat-panel/room-add/room-add.component.html
  client/src/app/components/chat-panel/room-card/room-card.component.html
  client/src/app/components/chat-panel/room-create/room-create.component.html
  client/src/app/components/chat-panel/room-search/room-search.component.html
  client/src/app/components/dialog-game-over/dialog-game-over.component.html
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client
