Repository margielamob/Cherches-Trouves-Gagnes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_angular_client

.gitlab-ci.yml:

image: node:14

.only-angular_client: &only-angular_client
  only:
    refs:
      - main
      - merge_requests
    changes:
      - client/**/*
      - common/**/*

.only-backend: &only-backend
  only:
    refs:
      - main
      - merge_requests
    changes:
      - server/**/*
      - common/**/*

stages:
  - build_angular_client
  - build_backend

build_backend:
  stage: build_backend
  <<: *only-backend
  script:
    - echo "building the server..."
    - cd server
    - npm ci
    - npm run build

build_angular_client:
  stage: build_angular_client
  <<: *only-angular_client
  script:
    - echo "building the angular client..."
    - cd client
    - npm ci
    - npm install -g @angular/cli
    - ng build

observateur
  flutter/app/lib/components/reachable_games_card.dart
  flutter/app/lib/domain/models/requests/observe_game_request.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  server/app/services/socket-manager-service/game-state.service.ts
Due: build_backend

wtv
  client/package-lock.json
  client/package.json
  client/src/app/components/create-join-game-dialogue/create-join-game-dialogue.component.ts
  client/src/app/pages/join-game-selection/join-game-selection.component.ts
Due: build_angular_client

wtv
  common/socket-event.ts
  server/app/services/game-manager-service/game-manager.service.ts
  server/app/services/socket-manager-service/game-creation.service.ts
  server/app/services/socket-manager-service/game-play-manager.service.ts
  server/app/services/socket-manager-service/game-state.service.ts
Due: build_backend, build_angular_client

observateur mode working
  flutter/app/lib/domain/services/game_manager_service.dart
Due: none

fix logout and add error check before totalTimePlayed
  client/src/app/services/user-service/user.service.ts
  flutter/app/lib/components/custom_app_bar.dart
  flutter/app/lib/domain/services/end_game_service.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/services/personal_user_service.dart
Due: build_angular_client

action antérieur
  flutter/app/lib/components/historic_personal_Info.dart
  flutter/app/lib/components/user_personal_info.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/historic_page.dart
Due: none

historiques des connexions fini
  flutter/app/lib/components/historic_personal_Info.dart
  flutter/app/lib/domain/services/personal_user_service.dart
Due: none

something something commit etc etc
  client/src/app/components/create-join-game-dialogue/create-join-game-dialogue.component.html
  client/src/app/components/create-join-game-dialogue/create-join-game-dialogue.component.ts
  client/src/app/pages/join-game-selection/join-game-selection.component.html
  client/src/app/pages/join-game-selection/join-game-selection.component.scss
  client/src/app/pages/join-game-selection/join-game-selection.component.ts
  client/src/app/services/joinable-game/joinable-game.service.ts
  common/socket-event.ts
Due: build_backend, build_angular_client

can draw rectangle and ellipse
  client/src/app/classes/commands/draw-ellipse-command.ts
  client/src/app/classes/commands/draw-rectangle-command.ts
  client/src/app/components/common-tool-box/common-tool-box.component.html
  client/src/app/components/common-tool-box/common-tool-box.component.ts
  client/src/app/interfaces/command.ts
  client/src/app/services/draw-service/draw-service.service.ts
Due: build_angular_client

Feature/rectangle draw
  client/src/app/classes/commands/draw-command.ts
  client/src/app/classes/commands/draw-ellipse-command.ts
  client/src/app/classes/commands/draw-rectangle-command.ts
  client/src/app/components/common-tool-box/common-tool-box.component.html
  client/src/app/components/common-tool-box/common-tool-box.component.ts
  client/src/app/interfaces/command.ts
  client/src/app/services/draw-service/draw-service.service.ts
Due: build_angular_client

Feat/pencil features
  flutter/app/lib/components/block_color_picker.dart
  flutter/app/lib/components/difference_vignette_modal.dart
  flutter/app/lib/components/drawing_canvas_left.dart
  flutter/app/lib/components/drawing_canvas_right.dart
  flutter/app/lib/components/menu_under_canvas_left.dart
  flutter/app/lib/components/pencil_box.dart
  flutter/app/lib/components/submission_box_new_drawing.dart
  flutter/app/lib/domain/models/requests/send_new_vignette_request.dart
  flutter/app/lib/domain/services/drawing_service.dart
  flutter/app/lib/domain/services/image_selection_service.dart
  flutter/app/lib/domain/services/pencil_box_manager.dart
  flutter/app/lib/domain/services/pencil_service.dart
  flutter/app/lib/domain/services/radius_slider_service.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/create_game_page.dart
  flutter/app/pubspec.lock
  flutter/app/pubspec.yaml
Due: none

Add gameHistoric
  flutter/app/lib/components/historic_personal_Info.dart
  flutter/app/lib/domain/services/personal_user_service.dart
Due: none

action antérieur léger done
  flutter/app/lib/components/end_game_dialog.dart
Due: none

Feature/action anterieur leger
  flutter/app/lib/components/end_game_dialog.dart
  flutter/app/lib/components/historic_personal_Info.dart
  flutter/app/lib/components/user_personal_info.dart
  flutter/app/lib/domain/services/personal_user_service.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/historic_page.dart
Due: none

Feature/user session flutter
  flutter/app/lib/domain/services/auth_service.dart
  flutter/app/lib/pages/login_page.dart
Due: none

push
  client/src/app/components/game-card-buttons/game-card-buttons.component.html
  client/src/app/components/game-card-buttons/game-card-buttons.component.ts
  client/src/app/pages/join-game-selection/join-game-selection.component.html
  client/src/app/pages/join-game-selection/join-game-selection.component.ts
  client/src/app/services/joinable-game/joinable-game.service.ts
  common/joinable-game-card.ts
  common/socket-event.ts
  server/app/classes/game/game.ts
  server/app/services/game-manager-service/game-manager.service.ts
  server/app/services/socket-manager-service/game-creation.service.ts
  server/app/services/socket-manager-service/game-state.service.ts
Due: build_backend, build_angular_client

fixed user tl
  client/src/app/components/create-join-game-dialogue/create-join-game-dialogue.component.ts
  server/app/services/socket-manager-service/game-creation.service.ts
Due: build_backend, build_angular_client

merge observateur et autre
  flutter/app/lib/components/classic_game_dialog.dart
  flutter/app/lib/components/reachable_games_carrousel.dart
  flutter/app/lib/domain/services/reachable_games_manager.dart
  flutter/app/lib/domain/utils/socket_events.dart
  flutter/app/lib/pages/reachable_game_page.dart
Due: none

fixed leave waiting
  server/app/services/socket-manager-service/game-creation.service.ts
Due: build_backend

commit
  flutter/app/lib/components/reachable_games_carrousel.dart
  flutter/app/lib/domain/models/requests/joinable_games_request.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/services/reachable_games_manager.dart
Due: none

add observable gameManager
  flutter/app/lib/components/observable_games_carrousel.dart
  flutter/app/lib/domain/services/observable_game_manager.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/observableGamePage.dart
Due: none

bucket and pipette UI
  client/src/app/components/common-tool-box/common-tool-box.component.html
  client/src/app/components/common-tool-box/common-tool-box.component.ts
  client/src/app/components/draw-canvas/draw-canvas.component.ts
  client/src/app/services/draw-service/draw-service.service.ts
  client/src/app/services/draw-service/drawing-tools.service.ts
Due: build_angular_client

upadte img when updating theme
  flutter/app/assets/quote_d.png
  flutter/app/assets/search_find_win_blue.jpg
  flutter/app/assets/search_find_win_prp.jpg
  flutter/app/lib/domain/services/profile_page_manager.dart
  flutter/app/lib/pages/login_page.dart
  flutter/app/lib/pages/main_page.dart
Due: none

Feature/update image when changing theme
  flutter/app/assets/quote_d.png
  flutter/app/assets/search_find_win_blue.jpg
  flutter/app/assets/search_find_win_prp.jpg
  flutter/app/lib/domain/services/profile_page_manager.dart
  flutter/app/lib/pages/login_page.dart
  flutter/app/lib/pages/main_page.dart
Due: none

observable interface
  flutter/app/lib/components/classic_game_dialog.dart
  flutter/app/lib/components/no_game_observable.dart
  flutter/app/lib/components/observable_games_carrousel.dart
  flutter/app/lib/components/reachable_games_card.dart
  flutter/app/lib/domain/models/requests/joinable_games_request.dart
  flutter/app/lib/domain/services/observable_game_manager.dart
  flutter/app/lib/pages/observableGamePage.dart
Due: none

lol
  client/src/app/components/differences-area/differences-area.component.ts
  client/src/app/components/game-card-buttons/game-card-buttons.component.ts
  client/src/app/pages/join-game-selection/join-game-selection.component.ts
  client/src/app/services/chat-service/chat-manager.service.ts
  client/src/app/services/joinable-game/joinable-game.service.ts
  common/joinable-game-card.ts
  common/socket-event.ts
  server/app/classes/game/game.ts
  server/app/services/game-manager-service/game-manager.service.ts
  server/app/services/socket-manager-service/game-creation.service.ts
  server/app/services/socket-manager-service/game-play-manager.service.ts
  server/app/services/socket-manager-service/game-state.service.ts
Due: build_backend, build_angular_client

removed clues
  client/src/app/components/sidebar/sidebar.component.html
  server/app/services/game-manager-service/game-manager.service.ts
Due: build_backend, build_angular_client

add function
  flutter/app/lib/components/observable_game_card.dart
  flutter/app/lib/components/observable_games_carrousel.dart
  flutter/app/lib/domain/models/requests/joinable_games_request.dart
  flutter/app/lib/domain/services/observable_game_manager.dart
  flutter/app/lib/domain/services/reachable_games_manager.dart
Due: none

push
  client/src/app/components/dialog-game-over/dialog-game-over.component.html
  client/src/app/components/dialog-game-over/dialog-game-over.component.ts
  client/src/app/components/dialog-set-up-game/dialog-set-up-game/dialog-set-up-game.component.html
  client/src/app/components/differences-area/differences-area.component.html
  client/src/app/components/differences-area/differences-area.component.ts
  client/src/app/components/exit-game-button/exit-game-button.component.ts
  client/src/app/pages/waiting-room/waiting-room.component.html
  client/src/app/pages/waiting-room/waiting-room.component.ts
  client/src/app/services/chat-service/chat-manager.service.ts
  server/app/services/game-manager-service/game-manager.service.ts
  server/app/services/socket-manager-service/game-play-manager.service.ts
  server/app/services/socket-manager-service/game-state.service.ts
Due: build_backend, build_angular_client

fixing auth on client lours
  client/src/app/classes/commands/draw-rectangle-command.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/pages/login-page/login-page.component.ts
  client/src/app/pages/sign-up-page/sign-up-page.component.ts
  client/src/app/services/authentication-service/authentication.service.ts
  client/src/app/services/user-service/user.service.ts
  flutter/app/lib/domain/services/auth_service.dart
Due: build_angular_client

Fix/fix auth desktop
  client/src/app/classes/commands/draw-rectangle-command.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/pages/login-page/login-page.component.ts
  client/src/app/pages/sign-up-page/sign-up-page.component.ts
  client/src/app/services/authentication-service/authentication.service.ts
  client/src/app/services/user-service/user.service.ts
  flutter/app/lib/domain/services/auth_service.dart
Due: build_angular_client

sceau de painture et pipette fonctionnels
  client/src/app/app.module.ts
  client/src/app/components/common-tool-box/common-tool-box.component.html
  client/src/app/components/common-tool-box/common-tool-box.component.ts
  client/src/app/components/draw-canvas/draw-canvas.component.html
  client/src/app/components/draw-canvas/draw-canvas.component.scss
  client/src/app/components/draw-canvas/draw-canvas.component.ts
  client/src/app/components/rectangle-outline/rectangle-outline.component.html
  client/src/app/components/rectangle-outline/rectangle-outline.component.scss
  client/src/app/components/rectangle-outline/rectangle-outline.component.spec.ts
  client/src/app/components/rectangle-outline/rectangle-outline.component.ts
  client/src/app/enums/tool.ts
  client/src/app/services/draw-service/draw-service.service.ts
Due: build_angular_client

deleted a shit ton of tests
  client/src/app/classes/commands/draw-ellipse-command.ts
  client/src/app/classes/commands/draw-rectangle-command.ts
  client/src/app/components/common-tool-box/common-tool-box.component.spec.ts
  client/src/app/components/rectangle-outline/rectangle-outline.component.spec.ts
  client/src/app/pages/create-game-page/create-game-page.component.spec.ts
Due: build_angular_client

Feature/rectangle draw
  client/src/app/app.module.ts
  client/src/app/classes/commands/draw-ellipse-command.ts
  client/src/app/components/common-tool-box/common-tool-box.component.html
  client/src/app/components/common-tool-box/common-tool-box.component.spec.ts
  client/src/app/components/common-tool-box/common-tool-box.component.ts
  client/src/app/components/draw-canvas/draw-canvas.component.html
  client/src/app/components/draw-canvas/draw-canvas.component.scss
  client/src/app/components/draw-canvas/draw-canvas.component.ts
  client/src/app/components/rectangle-outline/rectangle-outline.component.html
  client/src/app/components/rectangle-outline/rectangle-outline.component.scss
  client/src/app/components/rectangle-outline/rectangle-outline.component.spec.ts
  client/src/app/components/rectangle-outline/rectangle-outline.component.ts
  client/src/app/enums/tool.ts
  client/src/app/pages/create-game-page/create-game-page.component.spec.ts
  client/src/app/services/draw-service/draw-service.service.ts
  client/src/app/services/draw-service/drawing-tools.service.ts
Due: build_angular_client

observer quit game
  client/src/app/components/game-card/game-card.component.html
  common/joinable-game-card.ts
  server/app/classes/game/game.ts
  server/app/services/game-manager-service/game-manager.service.ts
  server/app/services/socket-manager-service/game-creation.service.ts
  server/app/services/socket-manager-service/game-play-manager.service.ts
  server/app/services/socket-manager-service/game-state.service.ts
Due: build_backend, build_angular_client

Feat/last tools drawing
  flutter/app/assets/white_background.bmp
  flutter/app/lib/components/clear_stroke_button.dart
  flutter/app/lib/components/copy_strokes_button.dart
  flutter/app/lib/components/difference_vignette_modal.dart
  flutter/app/lib/components/drawing_canvas_left.dart
  flutter/app/lib/components/drawing_canvas_right.dart
  flutter/app/lib/components/generate_difference_button.dart
  flutter/app/lib/components/menu_under_canvas_left.dart
  flutter/app/lib/components/menu_under_canvas_right.dart
  flutter/app/lib/components/pencil_box.dart
  flutter/app/lib/components/remove_background_button.dart
  flutter/app/lib/components/select_background_button.dart
  flutter/app/lib/domain/models/requests/send_new_vignette_request.dart
  flutter/app/lib/domain/services/difference_generator_service.dart
  flutter/app/lib/domain/services/drawing_service.dart
  flutter/app/lib/domain/services/generate_difference_slider_service.dart
  flutter/app/lib/domain/services/pencil_box_manager.dart
  flutter/app/lib/domain/utils/numeric_slider.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/create_game_page.dart
Due: none

solve mode observateur
  flutter/app/lib/domain/models/requests/joinable_games_request.dart
  flutter/app/lib/domain/services/observable_game_manager.dart
  flutter/app/lib/domain/services/reachable_games_manager.dart
Due: none

can send email after the game is over
  client/package-lock.json
  client/package.json
  client/src/app/components/dialog-game-over/dialog-game-over.component.html
  client/src/app/components/dialog-game-over/dialog-game-over.component.ts
  client/src/app/components/sidebar/sidebar.component.ts
  client/src/app/components/timer-stopwatch/timer-stopwatch.component.ts
  client/src/app/services/email-service/email.service.ts
  client/src/app/services/game-information-handler/game-information-handler.service.ts
Due: build_angular_client

Feature/sending email when game is over
  client/package-lock.json
  client/package.json
  client/src/app/components/dialog-game-over/dialog-game-over.component.html
  client/src/app/components/dialog-game-over/dialog-game-over.component.ts
  client/src/app/components/sidebar/sidebar.component.ts
  client/src/app/components/timer-stopwatch/timer-stopwatch.component.ts
  client/src/app/services/email-service/email.service.ts
  client/src/app/services/game-information-handler/game-information-handler.service.ts
Due: build_angular_client

Feature/block account acces
  client/src/app/services/authentication-service/authentication.service.ts
Due: build_angular_client
