Repository margielamob/Cherches-Trouves-Gagnes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_angular_client, test_angular_client, test_backend

build_backend:
  stage: build_backend
  script:
  - echo "building the server..."
  - cd server
  - npm ci
  - npm run build

build_angular_client:
  stage: build_angular_client
  script:
  - echo "building the angular client..."
  - cd client
  - npm ci
  - npm install -g @angular/cli
  - ng build

test_angular_client:
  stage: test_angular_client
  script:
  - echo "building the angular client..."
  - cd client
  - npm install -g @angular/cli
  - npm ci
  - echo "starting tests..."
  - ng test --watch=false

test_backend:
  stage: test_backend
  script:
  - echo "building the server..."
  - cd server
  - npm ci
  - echo "starting tests..."
  - npm run test

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

j'enleve les tests automatises, trop chiant
  .gitlab-ci.yml
Due: none

removing tests from pipeline
  .gitlab-ci.yml
Due: none

add login page UI
  client/src/app/app.module.ts
  client/src/app/enums/theme.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/pages/app/app.component.html
  client/src/app/pages/app/app.component.ts
  client/src/app/pages/login-page/login-page.component.html
  client/src/app/pages/login-page/login-page.component.scss
  client/src/app/pages/login-page/login-page.component.ts
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/pages/main-page/main-page.component.scss
  client/src/app/pages/main-page/main-page.component.ts
  client/src/styles.scss
Due: build_angular_client, test_angular_client

add firebase to project
  client/.gitignore
  client/firebase.json
  client/package-lock.json
  client/package.json
  client/src/app/app.module.ts
  client/src/environments/environment.prod.ts
  client/src/environments/environment.ts
Due: build_angular_client, test_angular_client

login works only with email adress
  client/src/app/pages/login-page/login-page.component.html
  client/src/app/pages/login-page/login-page.component.scss
  client/src/app/pages/login-page/login-page.component.ts
  client/src/app/services/authentication-service/authentication.service.ts
Due: build_angular_client, test_angular_client

removing pipeline script from this branch
  .gitlab-ci.yml
Due: none

add sign-up page
  client/src/app/app.module.ts
  client/src/app/enums/theme.ts
  client/src/app/interfaces/user.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/pages/game-selection-page/game-selection-page.component.ts
  client/src/app/pages/login-page/login-page.component.html
  client/src/app/pages/login-page/login-page.component.ts
  client/src/app/pages/sign-up-page/sign-up-page.component.html
  client/src/app/pages/sign-up-page/sign-up-page.component.scss
  client/src/app/pages/sign-up-page/sign-up-page.component.ts
  client/src/app/services/authentication-service/authentication.service.ts
  client/src/app/services/user-service/user.service.ts
  client/src/styles.scss
Due: build_angular_client, test_angular_client

adding the logger to server
  server/app/services/database-service/database.service.spec.ts
  server/app/services/database-service/database.service.ts
  server/app/services/logger-service/log-colors.ts
  server/app/services/logger-service/logger.service.ts
  server/package-lock.json
  server/package.json
Due: build_backend, test_backend

fixing some linitng issues
  server/app/services/database-service/database.service.ts
  server/app/services/logger-service/logger.service.ts
Due: build_backend, test_backend

fixing broken unit test
  server/app/services/database-service/database.service.spec.ts
  server/app/services/logger-service/log-colors.ts
  server/app/services/logger-service/logger.service.ts
Due: build_backend, test_backend

changing tests command
  .gitlab-ci.yml
Due: none

add signin-up with unique username + add custom error message
  client/src/app/pages/login-page/login-page.component.html
  client/src/app/pages/login-page/login-page.component.ts
  client/src/app/pages/sign-up-page/sign-up-page.component.html
  client/src/app/pages/sign-up-page/sign-up-page.component.ts
  client/src/app/services/authentication-service/authentication.service.ts
  client/src/app/services/user-service/user.service.ts
  client/utils/custom-validators.ts
Due: build_angular_client, test_angular_client

changed logger to make it more efficient
  server/app/services/logger-service/logger.service.ts
Due: build_backend, test_backend

feature: adding avatar while creating a new account
  client/src/app/app.module.ts
  client/src/app/pages/sign-up-page/sign-up-page.component.html
  client/src/app/services/image-upload/image-upload.service.spec.ts
  client/src/app/services/image-upload/image-upload.service.ts
  client/src/app/services/user-service/user.service.ts
  client/src/assets/default-user-icon.jpg
Due: build_angular_client, test_angular_client

feature: Functions uploadUserAvatar add in userService
  client/src/app/pages/login-page/login-page.component.html
  client/src/app/pages/login-page/login-page.component.ts
  client/src/app/pages/sign-up-page/sign-up-page.component.html
  client/src/app/pages/sign-up-page/sign-up-page.component.ts
  client/src/app/services/user-service/user.service.ts
  workspace.code-workspace
Due: build_angular_client, test_angular_client

adding config page
  client/src/app/pages/settings-page/settings-page/settings-page.component.html
  client/src/app/pages/settings-page/settings-page/settings-page.component.scss
  client/src/app/pages/settings-page/settings-page/settings-page.component.spec.ts
  client/src/app/pages/settings-page/settings-page/settings-page.component.ts
Due: build_angular_client, test_angular_client

login with username or password is functional
  client/src/app/pages/login-page/login-page.component.ts
  client/src/app/services/authentication-service/authentication.service.ts
  client/src/app/services/user-service/user.service.ts
Due: build_angular_client, test_angular_client

feature: adding avatar to settings-page
  client/src/app/app.module.ts
  client/src/app/components/user-profil-information/user-profil-information.component.html
  client/src/app/components/user-profil-information/user-profil-information.component.scss
  client/src/app/components/user-profil-information/user-profil-information.component.spec.ts
  client/src/app/components/user-profil-information/user-profil-information.component.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/pages/settings-page/settings-page.component.html
  client/src/app/pages/settings-page/settings-page.component.scss
  client/src/app/pages/settings-page/settings-page.component.spec.ts
  client/src/app/pages/settings-page/settings-page.component.ts
  client/src/app/pages/settings-page/settings-page/settings-page.component.scss
  client/src/app/services/user-controller/user-controller.service.ts
  client/src/app/services/user-service/user.service.ts
Due: build_angular_client, test_angular_client

migration completed, got some tests to fix
  common/image-ref.ts
  server/app/constants/database.ts
  server/app/controllers/bmp-controller/bmp.controller.ts
  server/app/interface/game-images.ts
  server/app/interface/game-info.ts
  server/app/services/bmp-service/bmp.service.ts
  server/app/services/database-service/database.service.ts
  server/app/services/game-info-service/game-info.service.spec.ts
  server/app/services/game-info-service/game-info.service.ts
  server/app/services/game-manager-service/game-manager.service.spec.ts
  server/app/services/image-repository/image-repository.service.ts
Due: build_backend, build_angular_client, test_angular_client, test_backend

deleting comments
  server/app/controllers/bmp-controller/bmp.controller.ts
Due: build_backend, test_backend

get currunt user data
  client/src/app/interfaces/user.ts
  client/src/app/pages/login-page/login-page.component.ts
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/pages/main-page/main-page.component.ts
  client/src/app/pages/sign-up-page/sign-up-page.component.ts
  client/src/app/services/user-service/user.service.ts
Due: build_angular_client, test_angular_client

minor css refactor
  client/src/app/app.module.ts
  client/src/app/components/app-logo/app-logo.component.html
  client/src/app/components/app-logo/app-logo.component.scss
  client/src/app/components/app-logo/app-logo.component.ts
  client/src/app/pages/login-page/login-page.component.html
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/pages/main-page/main-page.component.scss
  client/src/app/pages/sign-up-page/sign-up-page.component.html
  client/src/app/pages/sign-up-page/sign-up-page.component.scss
  client/src/styles.scss
Due: build_angular_client, test_angular_client

cleaning consol.log()
  client/src/app/pages/login-page/login-page.component.ts
  client/src/app/pages/sign-up-page/sign-up-page.component.ts
Due: build_angular_client, test_angular_client

add error message when signing-up
  client/src/app/pages/sign-up-page/sign-up-page.component.html
Due: build_angular_client, test_angular_client

revision des commentaires
  server/app/interface/game-images.ts
  server/app/services/game-info-service/game-info.service.ts
  server/app/services/image-repository/image-repository.service.ts
Due: build_backend, test_backend

tests fixed
  server/app/controllers/bmp-controller/bmp.controller.spec.ts
  server/app/services/game-info-service/game-info.service.spec.ts
  server/app/services/image-repository/image-repository.service.ts
Due: build_backend, test_backend

handled image deletions
  server/app/services/game-info-service/game-info.service.spec.ts
  server/app/services/game-info-service/game-info.service.ts
Due: build_backend, test_backend

image decompression on client
  server/app/services/image-repository/image-repository.service.ts
Due: build_backend, test_backend

forgot client changes
  client/package-lock.json
  client/package.json
  client/src/app/components/play-area/play-area.component.ts
Due: build_angular_client, test_angular_client

add avatar
  client/src/app/components/user-profil-information/user-profil-information.component.html
  client/src/app/components/user-profil-information/user-profil-information.component.ts
  client/src/app/services/image-upload/image-upload.service.spec.ts
  client/src/app/services/image-upload/image-upload.service.ts
Due: build_angular_client, test_angular_client

Basic backend for all chat
  client/src/app/app.module.ts
  client/src/app/components/prototype/chat-box/chat-box.component.html
  client/src/app/components/prototype/chat-box/chat-box.component.scss
  client/src/app/components/prototype/chat-box/chat-box.component.spec.ts
  client/src/app/components/prototype/chat-box/chat-box.component.ts
  client/src/app/components/prototype/message/message.component.html
  client/src/app/components/prototype/message/message.component.scss
  client/src/app/components/prototype/message/message.component.spec.ts
  client/src/app/components/prototype/message/message.component.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/pages/prototype-page/prototype-page.component.html
  client/src/app/pages/prototype-page/prototype-page.component.scss
  client/src/app/pages/prototype-page/prototype-page.component.spec.ts
  client/src/app/pages/prototype-page/prototype-page.component.ts
  common/chat-message.ts
  common/socket-event.ts
  server/app/services/socket-manager-service/socket-manager-service.service.ts
Due: build_backend, build_angular_client, test_angular_client, test_backend

Feature/image stocking migration
  .gitlab-ci.yml
  client/package-lock.json
  client/package.json
  client/src/app/components/play-area/play-area.component.ts
  common/image-ref.ts
  server/app/constants/database.ts
  server/app/controllers/bmp-controller/bmp.controller.spec.ts
  server/app/controllers/bmp-controller/bmp.controller.ts
  server/app/interface/game-info.ts
  server/app/services/bmp-service/bmp.service.ts
  server/app/services/database-service/database.service.spec.ts
  server/app/services/database-service/database.service.ts
  server/app/services/game-info-service/game-info.service.spec.ts
  server/app/services/game-info-service/game-info.service.ts
  server/app/services/game-manager-service/game-manager.service.spec.ts
  server/app/services/image-repository/image-repository.service.ts
  server/app/services/logger-service/log-colors.ts
  server/app/services/logger-service/logger.service.ts
Due: build_backend, build_angular_client, test_angular_client, test_backend

fix main-page tests
  client/src/app/pages/main-page/main-page.component.spec.ts
  client/src/app/services/image-upload/image-upload.service.spec.ts
Due: build_angular_client, test_angular_client

fix lint
  client/src/app/app.module.ts
  client/src/app/enums/theme.ts
  client/src/app/interfaces/user.ts
  client/src/app/pages/login-page/login-page.component.ts
  client/src/app/pages/sign-up-page/sign-up-page.component.ts
  client/src/app/services/authentication-service/authentication.service.ts
  client/src/app/services/user-service/user.service.ts
Due: build_angular_client, test_angular_client

install ngx/translate
  client/package-lock.json
  client/package.json
  client/src/app/app.module.ts
Due: build_angular_client, test_angular_client

Path conditions:
  build_backend: any of: server/**/*, common/**/*
  build_angular_client: any of: client/**/*, common/**/*
  test_angular_client: any of: client/**/*, common/**/*
  test_backend: any of: server/**/*, common/**/*
