Repository margielamob/Cherches-Trouves-Gagnes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_angular_client

.gitlab-ci.yml:

image: node:14

.only-angular_client: &only-angular_client
  only:
    refs:
      - main
      - merge_requests
    changes:
      - client/**/*
      - common/**/*

.only-backend: &only-backend
  only:
    refs:
      - main
      - merge_requests
    changes:
      - server/**/*
      - common/**/*

stages:
  - build_angular_client
  - build_backend

build_backend:
  stage: build_backend
  <<: *only-backend
  script:
    - echo "building the server..."
    - cd server
    - npm ci
    - npm run build

build_angular_client:
  stage: build_angular_client
  <<: *only-angular_client
  script:
    - echo "building the angular client..."
    - cd client
    - npm ci
    - npm install -g @angular/cli
    - ng build

create game done
  flutter/app/lib/domain/models/requests/join_game_send_request.dart
  flutter/app/lib/domain/models/requests/waiting_room_request.dart
  flutter/app/lib/domain/services/game_manager_service.dart
Due: none

Fix/vignette modified
  flutter/app/lib/components/game_vignette_modified.dart
  flutter/app/lib/components/game_vignette_original.dart
  flutter/app/lib/domain/services/difference_detection_service.dart
  flutter/app/lib/main.dart
Due: none

fix navigation
  flutter/app/lib/domain/services/game_manager_service.dart
Due: none

Feat/show users
  flutter/app/lib/components/current_players.dart
  flutter/app/lib/domain/models/user_model.dart
  flutter/app/lib/domain/services/difference_detection_service.dart
  flutter/app/lib/domain/services/game_manager_service.dart
Due: none

can change theme from setting page
  flutter/app/lib/components/user_personal_info.dart
  flutter/app/lib/domain/models/user_data.dart
  flutter/app/lib/domain/services/profile_page_manager.dart
  flutter/app/lib/domain/themes/default-theme.dart
  flutter/app/lib/domain/themes/theme_constantes.dart
  flutter/app/lib/main.dart
Due: none

Fix/navbar and navigation
  flutter/app/lib/components/custom_app_bar.dart
  flutter/app/lib/components/logout_dialog.dart
  flutter/app/lib/domain/services/difference_detection_service.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/pages/classic_game_page.dart
Due: none

fix timer
  flutter/app/lib/components/clock.dart
  flutter/app/lib/components/end_game_dialog.dart
  flutter/app/lib/domain/models/requests/timer_request.dart
  flutter/app/lib/domain/services/clock_service.dart
  flutter/app/lib/domain/services/end_game_service.dart
  flutter/app/lib/domain/utils/socket_events.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/classic_game_page.dart
Due: none

refactor setting page
  client/src/app/components/analyse.dart
  flutter/app/lib/components/user_personal_info.dart
  flutter/app/lib/domain/models/user_data.dart
  flutter/app/lib/domain/services/profile_page_manager.dart
Due: build_angular_client

basic all chat
  common/chat.ts
  flutter/app/lib/components/chat/chat_feed.dart
  flutter/app/lib/components/chat/chat_message.dart
  flutter/app/lib/domain/models/chat_model.dart
  flutter/app/lib/domain/services/auth_service.dart
  flutter/app/lib/domain/services/chat_service.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/chat_page.dart
  flutter/app/lib/pages/login_page.dart
  flutter/app/lib/pages/main_page.dart
Due: build_backend, build_angular_client

merge continued
  client/src/app/app.module.ts
  client/src/app/components/replay-buttons/replay-buttons.component.html
  client/src/app/components/replay-buttons/replay-buttons.component.scss
  client/src/app/components/replay-buttons/replay-buttons.component.ts
Due: build_angular_client

added chat button
  client/src/app/components/page-header/page-header.component.html
Due: build_angular_client

add time
  flutter/app/lib/pages/waiting_page.dart
Due: none

fix clock
  flutter/app/lib/pages/classic_game_page.dart
Due: none

Fix/bug game creation
  flutter/app/lib/components/clock.dart
  flutter/app/lib/components/end_game_dialog.dart
  flutter/app/lib/domain/models/requests/join_game_send_request.dart
  flutter/app/lib/domain/models/requests/timer_request.dart
  flutter/app/lib/domain/models/requests/waiting_room_request.dart
  flutter/app/lib/domain/services/clock_service.dart
  flutter/app/lib/domain/services/end_game_service.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/utils/socket_events.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/classic_game_page.dart
  flutter/app/lib/pages/waiting_page.dart
Due: none

Add Mode de jeux Limitée on client léger
  flutter/app/lib/components/carousel.dart
  flutter/app/lib/components/custom_app_bar.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/pages/main_page.dart
Due: none

fix own bug
  flutter/app/lib/components/custom_app_bar.dart
Due: none

fix bug when client lourd leave the waitingRoom
  flutter/app/lib/domain/models/requests/waiting_room_request.dart
Due: none

Fix/bug game creation
  flutter/app/lib/components/carousel.dart
  flutter/app/lib/components/custom_app_bar.dart
  flutter/app/lib/domain/models/requests/waiting_room_request.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/pages/main_page.dart
Due: none

rectangle can be drawn but not saved
  client/src/app/components/common-tool-box/common-tool-box.component.html
  client/src/app/components/common-tool-box/common-tool-box.component.ts
  client/src/app/enums/tool.ts
  client/src/app/interfaces/rectangle.ts
  client/src/app/services/draw-service/draw-service.service.ts
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

removing console log
  client/src/app/services/draw-service/draw-service.service.ts
Due: build_angular_client

fix players number of diff
  flutter/app/lib/components/current_players.dart
  flutter/app/lib/domain/models/user_model.dart
  flutter/app/lib/domain/services/game_manager_service.dart
Due: none

when the user press on Quitter la Page, the differences are reset
  flutter/app/lib/components/end_game_dialog.dart
Due: none

user can change theme from setting page
  flutter/app/lib/components/user_personal_info.dart
  flutter/app/lib/domain/services/profile_page_manager.dart
  flutter/app/lib/domain/services/socket_service.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/sign_up_page.dart
Due: none

temp fix for auth
  client/src/app/services/authentication-service/authentication.service.ts
Due: build_angular_client

fix auth
  client/src/app/services/authentication-service/authentication.service.ts
Due: build_angular_client

Fix/fix pour auth
  client/src/app/components/dialog-user-avatar/dialog-user-avatar.component.ts
  client/src/app/services/authentication-service/authentication.service.ts
Due: build_angular_client

Bug fix, now able to play consecutive games on heavy client
  client/src/app/modules/app-routing.module.ts
  client/src/app/pages/game-page/game-page.component.ts
Due: build_angular_client

Feat/creation reprise video
  flutter/app/lib/components/current_players.dart
  flutter/app/lib/components/custom_app_bar.dart
  flutter/app/lib/components/end_game_dialog.dart
  flutter/app/lib/components/logout_dialog.dart
  flutter/app/lib/components/no_game_card.dart
  flutter/app/lib/components/no_game_reachable.dart
  flutter/app/lib/components/video_player.dart
  flutter/app/lib/domain/services/game_replay_service.dart
  flutter/app/lib/domain/services/video_replay_service.dart
  flutter/app/lib/domain/utils/base_url.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/admin_page.dart
  flutter/app/lib/pages/classic_game_page.dart
  flutter/app/lib/pages/create_game.dart
Due: none

Feature/theme configuration with persistance
  client/src/app/components/analyse.dart
  flutter/app/lib/components/user_personal_info.dart
  flutter/app/lib/domain/models/user_data.dart
  flutter/app/lib/domain/services/personal_user_service.dart
  flutter/app/lib/domain/services/profile_page_manager.dart
  flutter/app/lib/domain/services/socket_service.dart
  flutter/app/lib/domain/themes/default-theme.dart
  flutter/app/lib/domain/themes/theme_constantes.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/main_page.dart
  flutter/app/lib/pages/sign_up_page.dart
Due: build_angular_client

the players are actually a local variable from the player page
  client/src/app/components/differences-area/differences-area.component.ts
Due: build_angular_client

Feature/change username flutter
  flutter/app/lib/components/update_name_dialog.dart
  flutter/app/lib/components/user_personal_info.dart
  flutter/app/lib/domain/services/auth_service.dart
  flutter/app/lib/domain/services/personal_user_service.dart
  flutter/app/lib/domain/services/profile_page_manager.dart
Due: none

Feature/reset password flutter
  flutter/app/lib/components/user_personal_info.dart
  flutter/app/lib/domain/services/auth_service.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/login_page.dart
  flutter/app/lib/pages/reset_password_page
Due: none

event timeline fixed, cleaning the rest
  client/src/app/components/play-area/play-area.component.ts
  client/src/app/components/replay-bar/replay-bar.component.ts
  client/src/app/components/timer-stopwatch/timer-stopwatch.component.ts
  client/src/app/services/differences-detection-handler/differences-detection-handler.service.ts
  client/src/app/services/replay-service/event-array.ts
  client/src/app/services/replay-service/replay.service.ts
Due: build_angular_client

still have an issue with play and resume
  client/src/app/components/replay-bar/replay-bar.component.html
  client/src/app/components/replay-bar/replay-bar.component.ts
  client/src/app/services/replay-service/replay.service.ts
Due: build_angular_client

revert url
  flutter/app/lib/domain/utils/base_url.dart
Due: none

chat features done
  flutter/app/lib/components/chat/chat_feed.dart
  flutter/app/lib/components/chat/chat_left_panel.dart
  flutter/app/lib/components/chat/chat_panel.dart
  flutter/app/lib/components/chat/room_add.dart
  flutter/app/lib/components/chat/room_card.dart
  flutter/app/lib/components/chat/room_create.dart
  flutter/app/lib/components/chat/room_list.dart
  flutter/app/lib/components/chat/room_search.dart
  flutter/app/lib/domain/models/chat_model.dart
  flutter/app/lib/domain/services/chat_display_service.dart
  flutter/app/lib/domain/services/chat_service.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/chat_page.dart
  server/app/services/socket-manager-service/chat.service.ts
Due: build_backend

fixed bug where opponents could play after end
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/services/mouse-handler/mouse-handler.service.ts
  client/src/app/services/replay-service/replay.service.ts
Due: build_angular_client

new logic implemented and working
  client/src/app/components/replay-bar/replay-bar.component.ts
  client/src/app/components/timer-stopwatch/timer-stopwatch.component.html
  client/src/app/components/timer-stopwatch/timer-stopwatch.component.ts
  client/src/app/services/replay-service/event-array.ts
  client/src/app/services/replay-service/replay-interfaces.ts
  client/src/app/services/replay-service/replay.service.ts
Due: build_angular_client

pause and play works
  client/src/app/components/replay-bar/replay-bar.component.html
  client/src/app/components/replay-bar/replay-bar.component.ts
  client/src/app/services/replay-service/replay.service.ts
Due: build_angular_client
