Repository margielamob/Cherches-Trouves-Gagnes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_angular_client

.gitlab-ci.yml:

image: node:14

.only-angular_client: &only-angular_client
  only:
    refs:
      - main
      - merge_requests
    changes:
      - client/**/*
      - common/**/*

.only-backend: &only-backend
  only:
    refs:
      - main
      - merge_requests
    changes:
      - server/**/*
      - common/**/*

stages:
  - build_angular_client
  - build_backend

build_backend:
  stage: build_backend
  <<: *only-backend
  script:
    - echo "building the server..."
    - cd server
    - npm ci
    - npm run build

build_angular_client:
  stage: build_angular_client
  <<: *only-angular_client
  script:
    - echo "building the angular client..."
    - cd client
    - npm ci
    - npm install -g @angular/cli
    - ng build

feature: dialogBox for user avatar's
  client/src/app/app.module.ts
  client/src/app/components/dialog-user-avatar/dialog-user-avatar.component.ts
  client/src/app/components/user-profil-information/user-profil-information.component.ts
  client/src/app/pages/settings-page/settings-page.component.ts
  client/src/app/services/image-upload/image-upload.service.ts
  client/src/app/services/user-controller/user-controller.service.ts
  client/src/app/services/user-service/user.service.ts
Due: build_angular_client

add avatars by defaults
  client/src/app/app.module.ts
  client/src/app/components/dialog-user-avatar/dialog-user-avatar.component.html
  client/src/app/components/dialog-user-avatar/dialog-user-avatar.component.ts
  client/src/app/components/user-profil-information/user-profil-information.component.html
  client/src/app/components/user-profil-information/user-profil-information.component.ts
  client/src/app/interfaces/avatar.ts
  client/src/app/services/image-upload/image-upload.service.ts
  client/src/app/services/user-service/user.service.ts
  client/src/assets/avatar-predefini/avatar1.png
  client/src/assets/avatar-predefini/avatar10.png
  client/src/assets/avatar-predefini/avatar11.png
  client/src/assets/avatar-predefini/avatar12.png
  client/src/assets/avatar-predefini/avatar13.png
  client/src/assets/avatar-predefini/avatar14.png
  client/src/assets/avatar-predefini/avatar2.png
  client/src/assets/avatar-predefini/avatar3.png
  client/src/assets/avatar-predefini/avatar4.png
  client/src/assets/avatar-predefini/avatar5.png
  client/src/assets/avatar-predefini/avatar6.png
  client/src/assets/avatar-predefini/avatar7.png
  client/src/assets/avatar-predefini/avatar8.png
  client/src/assets/avatar-predefini/avatar9.png
  server/assets/avatar-predefini/icons8-bald-man-in-green-jacket.png
  server/assets/avatar-predefini/icons8-blond-curly-hair-business-lady.png
  server/assets/avatar-predefini/icons8-blond-long-hair-business-lady.png
  server/assets/avatar-predefini/icons8-brown-curly-hair-lady-in-light-green-shirt.png
  server/assets/avatar-predefini/icons8-brown-curly-hair-lady-with-golden-earrings.png
  server/assets/avatar-predefini/icons8-brown-hair-business-lady-with-glasses.png
  server/assets/avatar-predefini/icons8-brown-long-curly-hair-lady.png
  server/assets/avatar-predefini/icons8-brown-long-hair-lady-with-red-glasses.png
  server/assets/avatar-predefini/icons8-brown-pigtail-hair-lady.png
  server/assets/avatar-predefini/icons8-brown-short-hair-lady-in-yellow-shirt.png
  server/assets/avatar-predefini/icons8-business-man-in-yellow-glasses.png
  server/assets/avatar-predefini/icons8-indian-lady.png
  server/assets/avatar-predefini/icons8-long-curly-hair-lady-with-glasses.png
  server/assets/avatar-predefini/icons8-man-in-blue-t-shirt.png
  server/assets/avatar-predefini/icons8-man-in-green-sweater.png
  server/assets/avatar-predefini/icons8-man-in-green-tie.png
Due: build_backend, build_angular_client

feature: building dialog box for avatar'choice
  client/src/app/components/dialog-user-avatar/dialog-user-avatar.component.html
  client/src/app/components/dialog-user-avatar/dialog-user-avatar.component.scss
  client/src/app/components/dialog-user-avatar/dialog-user-avatar.component.ts
  client/src/app/components/user-profil-information/user-profil-information.component.html
  client/src/app/components/user-profil-information/user-profil-information.component.ts
  client/src/assets/camera.png
Due: build_angular_client

add basic document for use cases
  doc/diagramme-cas-utilisation.drawio
Due: none

add diagramme of sequence
  doc/diagramme-cas-utilisation.drawio
Due: none

config page wip
  client/src/app/app.module.ts
  client/src/app/components/page-header/page-header.component.html
  client/src/app/components/page-header/page-header.component.ts
  client/src/app/enums/lang.ts
  client/src/app/enums/theme.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/pages/account-settings/account-settings.component.html
  client/src/app/pages/account-settings/account-settings.component.scss
  client/src/app/pages/account-settings/account-settings.component.ts
  client/src/app/pages/app/app.component.ts
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/pages/main-page/main-page.component.ts
  client/src/app/services/authentication-service/authentication.service.ts
  client/src/app/services/language-service/language.service.ts
  client/src/app/services/user-service/user.service.ts
  client/src/assets/i18n/en.json
  client/src/assets/i18n/fr.json
  client/src/styles.scss
  client/tsconfig.json
Due: build_angular_client

update architecture doc
  doc/diagramme-cas-utilisation.drawio
Due: none

modifications suggérés par Nikolay
  doc/diagramme-cas-utilisation.drawio
Due: none

add session handler
  client/src/app/components/page-header/page-header.component.html
  client/src/app/components/page-header/page-header.component.ts
  client/src/app/pages/login-page/login-page.component.ts
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/services/authentication-service/authentication.service.ts
  client/src/app/services/session-handler/session-handler.service.ts
  client/src/app/services/user-service/user.service.ts
Due: build_angular_client

adding heavy client prototype
  prototype/angular/.editorconfig
  prototype/angular/.eslintignore
  prototype/angular/.eslintrc.json
  prototype/angular/.gitignore
  prototype/angular/.vscode/extensions.json
  prototype/angular/.vscode/launch.json
  prototype/angular/.vscode/tasks.json
  prototype/angular/README.md
  prototype/angular/angular.json
  prototype/angular/environment/environment.ts
  prototype/angular/package.json
  prototype/angular/src/app/app-routing.module.ts
  prototype/angular/src/app/app.component.html
  prototype/angular/src/app/app.component.scss
  prototype/angular/src/app/app.component.spec.ts
  prototype/angular/src/app/app.component.ts
  prototype/angular/src/app/app.module.ts
  prototype/angular/src/app/components/chat-box/chat-box.component.html
  prototype/angular/src/app/components/chat-box/chat-box.component.scss
  prototype/angular/src/app/components/chat-box/chat-box.component.spec.ts
  prototype/angular/src/app/components/chat-box/chat-box.component.ts
  prototype/angular/src/app/components/login/login.component.html
  prototype/angular/src/app/components/login/login.component.scss
  prototype/angular/src/app/components/login/login.component.spec.ts
  prototype/angular/src/app/components/login/login.component.ts
  prototype/angular/src/app/interfaces/message.ts
  prototype/angular/src/app/interfaces/user.ts
  prototype/angular/src/app/services/Events/client-events.ts
  prototype/angular/src/app/services/Events/server-events.ts
  prototype/angular/src/app/services/chat-socket.service.spec.ts
  prototype/angular/src/app/services/chat-socket.service.ts
  prototype/angular/src/app/services/socket-client.service.ts
  prototype/angular/src/assets/.gitkeep
  prototype/angular/src/favicon.ico
  prototype/angular/src/index.html
  prototype/angular/src/main.ts
  prototype/angular/src/styles.scss
  prototype/angular/tsconfig.app.json
  prototype/angular/tsconfig.json
  prototype/angular/tsconfig.spec.json
Due: none

logout user when tab is closed
  client/src/app/guards/auth.guard.spec.ts
  client/src/app/guards/auth.guard.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/pages/app/app.component.ts
  client/src/app/services/authentication-service/authentication.service.ts
Due: build_angular_client

add avtivity log
  client/src/app/services/authentication-service/authentication.service.ts
  client/src/app/services/session-handler/session-handler.service.ts
Due: build_angular_client

updated diagram
  doc/diagramme-cas-utilisation.drawio
Due: none

added chatbox changes
  flutter/app/lib/components/chatbox.dart
  flutter/app/lib/components/message.dart
  flutter/app/lib/main.dart
  flutter/app/lib/services/socket-client.service.dart
  flutter/app/pubspec.lock
  flutter/app/pubspec.yaml
Due: none

adding a message feed
  flutter/app/lib/components/chatbox.dart
  flutter/app/lib/components/message_feed.dart
Due: none

adding missing changes
  flutter/app/lib/components/message_feed.dart
  flutter/app/lib/main.dart
Due: none

add Nikolay's feedback to sequence diagram
  doc/diagramme-cas-utilisation.drawio
Due: none

add userService to dialog-user-avatar
  client/src/app/components/dialog-user-avatar/dialog-user-avatar.component.ts
Due: build_angular_client

login in with unique session is working
  client/package-lock.json
  client/package.json
  client/src/app/guards/auth.guard.spec.ts
  client/src/app/interfaces/session.ts
  client/src/app/pages/app/app.component.ts
  client/src/app/pages/login-page/login-page.component.ts
  client/src/app/services/authentication-service/authentication.service.ts
  client/src/app/services/session-handler/session-handler.service.ts
Due: build_angular_client

Added basic backend event listeners for user authentication and message broadcasting
  common/prototype/message.ts
  common/prototype/user.ts
  common/socket-event.ts
  server/app/services/prototype-services/user-manager-service.service.ts
  server/app/services/socket-manager-service/socket-manager-service.service.ts
Due: build_backend, build_angular_client

added disconnection listeners and handlers
  common/socket-event.ts
  server/app/services/prototype-services/user-manager-service.service.ts
  server/app/services/socket-manager-service/socket-manager-service.service.ts
Due: build_backend, build_angular_client

fix: border when user select an avatar
  client/src/app/app.module.ts
  client/src/app/components/dialog-user-avatar/dialog-user-avatar.component.html
  client/src/app/components/dialog-user-avatar/dialog-user-avatar.component.scss
  client/src/app/components/dialog-user-avatar/dialog-user-avatar.component.spec.ts
  client/src/app/components/dialog-user-avatar/dialog-user-avatar.component.ts
  client/src/app/components/user-profil-information/user-profil-information.component.html
  client/src/app/components/user-profil-information/user-profil-information.component.spec.ts
  client/src/app/components/user-profil-information/user-profil-information.component.ts
  client/src/app/components/user-statistic/user-statistic.component.html
  client/src/app/components/user-statistic/user-statistic.component.scss
  client/src/app/components/user-statistic/user-statistic.component.ts
  client/src/app/interfaces/avatar.ts
  client/src/app/pages/settings-page/settings-page.component.html
  client/src/app/pages/settings-page/settings-page.component.spec.ts
  client/src/app/pages/sign-up-page/sign-up-page.component.ts
  client/src/app/services/image-upload/image-upload.service.ts
  client/src/app/services/user-service/user.service.ts
Due: build_angular_client

fix: border when user select an avatar
  client/src/app/components/dialog-user-avatar/dialog-user-avatar.component.html
  client/src/app/components/dialog-user-avatar/dialog-user-avatar.component.scss
  client/src/app/components/dialog-user-avatar/dialog-user-avatar.component.ts
  client/src/app/components/user-profil-information/user-profil-information.component.html
  client/src/app/components/user-profil-information/user-profil-information.component.scss
  client/src/app/components/user-statistic/user-statistic.component.html
  client/src/app/components/user-statistic/user-statistic.component.scss
  client/src/assets/avatar-predefini/avatar1.png
  client/src/assets/avatar-predefini/avatar2.png
  client/src/assets/avatar-predefini/avatar3.png
Due: build_angular_client

fixed failing tests
  client/src/app/app.module.ts
  client/src/app/components/page-header/page-header.component.spec.ts
  client/src/app/guards/redirect.guard.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/pages/admin-page/admin-page.component.spec.ts
  client/src/app/pages/app/app.component.spec.ts
  client/src/app/pages/create-game-page/create-game-page.component.spec.ts
  client/src/app/pages/game-page/game-page.component.spec.ts
  client/src/app/pages/waiting-room/waiting-room.component.spec.ts
  client/src/app/services/user-service/user.service.ts
Due: build_angular_client

minor fix
  client/src/app/modules/app-routing.module.ts
  client/src/app/services/authentication-service/authentication.service.ts
Due: build_angular_client

adding new UI style
  flutter/app/lib/components/chat.dart
  flutter/app/lib/components/chat_menue.dart
  flutter/app/lib/components/message.dart
  flutter/app/lib/components/message_feed.dart
  flutter/app/lib/components/tuto.dart
  flutter/app/lib/components/user.dart
  flutter/app/lib/main.dart
  server/app/services/socket-manager-service/socket-manager-service.service.ts
  server/package-lock.json
Due: build_backend

added a login dialog still have some logic to work on
  flutter/app/flutter_01.png
  flutter/app/lib/components/chat.dart
  flutter/app/lib/components/chat_menu.dart
  flutter/app/lib/components/chat_menue.dart
  flutter/app/lib/components/login_dialog.dart
  flutter/app/lib/components/user.dart
  flutter/app/lib/main.dart
  flutter/app/lib/services/Authentication.service.dart
Due: none

the damn sockets work!
  flutter/app/lib/components/chat.dart
  flutter/app/lib/components/login_dialog.dart
  flutter/app/lib/components/message.dart
  flutter/app/lib/components/user.dart
  flutter/app/lib/main.dart
  flutter/app/lib/services/Authentication.service.dart
  flutter/app/lib/services/socket-client.service.dart
  server/app/services/socket-manager-service/socket-manager-service.service.ts
Due: build_backend

automaticly sign out user when page is closed
  client/src/app/pages/app/app.component.ts
Due: build_angular_client

fixing error on avatar
  client/src/app/components/dialog-user-avatar/dialog-user-avatar.component.ts
  client/src/app/components/user-profil-information/user-profil-information.component.ts
  client/src/app/services/image-upload/image-upload.service.ts
  client/src/app/services/user-service/user.service.ts
Due: build_angular_client

update client.
  doc/diagramme-cas-utilisation.drawio
Due: none

ajout commentaires de Nikolay
  doc/diagramme-cas-utilisation.drawio
Due: none

bug fixed
  flutter/app/lib/components/chat.dart
Due: none

added basic ui for client
  prototype/angular/.vscode/extensions.json
  prototype/angular/.vscode/launch.json
  prototype/angular/.vscode/tasks.json
  prototype/angular/package.json
  prototype/angular/src/app/app-routing.module.ts
  prototype/angular/src/app/app.component.html
  prototype/angular/src/app/app.component.ts
  prototype/angular/src/app/app.module.ts
  prototype/angular/src/app/components/chat-box/chat-box.component.html
  prototype/angular/src/app/components/chat-box/chat-box.component.ts
  prototype/angular/src/app/components/login/login.component.html
  prototype/angular/src/app/components/login/login.component.ts
  prototype/angular/src/app/interfaces/message.ts
  prototype/angular/src/app/interfaces/user.ts
  prototype/angular/src/app/modules/app-material/app-material.module.ts
  prototype/angular/src/app/pages/login-page/login-page/login-page.component.html
  prototype/angular/src/app/pages/login-page/login-page/login-page.component.scss
  prototype/angular/src/app/pages/login-page/login-page/login-page.component.spec.ts
  prototype/angular/src/app/pages/login-page/login-page/login-page.component.ts
  prototype/angular/src/app/pages/main-feed/main-feed/main-feed.component.html
  prototype/angular/src/app/pages/main-feed/main-feed/main-feed.component.scss
  prototype/angular/src/app/pages/main-feed/main-feed/main-feed.component.spec.ts
  prototype/angular/src/app/pages/main-feed/main-feed/main-feed.component.ts
  prototype/angular/src/app/services/chat-socket.service.ts
  prototype/angular/src/app/services/socket-client.service.ts
  prototype/angular/src/index.html
  prototype/angular/tsconfig.json
Due: none

added prototype client leger
  common/prototype/message.ts
  flutter/app/lib/components/chat.dart
  flutter/app/lib/components/message.dart
  server/app/services/socket-manager-service/socket-manager-service.service.ts
Due: build_backend, build_angular_client

ui for conversation done
  common/prototype/message.ts
  prototype/flutter/app/lib/components/chat.dart
  prototype/flutter/app/lib/components/message.dart
  server/app/services/socket-manager-service/socket-manager-service.service.ts
Due: build_backend, build_angular_client

implemented authent
  common/socket-event.ts
  prototype/flutter/app/flutter_02.png
  prototype/flutter/app/lib/components/chat-box.dart
  prototype/flutter/app/lib/components/login-dialog.dart
  prototype/flutter/app/lib/components/login_dialog.dart
  prototype/flutter/app/lib/components/message.dart
  prototype/flutter/app/lib/components/user.dart
  prototype/flutter/app/lib/constants/theme.dart
  prototype/flutter/app/lib/events/socket-events.dart
  prototype/flutter/app/lib/main.dart
  prototype/flutter/app/lib/pages/prototype-page.dart
  prototype/flutter/app/lib/services/Authentication.service.dart
  prototype/flutter/app/lib/services/chat-socket.service.dart
  server/app/services/socket-manager-service/socket-manager-service.service.ts
Due: build_backend, build_angular_client
