Repository margielamob/Cherches-Trouves-Gagnes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_angular_client

build_backend:
  stage: build_backend
  script:
  - echo "building the server..."
  - cd server
  - npm ci
  - npm run build

build_angular_client:
  stage: build_angular_client
  script:
  - echo "building the angular client..."
  - cd client
  - npm ci
  - npm install -g @angular/cli
  - ng build

translation is working on settingpage
  client/src/app/components/user-profil-information/user-profil-information.component.html
  client/src/app/components/user-profil-information/user-profil-information.component.scss
  client/src/app/components/user-profil-information/user-profil-information.component.ts
  client/src/app/components/user-statistic/user-statistic.component.html
  client/src/app/enums/lang.ts
  client/src/app/pages/app/app.component.ts
  client/src/app/pages/email-verification/email-verification.component.html
  client/src/app/pages/settings-page/settings-page.component.html
  client/src/app/services/language-service/language-service.service.ts
  client/src/app/services/user-service/user.service.ts
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

translation is working on mainpage
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/pages/main-page/main-page.component.ts
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

fix for electron
  client/main.js
  client/src/app/app.module.ts
Due: build_angular_client

add user camera widget
  flutter/app/assets/camera.png
  flutter/app/assets/default-user-icon.jpg
  flutter/app/lib/components/camera.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/profile-page.dart
Due: none

translation is working on adminpage
  client/src/app/components/admin-commands/admin-commands.component.html
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

refactoring approval-dialog
  client/src/app/components/approval-dialog/approval-dialog.component.html
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

refactoring chat-box
  client/src/app/components/chat-box/chat-box.component.html
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

refactoring clues-area
  client/src/app/components/clues-area/clues-area.component.html
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

refactoring tool-box
  client/src/app/components/common-tool-box/common-tool-box.component.html
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

Separate the DialogBox from the ProfilePage
  flutter/app/lib/components/avatar-dialog.dart
  flutter/app/lib/components/avatar/avatar.dart
  flutter/app/lib/pages/profile-page.dart
Due: none

Change files organisation to meet dev's one
  flutter/app/lib/class/user-avatar.dart
  flutter/app/lib/components/avatar/avatar-dialog.dart
  flutter/app/lib/components/card-feed/card-feed.dart
  flutter/app/lib/components/logout-dialog.dart
  flutter/app/lib/domain/services/app-bar-service.dart
  flutter/app/lib/domain/services/auth-service.dart
  flutter/app/lib/domain/services/card-feed-service.dart
  flutter/app/lib/domain/services/http-client-service.dart
  flutter/app/lib/domain/services/image-upload-serice.dart
  flutter/app/lib/domain/services/user-service.dart
  flutter/app/lib/domain/themes/default-theme.dart
  flutter/app/lib/domain/utils/firebase_options.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/admin-page.dart
  flutter/app/lib/pages/profile-page.dart
  flutter/app/lib/services/user-controller-service.dart
Due: none

Change filed names to meet dev's one
  flutter/app/lib/components/avatar/avatar_dialog.dart
  flutter/app/lib/components/card-feed/card-feed.dart
  flutter/app/lib/components/logout_dialog.dart
  flutter/app/lib/components/take_picture_screen.dart
  flutter/app/lib/domain/services/app_bar_service.dart
  flutter/app/lib/domain/services/auth_service.dart
  flutter/app/lib/domain/services/card_feed_service.dart
  flutter/app/lib/domain/services/http_service.dart
  flutter/app/lib/domain/services/image_upload_serice.dart
  flutter/app/lib/domain/services/user_service.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/admin_page.dart
  flutter/app/lib/pages/login-page.dart
  flutter/app/lib/pages/login_page.dart
  flutter/app/lib/pages/profile_page.dart
Due: none

change HttpClient to Http
  flutter/app/lib/domain/services/card_feed_service.dart
  flutter/app/lib/domain/services/http_service.dart
  flutter/app/lib/main.dart
Due: none

Lint client
  client/src/app/pages/app/app.component.ts
  client/src/app/pages/game-selection-page/game-selection-page.component.ts
  client/src/app/pages/main-page/main-page.component.ts
Due: build_angular_client

saving up changes
  client/src/app/services/draw-service/draw-service.service.ts
Due: build_angular_client

apply teams comments
  flutter/app/lib/components/take_picture_screen.dart
  flutter/app/lib/domain/services/auth_service.dart
  flutter/app/lib/domain/utils/image_picker.dart
Due: none

apply teams comments
  flutter/app/lib/main.dart
  flutter/app/lib/pages/camera_visualiser_page.dart
  flutter/app/lib/pages/login_page.dart
Due: none

apply teams comments
  flutter/app/lib/components/avatar/avatar_dialog.dart
  flutter/app/lib/domain/models/user_data.dart
  flutter/app/lib/domain/services/auth_service.dart
  flutter/app/lib/domain/services/user_service.dart
  flutter/app/lib/pages/profile_page.dart
  flutter/app/lib/pages/sign_up_page.dart
Due: none

Feature/user profile flutter
  flutter/app/assets/avatar-predefini/avatar2.png
  flutter/app/assets/avatar-predefini/avatar3.png
  flutter/app/assets/camera.png
  flutter/app/assets/default-user-icon.jpg
  flutter/app/lib/components/avatar/avatar.dart
  flutter/app/lib/components/avatar/avatar_dialog.dart
  flutter/app/lib/domain/models/user_data.dart
  flutter/app/lib/domain/services/auth_service.dart
  flutter/app/lib/domain/services/http_service.dart
  flutter/app/lib/domain/services/image_decoder_service.dart
  flutter/app/lib/domain/services/user_service.dart
  flutter/app/lib/domain/utils/image_picker.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/admin_page.dart
  flutter/app/lib/pages/camera_visualiser_page.dart
  flutter/app/lib/pages/login_page.dart
  flutter/app/lib/pages/main_page.dart
  flutter/app/lib/pages/profile_page.dart
  flutter/app/lib/pages/sign_up_page.dart
  flutter/app/linux/flutter/generated_plugin_registrant.cc
  flutter/app/linux/flutter/generated_plugins.cmake
  flutter/app/macos/Flutter/GeneratedPluginRegistrant.swift
  flutter/app/pubspec.lock
  flutter/app/pubspec.yaml
  flutter/app/windows/flutter/generated_plugin_registrant.cc
  flutter/app/windows/flutter/generated_plugins.cmake
Due: none

Add avatar via taking a picture
  flutter/app/lib/components/avatar/avatar_dialog.dart
  flutter/app/lib/pages/camera_visualiser_page.dart
  flutter/app/lib/pages/profile_page.dart
Due: none

waiting room 4 players done
  client/src/app/components/game-card-buttons/game-card-buttons.component.ts
  client/src/app/pages/waiting-room/waiting-room.component.html
  client/src/app/pages/waiting-room/waiting-room.component.scss
  client/src/app/pages/waiting-room/waiting-room.component.ts
  client/src/app/services/game-information-handler/game-information-handler.service.ts
  common/socket-event.ts
  common/userAuth.ts
  common/waiting-room-info.ts
  server/app/services/multiplayer-game-manager/multiplayer-game-manager.service.ts
  server/app/services/socket-manager-service/socket-manager-service.service.ts
Due: build_backend, build_angular_client

Add avatar via taking a picture
  flutter/app/lib/components/avatar/avatar_dialog.dart
Due: none

fix a bug with avatar
  flutter/app/lib/components/avatar/avatar_dialog.dart
  flutter/app/lib/domain/services/user_service.dart
Due: none

feature: add replay-video interfaces
  client/src/app/constants/replay.ts
  client/src/app/enums/replay-actions.ts
  client/src/app/interfaces/replay-actions.ts
  client/src/app/interfaces/replay-interval.ts
  client/src/app/services/replay-service/replay.service.ts
Due: build_angular_client

add parameter of ReplayService
  client/src/app/services/replay-service/replay.service.ts
Due: build_angular_client

refactoring confirme-delete-dialog
  client/src/app/components/confirm-delete-dialog/confirm-delete-dialog.component.html
  client/src/app/components/player-left-snackbar/player-left-snackbar.component.ts
  client/src/app/services/language-service/language-service.service.ts
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
  client/utils/custom-validators.ts
Due: build_angular_client

refactoring dialog-create-game
  client/src/app/components/approval-dialog/approval-dialog.component.html
  client/src/app/components/dialog-create-game/dialog-create-game.component.html
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

refactoring dialog-delete-account
  client/src/app/components/dialog-delete-account/dialog-delete-account.component.html
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

feature user avatar done on client leger
  flutter/app/lib/components/avatar/avatar_dialog.dart
  flutter/app/lib/domain/services/user_service.dart
  flutter/app/lib/pages/camera_visualiser_page.dart
Due: none

Feature/user profile flutter
  flutter/app/lib/components/avatar/avatar_dialog.dart
  flutter/app/lib/domain/services/user_service.dart
  flutter/app/lib/pages/camera_visualiser_page.dart
  flutter/app/lib/pages/profile_page.dart
Due: none

refactoring game over
  client/src/app/components/dialog-game-over/dialog-game-over.component.html
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

refactoring limited time dialog
  client/src/app/components/dialog-limited-time/dialog-limited-time.component.html
  client/src/assets/i18n/En.json
Due: build_angular_client

refactoring limited time dialog
  client/src/assets/i18n/Fr.json
Due: build_angular_client

refactoring upload form
  client/src/app/components/dialog-upload-form/dialog-upload-form.component.html
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

refactoring user avatar dialog
  client/src/app/components/dialog-user-avatar/dialog-user-avatar.component.html
  client/src/app/components/dialog-user-avatar/dialog-user-avatar.component.ts
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

refactoring differences-area
  client/src/app/components/differences-area/differences-area.component.html
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

refactoring exit game btn
  client/src/app/components/exit-game-button/exit-game-button.component.html
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

refactoring game-card
  client/src/app/components/exit-game-button/exit-game-button.component.html
  client/src/app/components/game-card/game-card.component.html
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

refactoring game-card-btn
  client/src/app/components/game-card-buttons/game-card-buttons.component.html
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

refactoring game-carousel
  client/src/app/components/game-carousel/game-carousel.component.html
  client/src/assets/i18n/En.json
  client/src/assets/i18n/Fr.json
Due: build_angular_client

Path conditions:
  build_backend: any of: server/**/*, common/**/*
  build_angular_client: any of: client/**/*, common/**/*
