Repository margielamob/Cherches-Trouves-Gagnes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_angular_client

.gitlab-ci.yml:

image: node:14

.only-angular_client: &only-angular_client
  only:
    refs:
      - main
      - merge_requests
    changes:
      - client/**/*
      - common/**/*

.only-backend: &only-backend
  only:
    refs:
      - main
      - merge_requests
    changes:
      - server/**/*
      - common/**/*

stages:
  - build_angular_client
  - build_backend

build_backend:
  stage: build_backend
  <<: *only-backend
  script:
    - echo "building the server..."
    - cd server
    - npm ci
    - npm run build

build_angular_client:
  stage: build_angular_client
  <<: *only-angular_client
  script:
    - echo "building the angular client..."
    - cd client
    - npm ci
    - npm install -g @angular/cli
    - ng build

remove the back button bloking
  flutter/app/lib/pages/friend-req.dart
  flutter/app/lib/pages/game_selection_page.dart
  flutter/app/lib/pages/historic_page.dart
  flutter/app/lib/pages/reachable_game_page.dart
  flutter/app/lib/pages/reset_password_page.dart
Due: none

add observable to the backable page
  flutter/app/lib/pages/observableGamePage.dart
Due: none

on a user page, it's ok to use back
  flutter/app/lib/pages/friendsListPage.dart
Due: none

fix base url
  flutter/app/lib/domain/utils/base_url.dart
Due: none

Fix backbutton
  flutter/app/lib/pages/classic_game_page.dart
  flutter/app/lib/pages/login_page.dart
  flutter/app/lib/pages/main_page.dart
  flutter/app/lib/pages/reset_password_page.dart
  flutter/app/lib/pages/sign_up_page.dart
  flutter/app/lib/pages/waiting_page.dart
Due: none

lint changes
  client/src/app/components/chat-panel-detached/chat-feed/chat-feed.component.ts
  client/src/app/components/chat-panel-detached/room-card/room-card.component.ts
  client/src/app/components/chat-panel/chat-button/chat-button.component.ts
  client/src/app/components/exit-game-button/exit-game-button.component.ts
  client/src/app/components/game-card/game-card.component.ts
  client/src/app/components/page-header/page-header.component.spec.ts
  client/src/app/pages/admin-page/admin-page.component.spec.ts
  client/src/app/pages/main-page/main-page.component.ts
  client/src/app/pages/waiting-room/waiting-room.component.ts
  client/src/app/services/chat-service/chat-display.service.ts
  client/src/app/services/chat-service/chat-manager-detached.service.ts
  client/src/app/services/chat-service/chat-manager.service.ts
  client/src/app/services/communication-socket/communication-socket.service.ts
  client/src/app/services/user-service/user.service.ts
Due: build_angular_client

remove useless try catch
  flutter/app/lib/components/carousel.dart
  flutter/app/lib/domain/services/carousel_service.dart
Due: none

Fix/vignette creation
  flutter/app/lib/components/difference_vignette_modal.dart
Due: none

modify url
  flutter/app/lib/domain/utils/base_url.dart
Due: none

fix env prod
  client/src/environments/environment.prod.ts
  flutter/app/lib/pages/classic_game_page.dart
Due: build_angular_client

fix chat mobile
  flutter/app/lib/pages/login_page.dart
Due: none

Feature/chat mobile
  client/src/environments/environment.prod.ts
  flutter/app/lib/domain/utils/base_url.dart
  flutter/app/lib/pages/login_page.dart
Due: build_angular_client

Fix/console loh
  client/src/environments/environment.prod.ts
  server/app/services/socket-manager-service/chat.service.ts
  server/app/services/socket-manager-service/game-creation.service.ts
Due: build_backend, build_angular_client

added language and theme support for detached chat
  client/main.js
  client/src/app/components/chat-panel-detached/room-add/room-add.component.html
  client/src/app/components/chat-panel-detached/room-add/room-add.component.ts
  client/src/app/components/chat-panel-detached/room-create/room-create.component.html
  client/src/app/components/chat-panel-detached/room-search/room-search.component.html
  client/src/app/components/chat-panel/room-add/room-add.component.html
  client/src/app/components/chat-panel/room-add/room-add.component.ts
  client/src/app/components/chat-panel/room-create/room-create.component.html
  client/src/app/components/user-profil-information/user-profil-information.component.ts
  client/src/app/services/chat-service/chat-manager-detached.service.ts
  client/src/app/services/chat-service/chat-manager.service.ts
Due: build_angular_client

hide menu
  client/main.js
Due: build_angular_client

Feature/chat mobile
  client/main.js
  client/src/app/components/chat-panel-detached/room-add/room-add.component.html
  client/src/app/components/chat-panel-detached/room-add/room-add.component.ts
  client/src/app/components/chat-panel-detached/room-create/room-create.component.html
  client/src/app/components/chat-panel-detached/room-search/room-search.component.html
  client/src/app/components/chat-panel/room-add/room-add.component.html
  client/src/app/components/chat-panel/room-add/room-add.component.ts
  client/src/app/components/chat-panel/room-create/room-create.component.html
  client/src/app/components/user-profil-information/user-profil-information.component.ts
  client/src/app/services/chat-service/chat-manager-detached.service.ts
  client/src/app/services/chat-service/chat-manager.service.ts
Due: build_angular_client

good morning america
  client/src/app/modules/app-routing.module.ts
  client/src/app/pages/login-page/login-page.component.ts
  client/src/environments/environment.prod.ts
  server/app/services/socket-manager-service/game-creation.service.ts
  server/app/services/socket-manager-service/game-state.service.ts
Due: build_backend, build_angular_client

solve
  client/src/app/modules/app-routing.module.ts
  client/src/app/pages/login-page/login-page.component.ts
  client/src/environments/environment.prod.ts
  flutter/app/lib/domain/utils/base_url.dart
  flutter/app/lib/pages/waiting_page.dart
Due: build_angular_client

Fix/server
  client/src/app/modules/app-routing.module.ts
  client/src/environments/environment.prod.ts
  flutter/app/lib/domain/utils/base_url.dart
  flutter/app/lib/pages/waiting_page.dart
Due: build_angular_client

various fixes
  client/src/app/pages/game-page/game-page.component.html
  flutter/app/lib/pages/waiting_page.dart
  server/app/services/socket-manager-service/game-play-manager.service.ts
Due: build_backend, build_angular_client

Feature/chat mobile
  client/src/app/pages/game-page/game-page.component.html
  server/app/services/socket-manager-service/game-play-manager.service.ts
Due: build_backend, build_angular_client

lol
  flutter/app/lib/domain/services/game_manager_service.dart
Due: none

Fix/help
  flutter/app/lib/domain/services/game_manager_service.dart
Due: none

fix observateurs
  client/package.json
  flutter/app/lib/components/current_players.dart
  flutter/app/lib/domain/models/observe_game_data_request.dart
  flutter/app/lib/domain/models/requests/observe_game_request.dart
  flutter/app/lib/domain/models/user_model.dart
  flutter/app/lib/domain/services/difference_detection_service.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/pages/classic_game_page.dart
  flutter/app/lib/pages/main_page.dart
Due: build_angular_client

fixed window close
  client/main.js
  client/src/app/services/chat-service/chat-manager-detached.service.ts
  client/src/app/services/chat-service/chat-manager.service.ts
Due: build_angular_client

Fix/window chat
  client/main.js
  client/src/app/services/chat-service/chat-manager-detached.service.ts
  client/src/app/services/chat-service/chat-manager.service.ts
Due: build_angular_client

readme
  server/README.md
Due: build_backend

Fix/ui
  client/src/app/components/app-logo/app-logo.component.html
  client/src/app/components/exit-game-button/exit-game-button.component.html
  client/src/app/components/game-card/game-card.component.html
  client/src/app/components/game-card/game-card.component.scss
  client/src/app/components/page-header/page-header.component.html
  client/src/app/components/page-header/page-header.component.scss
  client/src/app/pages/join-game-selection/join-game-selection.component.html
  client/src/app/pages/join-game-selection/join-game-selection.component.scss
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/pages/main-page/main-page.component.scss
  client/src/app/pages/waiting-room/waiting-room.component.html
  client/src/app/pages/waiting-room/waiting-room.component.scss
  client/src/styles.scss
Due: build_angular_client

Update README.md
  README.md
Due: none

Créé à l'aide de Colab
  INF8225_TP3_2025.ipynb
Due: none
