Repository margielamob/Cherches-Trouves-Gagnes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_angular_client

build_backend:
  stage: build_backend
  script:
  - echo "building the server..."
  - cd server
  - npm ci
  - npm run build

build_angular_client:
  stage: build_angular_client
  script:
  - echo "building the angular client..."
  - cd client
  - npm ci
  - npm install -g @angular/cli
  - ng build

pretty fucking clean imo
  client/src/app/components/dialog-game-over/dialog-game-over.component.ts
  client/src/app/components/play-area/play-area.component.ts
  client/src/app/components/replay-bar/replay-bar.component.html
  client/src/app/components/replay-bar/replay-bar.component.ts
  client/src/app/components/timer-stopwatch/timer-stopwatch.component.html
  client/src/app/components/timer-stopwatch/timer-stopwatch.component.ts
  client/src/app/services/replay-service/replay.service.ts
Due: build_angular_client

made some change to smoothen things
  client/src/app/components/replay-bar/replay-bar.component.html
  client/src/app/components/replay-bar/replay-bar.component.ts
  client/src/app/services/replay-service/replay-interfaces.ts
  client/src/app/services/replay-service/replay.service.ts
Due: build_angular_client

Feature/user stats
  client/src/app/components/analyse.dart
  client/src/app/components/dialog-game-over/dialog-game-over.component.ts
  client/src/app/components/differences-area/differences-area.component.ts
  client/src/app/components/replay-bar/replay-bar.component.ts
  client/src/app/components/timer-stopwatch/timer-stopwatch.component.ts
  client/src/app/components/user-profil-information/user-profil-information.component.html
  client/src/app/components/user-profil-information/user-profil-information.component.scss
  client/src/app/components/user-statistic/user-statistic.component.html
  client/src/app/components/user-statistic/user-statistic.component.scss
  client/src/app/components/user-statistic/user-statistic.component.ts
  client/src/app/interfaces/user.ts
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/pages/sign-up-page/sign-up-page.component.ts
  client/src/app/services/differences-detection-handler/differences-detection-handler.service.ts
  client/src/app/services/user-service/user.service.ts
  common/socket-event.ts
  flutter/app/lib/components/user_personal_info.dart
  flutter/app/lib/domain/models/user_data.dart
  flutter/app/lib/domain/services/auth_service.dart
  flutter/app/lib/domain/services/clock_service.dart
  flutter/app/lib/domain/services/end_game_service.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/services/personal_user_service.dart
  flutter/app/lib/domain/services/socket_service.dart
  flutter/app/lib/domain/utils/socket_events.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/sign_up_page.dart
  flutter/app/lib/pages/waiting_page.dart
  server/app/services/socket-manager-service/socket-manager-service.service.ts
Due: build_backend, build_angular_client

Feature/game limited time
  client/src/app/app.module.ts
  client/src/app/components/create-join-game-dialogue/create-join-game-dialogue.component.html
  client/src/app/components/create-join-game-dialogue/create-join-game-dialogue.component.spec.ts
  client/src/app/components/create-join-game-dialogue/create-join-game-dialogue.component.ts
  client/src/app/components/dialog-game-over/dialog-game-over.component.ts
  client/src/app/components/dialog-set-up-game/dialog-set-up-game/dialog-set-up-game.component.html
  client/src/app/components/dialog-set-up-game/dialog-set-up-game/dialog-set-up-game.component.ts
  client/src/app/components/game-card-buttons/game-card-buttons.component.ts
  client/src/app/components/game-card/game-card.component.html
  client/src/app/components/game-card/game-card.component.scss
  client/src/app/components/game-card/game-card.component.ts
  client/src/app/components/play-area/play-area.component.spec.ts
  client/src/app/components/play-area/play-area.component.ts
  client/src/app/components/timer-stopwatch/timer-stopwatch.component.ts
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/pages/main-page/main-page.component.ts
  client/src/app/pages/waiting-room/waiting-room.component.ts
  client/src/app/services/chat-service/chat-manager.service.ts
  client/src/app/services/differences-detection-handler/differences-detection-handler.service.ts
  client/src/app/services/game-information-handler/game-information-handler.service.ts
  client/src/app/services/joinable-game/joinable-game.service.ts
  client/src/app/services/replay-service/replay.service.ts
  client/src/app/services/time-formatter/time-formatter.service.ts
  common/game-id.ts
  common/limitedGame.ts
  common/socket-event.ts
  server/app/classes/game/game.ts
  server/app/services/game-manager-service/game-manager.service.ts
  server/app/services/socket-manager-service/chat.service.ts
  server/app/services/socket-manager-service/game-creation.service.ts
  server/app/services/socket-manager-service/game-state.service.ts
  server/app/services/socket-manager-service/gameplay.service.ts
  server/app/services/socket-manager-service/socket-manager-service.service.ts
  server/app/services/timer-service/timer.service.ts
Due: build_backend, build_angular_client

Fix/dev
  flutter/app/lib/components/end_game_dialog.dart
  flutter/app/lib/components/user_personal_info.dart
  flutter/app/lib/domain/services/end_game_service.dart
  flutter/app/lib/domain/services/personal_user_service.dart
  flutter/app/lib/domain/services/profile_page_manager.dart
  flutter/app/lib/domain/themes/theme_constantes.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/main_page.dart
  flutter/app/lib/pages/reset_password_page.dart
Due: none

fix
  flutter/app/flutter_01.png
  flutter/app/lib/domain/services/profile_page_manager.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/main_page.dart
  flutter/app/lib/pages/reset_password_page.dart
Due: none

saving
  client/src/app/components/replay-bar/replay-bar.component.ts
  client/src/app/components/timer-stopwatch/timer-stopwatch.component.ts
  client/src/app/services/replay-service/replay-interfaces.ts
  server/app/services/socket-manager-service/game-play-manager.service.ts
  server/app/services/socket-manager-service/socket-manager-service.service.ts
Due: build_backend, build_angular_client

saving
  client/src/app/services/replay-service/replay.service.ts
Due: build_angular_client

deleting test
  client/src/app/components/dialog-game-over/dialog-game-over.component.spec.ts
Due: build_angular_client

Fix/progress bar
  client/src/app/components/dialog-game-over/dialog-game-over.component.html
  client/src/app/components/dialog-game-over/dialog-game-over.component.spec.ts
  client/src/app/components/dialog-game-over/dialog-game-over.component.ts
  client/src/app/components/play-area/play-area.component.ts
  client/src/app/components/replay-bar/replay-bar.component.html
  client/src/app/components/replay-bar/replay-bar.component.ts
  client/src/app/components/timer-stopwatch/timer-stopwatch.component.html
  client/src/app/components/timer-stopwatch/timer-stopwatch.component.ts
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/services/differences-detection-handler/differences-detection-handler.service.ts
  client/src/app/services/mouse-handler/mouse-handler.service.ts
  client/src/app/services/replay-service/replay-interfaces.ts
  client/src/app/services/replay-service/replay.service.ts
  server/app/services/socket-manager-service/game-play-manager.service.ts
  server/app/services/socket-manager-service/socket-manager-service.service.ts
Due: build_backend, build_angular_client

fixed bug for other players
  client/src/app/components/play-area/play-area.component.ts
  client/src/app/components/replay-bar/replay-bar.component.html
  client/src/app/components/replay-bar/replay-bar.component.ts
  client/src/app/components/timer-stopwatch/timer-stopwatch.component.ts
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/services/replay-service/replay.service.ts
  common/socket-event.ts
  server/app/services/socket-manager-service/socket-manager-service.service.ts
Due: build_backend, build_angular_client

Fix/progress bar
  client/src/app/components/play-area/play-area.component.ts
  client/src/app/components/replay-bar/replay-bar.component.html
  client/src/app/components/replay-bar/replay-bar.component.ts
  client/src/app/components/timer-stopwatch/timer-stopwatch.component.ts
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/services/replay-service/replay.service.ts
  common/socket-event.ts
  server/app/services/socket-manager-service/socket-manager-service.service.ts
Due: build_backend, build_angular_client

fix gameStats, still gameAverageTimer
  flutter/app/lib/components/end_game_dialog.dart
  flutter/app/lib/components/user_personal_info.dart
  flutter/app/lib/domain/services/end_game_service.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/pages/classic_game_page.dart
Due: none

fix
  flutter/app/lib/domain/models/requests/initial_timer_request.dart
  flutter/app/lib/domain/services/game_manager_service.dart
Due: none

fix game
  flutter/app/lib/domain/models/requests/start_clock_request.dart
  flutter/app/lib/domain/services/end_game_service.dart
  flutter/app/lib/domain/services/game_manager_service.dart
Due: none

Progression bars now shows events client léger side
  flutter/app/lib/components/clock.dart
  flutter/app/lib/components/logout_dialog.dart
  flutter/app/lib/components/video_player.dart
  flutter/app/lib/domain/models/game_event.dart
  flutter/app/lib/domain/models/replay_bar_model.dart
  flutter/app/lib/domain/services/clock_service.dart
  flutter/app/lib/domain/services/difference_detection_service.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/services/game_replay_service.dart
  flutter/app/lib/domain/services/socket_service.dart
  flutter/app/lib/domain/services/time_formatter_service.dart
  flutter/app/lib/domain/services/video_replay_service.dart
  flutter/app/lib/domain/utils/socket_events.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/classic_game_page.dart
Due: none

Fix/user stats
  client/src/app/components/timer-stopwatch/timer-stopwatch.component.ts
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/services/game-information-handler/game-information-handler.service.ts
  flutter/app/lib/domain/models/requests/timer_request.dart
  flutter/app/lib/domain/services/difference_detection_service.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/services/reachable_games_manager.dart
  flutter/app/lib/pages/classic_game_page.dart
Due: build_angular_client

fixed a bug in replay
  client/src/app/components/replay-bar/replay-bar.component.html
  client/src/app/components/replay-bar/replay-bar.component.ts
  client/src/app/services/replay-service/event-array.ts
  client/src/app/services/replay-service/replay.service.ts
Due: build_angular_client

Limited time game
  flutter/app/lib/components/classic_game_dialog.dart
  flutter/app/lib/components/limited_constants_dialog.dart
  flutter/app/lib/domain/models/limited_game_model.dart
  flutter/app/lib/domain/models/requests/create_limited_game_request.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/utils/socket_events.dart
Due: none

Limited time game
  client/src/app/services/game-information-handler/game-information-handler.service.ts
  flutter/app/lib/components/limited_constants_dialog.dart
  flutter/app/lib/domain/models/limited_game_model.dart
  flutter/app/lib/domain/models/requests/joinable_games_request.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/services/game_users_manager.dart
  flutter/app/lib/domain/services/reachable_games_manager.dart
Due: build_angular_client

fixed some bugs and having opponents score
  client/src/app/components/differences-area/differences-area.component.html
  client/src/app/components/differences-area/differences-area.component.ts
  client/src/app/components/replay-bar/replay-bar.component.ts
  client/src/app/components/timer-stopwatch/timer-stopwatch.component.ts
  client/src/app/services/game-information-handler/game-information-handler.service.ts
  client/src/app/services/replay-service/replay.service.ts
Due: build_angular_client

Activer le mode de jeux replay
  flutter/app/lib/components/video_player.dart
  flutter/app/lib/domain/services/game_replay_service.dart
  flutter/app/lib/domain/services/personal_user_service.dart
  flutter/app/lib/domain/utils/base_url.dart
Due: none

Revert "Merge branch 'feat/slider-bar-client-léger' into 'dev'"
  flutter/app/lib/components/video_player.dart
  flutter/app/lib/domain/services/game_replay_service.dart
  flutter/app/lib/domain/services/personal_user_service.dart
  flutter/app/lib/domain/utils/base_url.dart
Due: none

Ajout du slider sur le client léger
  flutter/app/lib/components/video_player.dart
  flutter/app/lib/domain/services/game_replay_service.dart
  flutter/app/lib/domain/utils/base_url.dart
Due: none

Show user scores in replay mode
  flutter/app/lib/components/video_player.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/services/game_replay_service.dart
  flutter/app/lib/domain/services/game_users_manager.dart
  flutter/app/lib/domain/services/global_variables.dart
  flutter/app/lib/domain/utils/base_url.dart
  flutter/app/lib/main.dart
Due: none

display time
  flutter/app/lib/domain/services/game_replay_service.dart
  flutter/app/lib/domain/utils/base_url.dart
  flutter/app/lib/pages/classic_game_page.dart
Due: none

remove the offset by 1
  flutter/app/lib/domain/services/game_replay_service.dart
Due: none

the first second is not supppose to count
  flutter/app/lib/domain/services/game_replay_service.dart
Due: none

when using the replay button, the time goes back to where it was
  flutter/app/lib/domain/services/game_replay_service.dart
Due: none

remove possiblity to go back from a waiting room as it introduce a bug
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/services/game_replay_service.dart
Due: none

remove bug from chrono
  flutter/app/lib/domain/services/game_replay_service.dart
Due: none

Feat/chrono client léger reprise
  flutter/app/lib/domain/services/game_replay_service.dart
  flutter/app/lib/pages/classic_game_page.dart
Due: none

Feat/allow different speed
  flutter/app/lib/domain/services/game_replay_service.dart
Due: none

changed speed for x1,x2,x3 and stop sound when playing
  flutter/app/lib/components/video_player.dart
  flutter/app/lib/domain/models/replay_bar_model.dart
  flutter/app/lib/domain/services/game_replay_service.dart
  flutter/app/lib/domain/services/sound_service.dart
  flutter/app/lib/domain/utils/base_url.dart
Due: none

Avoid leaving game open when leaving waiting room
  flutter/app/lib/components/custom_app_bar.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/pages/waiting_page.dart
Due: none

Feature/config lang flutter
  flutter/app/l10n.yaml
  flutter/app/lib/components/user_personal_info.dart
  flutter/app/lib/domain/services/personal_user_service.dart
  flutter/app/lib/domain/services/profile_page_manager.dart
  flutter/app/lib/l10n/app_en.arb
  flutter/app/lib/l10n/app_fr.arb
  flutter/app/lib/main.dart
  flutter/app/lib/pages/main_page.dart
  flutter/app/pubspec.lock
  flutter/app/pubspec.yaml
Due: none

Client léger temps limité
  flutter/app/lib/domain/models/limited_data_model.dart
  flutter/app/lib/domain/models/requests/play_limited_request.dart
  flutter/app/lib/domain/services/game_manager_service.dart
  flutter/app/lib/domain/utils/vec2.dart
Due: none

now can upload jpg and png
  client/src/app/components/dialog-upload-form/dialog-upload-form.component.html
  client/src/app/components/dialog-upload-form/dialog-upload-form.component.ts
  client/src/app/constants/canvas.ts
  client/src/app/interfaces/image-correct.ts
  client/src/app/services/replay-service/replay.service.ts
Due: build_angular_client

observer
  client/src/app/components/create-join-game-dialogue/create-join-game-dialogue.component.ts
  client/src/app/components/differences-area/differences-area.component.ts
  client/src/app/components/game-card-buttons/game-card-buttons.component.html
  client/src/app/components/game-card-buttons/game-card-buttons.component.ts
  client/src/app/components/play-area/play-area.component.ts
  client/src/app/services/differences-detection-handler/differences-detection-handler.service.ts
  client/src/app/services/game-information-handler/game-information-handler.service.ts
  common/game-id.ts
  common/socket-event.ts
  server/app/classes/game/game.ts
  server/app/services/game-manager-service/game-manager.service.ts
  server/app/services/socket-manager-service/game-play-manager.service.ts
  server/app/services/socket-manager-service/game-state.service.ts
Due: build_backend, build_angular_client

features done only notif left
  client/src/app/components/chat-panel/chat-feed/chat-feed.component.ts
  client/src/app/services/chat-service/chat-manager.service.ts
  client/src/app/services/communication-socket/communication-socket.service.ts
  common/chat.ts
  common/socket-event.ts
  flutter/app/lib/components/chat/chat_feed.dart
  flutter/app/lib/components/chat/room_add.dart
  flutter/app/lib/components/chat/room_card.dart
  flutter/app/lib/components/chat/room_list.dart
  flutter/app/lib/components/chat/room_search.dart
  flutter/app/lib/domain/models/chat_model.dart
  flutter/app/lib/domain/services/chat_service.dart
  flutter/app/lib/domain/utils/socket_events.dart
  flutter/app/lib/pages/main_page.dart
  server/app/services/socket-manager-service/chat.service.ts
  server/app/services/socket-manager-service/socket-manager-service.service.ts
Due: build_backend, build_angular_client

Path conditions:
  build_backend: any of: server/**/*, common/**/*
  build_angular_client: any of: client/**/*, common/**/*
