Repository margielamob/Cherches-Trouves-Gagnes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_angular_client

.gitlab-ci.yml:

image: node:14

.only-angular_client: &only-angular_client
  only:
    refs:
      - main
      - merge_requests
    changes:
      - client/**/*
      - common/**/*

.only-backend: &only-backend
  only:
    refs:
      - main
      - merge_requests
    changes:
      - server/**/*
      - common/**/*

stages:
  - build_angular_client
  - build_backend

build_backend:
  stage: build_backend
  <<: *only-backend
  script:
    - echo "building the server..."
    - cd server
    - npm ci
    - npm run build

build_angular_client:
  stage: build_angular_client
  <<: *only-angular_client
  script:
    - echo "building the angular client..."
    - cd client
    - npm ci
    - npm install -g @angular/cli
    - ng build

solve last bug
  client/src/app/components/user-profil-information/user-profil-information.component.ts
Due: build_angular_client

Refactor: Moved socket event listeners to separate services
  .gitignore
  server/app/server.ts
  server/app/services/socket-manager-service/chat.service.ts
  server/app/services/socket-manager-service/game-creation.service.ts
  server/app/services/socket-manager-service/game-state.service.ts
  server/app/services/socket-manager-service/gameplay.service.ts
  server/app/services/socket-manager-service/server-socket-manager.service.ts
  server/app/services/socket-manager-service/socket-manager-service.service.ts
Due: build_backend

admin page almost done
  flutter/app/lib/components/card-feed/card-feed.dart
  flutter/app/lib/components/carousel.dart
  flutter/app/lib/components/game-card/admin-card-data.dart
  flutter/app/lib/components/game-card/admin-card-widget.dart
  flutter/app/lib/components/game-card/card-data.dart
  flutter/app/lib/data/score.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/admin-page.dart
  flutter/app/lib/services/app-bar-service.dart
  flutter/app/lib/services/card-feed-service.dart
  flutter/app/lib/services/carousel-service.dart
  flutter/app/lib/services/http-client-service.dart
  flutter/app/macos/Flutter/GeneratedPluginRegistrant.swift
  flutter/app/pubspec.lock
  flutter/app/pubspec.yaml
Due: none

setting back default route to login
  flutter/app/lib/main.dart
Due: none

removed debug label
  flutter/app/lib/main.dart
Due: none

add flutter to pipeline
  .gitlab-ci.yml
Due: none

changed installation
  .gitlab-ci.yml
Due: none

update installation of flutter
  .gitlab-ci.yml
Due: none

update pipeline
  .gitlab-ci.yml
Due: none

im going to end this all
  .gitlab-ci.yml
Due: none

jk
  .gitlab-ci.yml
Due: none

what the f
  .gitlab-ci.yml
Due: none

Immmm sooo tired
  .gitlab-ci.yml
Due: none

adding update
  .gitlab-ci.yml
Due: none

Setup de GetIt pour les injections de dependance
  flutter/app/lib/components/card-feed/card-feed.dart
  flutter/app/lib/components/game-card/admin-card-data.dart
  flutter/app/lib/components/game-card/admin-card-widget.dart
  flutter/app/lib/components/game-card/card-data.dart
  flutter/app/lib/components/logout-dialog.dart
  flutter/app/lib/data/score.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/admin-page.dart
  flutter/app/lib/services/app-bar-service.dart
  flutter/app/lib/services/auth-service.dart
  flutter/app/lib/services/card-feed-service.dart
  flutter/app/lib/services/http-client-service.dart
  flutter/app/lib/themes/default-theme.dart
  flutter/app/macos/Flutter/GeneratedPluginRegistrant.swift
  flutter/app/pubspec.lock
  flutter/app/pubspec.yaml
Due: none

trying soomething
  .gitlab-ci.yml
Due: none

fix
  .gitlab-ci.yml
Due: none

try
  .gitlab-ci.yml
Due: none

added rooms to chat
  client/src/app/app.module.ts
  client/src/app/components/chat-panel/chat-feed/chat-feed.component.html
  client/src/app/components/chat-panel/chat-feed/chat-feed.component.scss
  client/src/app/components/chat-panel/chat-feed/chat-feed.component.ts
  client/src/app/components/chat-panel/chat-list/chat-list.component.html
  client/src/app/components/chat-panel/chat-list/chat-list.component.scss
  client/src/app/components/chat-panel/chat-list/chat-list.component.ts
  client/src/app/components/chat-panel/chat-panel/chat-panel.component.html
  client/src/app/components/chat-panel/chat-panel/chat-panel.component.scss
  client/src/app/components/chat-panel/chat-panel/chat-panel.component.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/services/chat-service/chat-manager.service.ts
  common/socket-event.ts
  server/app/services/socket-manager-service/chat.service.ts
Due: build_backend, build_angular_client

added room creation
  .gitignore
  client/src/app/app.module.ts
  client/src/app/components/chat-panel/chat-feed/chat-feed.component.ts
  client/src/app/components/chat-panel/chat-list/chat-list.component.html
  client/src/app/components/chat-panel/chat-list/chat-list.component.scss
  client/src/app/components/chat-panel/chat-list/chat-list.component.ts
  client/src/app/components/chat-panel/chat-panel/chat-panel.component.html
  client/src/app/components/chat-panel/chat-panel/chat-panel.component.ts
  client/src/app/components/chat-panel/room-create/room-create.component.html
  client/src/app/components/chat-panel/room-create/room-create.component.scss
  client/src/app/components/chat-panel/room-create/room-create.component.spec.ts
  client/src/app/components/chat-panel/room-create/room-create.component.ts
  client/src/app/components/chat-panel/room-search/room-search.component.html
  client/src/app/components/chat-panel/room-search/room-search.component.scss
  client/src/app/components/chat-panel/room-search/room-search.component.spec.ts
  client/src/app/components/chat-panel/room-search/room-search.component.ts
  client/src/app/services/chat-service/chat-display.service.ts
  client/src/app/services/chat-service/chat-manager.service.ts
  common/socket-event.ts
  server/app/services/socket-manager-service/chat.service.ts
Due: build_backend, build_angular_client

Feature/send verification email
  client/src/app/app.module.ts
  client/src/app/components/page-header/page-header.component.html
  client/src/app/guards/auth.guard.ts
  client/src/app/interfaces/user.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/pages/app/app.component.ts
  client/src/app/pages/email-verification/email-verification.component.html
  client/src/app/pages/email-verification/email-verification.component.scss
  client/src/app/pages/email-verification/email-verification.component.ts
  client/src/app/pages/sign-up-page/sign-up-page.component.html
  client/src/app/pages/sign-up-page/sign-up-page.component.ts
  client/src/app/services/authentication-service/authentication.service.ts
Due: build_angular_client

still remains the delete all
  flutter/app/lib/components/card-feed/card-feed.dart
  flutter/app/lib/components/game-card/admin-card-widget.dart
  flutter/app/lib/events/card-deleted-event.dart
  flutter/app/lib/events/card-selection-deleted-event.dart
  flutter/app/lib/main.dart
  flutter/app/lib/services/card-feed-service.dart
  flutter/app/lib/services/card-service.dart
  flutter/app/lib/services/http-client-service.dart
  flutter/app/pubspec.lock
  flutter/app/pubspec.yaml
Due: none

integration of electron
  client/angular.json
  client/main.js
  client/package-lock.json
  client/package.json
  client/src/index.html
Due: build_angular_client

added room join
  client/src/app/app.module.ts
  client/src/app/components/chat-panel/chat-list/chat-list.component.html
  client/src/app/components/chat-panel/chat-list/chat-list.component.scss
  client/src/app/components/chat-panel/chat-panel/chat-panel.component.html
  client/src/app/components/chat-panel/chat-panel/chat-panel.component.scss
  client/src/app/components/chat-panel/room-add/room-add.component.html
  client/src/app/components/chat-panel/room-add/room-add.component.scss
  client/src/app/components/chat-panel/room-add/room-add.component.ts
  client/src/app/components/chat-panel/room-create/room-create.component.ts
  client/src/app/components/chat-panel/room-search/room-search.component.html
  client/src/app/services/chat-service/chat-manager.service.ts
  common/socket-event.ts
  server/app/services/socket-manager-service/chat.service.ts
Due: build_backend, build_angular_client

setting page to change user profile
  flutter/app/lib/main.dart
  flutter/app/lib/pages/setting-page.dart
  flutter/app/lib/services/user-service.dart
  flutter/app/macos/Flutter/GeneratedPluginRegistrant.swift
  flutter/app/pubspec.lock
  flutter/app/pubspec.yaml
Due: none

Feature/delete account
  client/src/app/app.module.ts
  client/src/app/components/dialog-delete-account/dialog-delete-account.component.html
  client/src/app/components/dialog-delete-account/dialog-delete-account.component.scss
  client/src/app/components/dialog-delete-account/dialog-delete-account.component.ts
  client/src/app/pages/settings-page/settings-page.component.html
  client/src/app/pages/settings-page/settings-page.component.scss
  client/src/app/pages/settings-page/settings-page.component.ts
  client/src/app/services/authentication-service/authentication.service.ts
  client/src/app/services/user-service/user.service.ts
Due: build_angular_client

add classic game page
  flutter/app/assets/difference.bmp
  flutter/app/ios/Flutter/Debug.xcconfig
  flutter/app/ios/Flutter/Release.xcconfig
  flutter/app/ios/Podfile
  flutter/app/lib/main.dart
  flutter/app/lib/pages/classic-game-page.dart
  flutter/app/macos/Flutter/Flutter-Debug.xcconfig
  flutter/app/macos/Flutter/Flutter-Release.xcconfig
  flutter/app/macos/Podfile
Due: none

add circle over image
  flutter/app/lib/pages/classic-game-page.dart
Due: none

adding kind of structure for facepaint
  flutter/app/lib/pages/classic-game-page.dart
Due: none

I have no idea what I'm doing
  flutter/app/lib/pages/classic-game-page.dart
Due: none

use of future to make async call
  flutter/app/lib/pages/classic-game-page.dart
Due: none

swap between different painters
  flutter/app/lib/pages/classic-game-page.dart
Due: none

drawing over image
  flutter/app/lib/pages/classic-game-page.dart
Due: none

create a service for loading images
  flutter/app/lib/main.dart
  flutter/app/lib/pages/classic-game-page.dart
  flutter/app/lib/services/image-loader-service.dart
Due: none

create a singleton
  flutter/app/lib/pages/classic-game-page.dart
  flutter/app/lib/services/image-loader-service.dart
Due: none

use a different path so that I can load Images properly
  flutter/app/lib/pages/classic-game-page.dart
Due: none

use of snake case because it's a flutter standard
  flutter/app/lib/components/game_vignette/game_vignette.dart
  flutter/app/lib/main.dart
  flutter/app/lib/pages/classic_game_page.dart
  flutter/app/lib/services/image_loader_service.dart
Due: none

it makes more sense to have FacePainter private so that we prevent its import
  flutter/app/lib/components/game_vignette/game_vignette.dart
Due: none

change name of the painter to be more relevant
  flutter/app/lib/components/game_vignette/game_vignette.dart
  flutter/app/lib/pages/classic_game_page.dart
Due: none
